In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import requests
%matplotlib inline

My API key for US census is: 3ada656ee00c7265bca8c8209fa3e7b10f49f38b

In [6]:
request = requests.get('https://api.census.gov/data/2018/acs/acs1/profile?get=group(DP03)&for=us:1&key=3ada656ee00c7265bca8c8209fa3e7b10f49f38b')

In [11]:
import json

data1 = request.json

In [16]:
data1

In [24]:
len(data1())

2

In [19]:
os.getcwd()

'C:\\Users\\gothv\\Jupyter\\final_capstone'

In [18]:
with open('dp03_18.json', 'w') as json_file:
    json.dump(data1(), json_file)

In [21]:
pd.read_json('dp03_18.json', orient= 'columns')

,0,1,2,3,4,5,6,7,8,9,...,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098
0,GEO_ID,DP03_0001E,DP03_0001M,DP03_0001PE,DP03_0001PM,DP03_0002E,DP03_0002M,DP03_0002PE,DP03_0002PM,DP03_0003E,...,DP03_0135PMA,DP03_0136EA,DP03_0136MA,DP03_0136PEA,DP03_0136PMA,DP03_0137EA,DP03_0137MA,DP03_0137PEA,DP03_0137PMA,us
1,0100000US,262185951,45377,262185951,-888888888,165907527,144737,63.3,0.1,164898275,...,None,(X),(X),None,None,(X),(X),None,None,1

API Call Format:
http://api.census.gov/data/2018/acs/acs1/profile?get=group(DP03)&for=us:1&key=YOUR_KEY_GOES_HERE

## Trying to better understand the API Call Structure for U.S. Census

In [25]:
# Sample API Call- should return the DP02 profile for Texas
fake_request = requests.get('https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,DP02_0001E&for=state:48&key=3ada656ee00c7265bca8c8209fa3e7b10f49f38b')

In [26]:
fake_data = fake_request.json

In [29]:
len(fake_data())

2

In [31]:
fake_data()

[['NAME', 'DP02_0001E', 'state'], ['Texas', '9776083', '48']]

Ok, we're getting a little closer! What we have above is one row of data from the Data profiles section of the ACS 1year report from 2018. The DP02__## is only one of the variables. This query selected the name of the state, the info for just that variable and the code for the state. Let's see if we can go down more levels with the same variable.

In [81]:
# Sample call for counties in Texas for just that specific variable
sample.encoding = 'utf-8'
sample = requests.get('https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,DP02_0001E&for=state:48&key=3ada656ee00c7265bca8c8209fa3e7b10f49f38b')

In [82]:
sample.text

'[["NAME","DP02_0001E","state"],\n["Texas","9776083","48"]]'

In [117]:
# Trying again with more detail to my api call to see if I can actually get what I want to return
response = requests.get('https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,DP03_0001E&for=county:113&in=state:48&key=3ada656ee00c7265bca8c8209fa3e7b10f49f38b')
response.encoding = 'utf-8'

In [118]:
response.text

''