# Working Project Outline

[1. Importing Libraries](#1.-Importing-Libraries)

[2. Trying to better understand the API Call Structure for U.S. Census](#2.-Trying-to-better-understand-the-API-Call-Structure-for-U.S.-Census)

-[2.2: Setting up variables](#2.2:-Setting-up-variables)

[3. Getting Actual API Calls to Work!](#3.-Getting-Actual-API-Calls-to-Work!)

[4. Cleaning up API csv file!](#4.-Cleaning-up-API-csv-file!)

[5. Merging datasets/info!](#5.-Merging-datasets/info!)
- [5.1: 2014 DP03 and DP05](#5.1:-2014-DP03-and-DP05)
- [5.2: 2015 Data](#5.2:-2015-Data)
- [5.3: 2016 Data](#5.3:-2016-Data)
- [5.4: 2017 Data](#5.4:-2017-Data)

[6. Zipcode/County/Tract Relationships!](#6.-Zipcode/County/Tract-Relationships!)

[7. EDA and Other Crap!](#7.-EDA-and-Other-Crap!)

[8. Export Results to CSV](#8.-Export-Results-to-CSV)

## 1. Importing Libraries
[Return to outline](#Working-Project-Outline)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import requests
%matplotlib inline

My API key for US census is: 3ada656ee00c7265bca8c8209fa3e7b10f49f38b

In [3]:
# Checking what working directory I am in
os.getcwd()

'C:\\Users\\gothv\\Jupyter\\final_capstone'

API Call Format:
http://api.census.gov/data/2018/acs/acs1/profile?get=group(DP03)&for=us:1&key=YOUR_KEY_GOES_HERE

## 2. Trying to better understand the API Call Structure for U.S. Census
[Return to outline](#Working-Project-Outline)

In [4]:
# Sample API Call- should return the DP02 profile for Texas
fake_request = requests.get('https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,DP02_0001E&for=state:48&key=3ada656ee00c7265bca8c8209fa3e7b10f49f38b')

In [5]:
fake_data = fake_request.json

In [6]:
len(fake_data())

2

In [7]:
fake_data()

[['NAME', 'DP02_0001E', 'state'], ['Texas', '9776083', '48']]

Ok, we're getting a little closer! What we have above is one row of data from the Data profiles section of the ACS 1year report from 2018. The DP02__## is only one of the variables. This query selected the name of the state, the info for just that variable and the code for the state. Let's see if we can go down more levels with the same variable.

In [8]:
# Sample call for counties in Texas for just that specific variable
sample = requests.get('https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,DP02_0001E&for=state:48&key=3ada656ee00c7265bca8c8209fa3e7b10f49f38b')

In [9]:
sample.text

'[["NAME","DP02_0001E","state"],\n["Texas","9776083","48"]]'

## 2.2: Setting up variables

Making a comprehensive list of what variables I actually want to call from the census API:

**DP03:**
- 0001E- number of individuals 16 & over (pop able to work)
- 0001PE- % of pop working able
- 0004PE - % of pop employed
- 0005PE- % of pop unemployed
- 0062E- Mean household income 
- 0118PE- % of families in poverty last 12 months
- 0127PE- % of individuals in poverty last 12 months

**DP05:**
- 0001E- total pop
- 0002 E& PE- males
- 0003 E & PE- females
- 0018E- median age in years
- 0019PE- Under 18
- 0020PE- 16 & over
- 0021PE- 18 & over
- 00022PE - 21 & over
- 0023PE - 62 & older
- 0024PE - 65 and older
- 0037 PE- 1 race white
- 0038 PE- Black
- 0039PE- Native
- 0044PE- Asian
- 0071PE - Hispanic

## 3. Getting Actual API Calls to Work!
[Return to outline](#Working-Project-Outline)

In [192]:
# Defining my key 
key = '3ada656ee00c7265bca8c8209fa3e7b10f49f38b'

In [191]:
# Making a list of the DP03 features I want
dp03_features = ['DP03_0001E','DP03_0001PE', 'DP03_0004PE', 'DP03_0005PE', 'DP03_0062E', 'DP03_0118PE', 'DP03_0127PE']

In [188]:
# Making a list of features I want from DP05
dp05_features = ['DP05_0001E', 'DP05_0002E', 'DP05_0002PE', 'DP05_0003E', 'DP05_0003PE', 'DP05_0018E', 'DP05_0021PE',
                 'DP05_0022PE', 'DP05_0023PE','DP05_0024PE', 'DP05_0037PE', 'DP05_0038PE', 'DP05_0039PE', 'DP05_0044PE',
                 'DP05_0071PE']

In [13]:
# First test: seeing if I wrote the formatting for my API call correctly so it changes with my features list
for x in dp03_features:
   api_url = 'https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,{}&for=county:113&in=state:48&key={}'.format(x, key)
   print(api_url)

https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,DP03_0001E&for=county:113&in=state:48&key=3ada656ee00c7265bca8c8209fa3e7b10f49f38b
https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,DP03_0001PE&for=county:113&in=state:48&key=3ada656ee00c7265bca8c8209fa3e7b10f49f38b
https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,DP03_0004PE&for=county:113&in=state:48&key=3ada656ee00c7265bca8c8209fa3e7b10f49f38b
https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,DP03_0005PE&for=county:113&in=state:48&key=3ada656ee00c7265bca8c8209fa3e7b10f49f38b
https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,DP03_0062E&for=county:113&in=state:48&key=3ada656ee00c7265bca8c8209fa3e7b10f49f38b
https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,DP03_0118PE&for=county:113&in=state:48&key=3ada656ee00c7265bca8c8209fa3e7b10f49f38b
https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,DP03_0127PE&for=county:113&in=state:48&key=3ada656ee00c7265bca8c8209fa3e7b10f49f38b

In [194]:
# Adding sleep option so I don't blow up the API calls!
from time import sleep

In [195]:
# Opening my csv file to write results of API calls into!
f = open('2018_census_results.csv', 'w')

In [196]:
# Getting DP03 data from 2018
for x in dp03_features:
    sample = requests.get('https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,{}&for=county:113&in=state:48&key={}'.format(x, key))
    f.write(sample.text)
    sleep(1)
f.close()

In [197]:
# Re-opening my csv file to write results of API calls into!
f = open('2018_census_results.csv', 'a')

# Getting DP05 data from 2018
for x in dp05_features:
    sample = requests.get('https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,{}&for=county:113&in=state:48&key={}'.format(x, key))
    f.write(sample.text)
    sleep(1)
f.close()

AWESOME! The resulting csv file has all of the results of my API calls in it! The formatting is a bit wonky, but we will take care of that next!

## 4. Cleaning up API csv file!
[Return to outline](#Working-Project-Outline)

Let's set up a nameing convention now for all of our sub-census data:
- 2014 = df1
- 2015 = df2
- 2016 = df3
- 2017 = df4
- 2018 = df5

### IMPORTED NEW DF HERE!- NOTE: Move this section down below other dfs when making pretty!

In [362]:
# Let's load in the results of our API calls and make a dataframe!(Note: A little manual manipulation of the csv file was done first)
df5= pd.read_csv('2018_census_results.csv', header = None)

In [162]:
# Just how messed up is the formatting of our results?
df5.head()

,0,1,2,3,4,5,6,7
0,NaN,NaN,NaN,NaN,"[[""NAME""",DP03_0001E,state,county]
1,"[""Dallas County","Texas""",2022625.0,48.0,"113]][[""NAME""",DP03_0001PE,state,county]
2,"[""Dallas County","Texas""",2022625.0,48.0,"113]][[""NAME""",DP03_0004PE,state,county]
3,"[""Dallas County","Texas""",65.9,48.0,"113]][[""NAME""",DP03_0005PE,state,county]
4,"[""Dallas County","Texas""",2.9,48.0,"113]][[""NAME""",DP03_0062E,state,county]

In [25]:
#What does this file think the columns are?
df5.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [363]:
# Getting rid of the columns we don't really need
df5.drop(axis = 1, columns = [0, 1, 3, 4, 6, 7], inplace= True)

In [27]:
# Sanity check: did it actually drop the columns (and did I drop the right ones)?
df5.head()

           2            5
0        NaN   DP03_0001E
1  2022625.0  DP03_0001PE
2  2022625.0  DP03_0004PE
3       65.9  DP03_0005PE
4        2.9   DP03_0062E

In [364]:
# Renaming our columns to reflect values
df5.rename(columns = {2:'number', 5:'name'}, inplace = True)

In [29]:
df5.head()

      number         name
0        NaN   DP03_0001E
1  2022625.0  DP03_0001PE
2  2022625.0  DP03_0004PE
3       65.9  DP03_0005PE
4        2.9   DP03_0062E

In [365]:
# Reordering our columns
cols = ['name', 'number'] 
df5= df5[cols]

In [31]:
# Did it reorder our df?
df5

           name     number
0    DP03_0001E        NaN
1   DP03_0001PE  2022625.0
2   DP03_0004PE  2022625.0
3   DP03_0005PE       65.9
4    DP03_0062E        2.9
5   DP03_0118PE    59839.0
6   DP03_0127PE       35.3
7    DP05_0001E       26.8
8    DP05_0002E  2637772.0
9   DP05_0002PE  1301856.0
10   DP05_0003E       49.4
11  DP05_0003PE  1335916.0
12   DP05_0018E       50.6
13  DP05_0019PE       33.5
14  DP05_0020PE       26.1
15  DP05_0021PE       76.7
16  DP05_0022PE       73.9
17  DP05_0023PE       70.1
18  DP05_0024PE       13.6
19  DP05_0037PE       10.7
20  DP05_0039PE       60.6
21  DP05_0044PE        0.5
22  DP05_0071PE        6.4
23          NaN       40.5

Awesome! We now have the info semi-better looking. Our biggest issue now is that the numbers column is shifted down by one value. (Ie: the number for each feature is actually on the row below.)

In [366]:
# Shifting the "number' column values up by one
df5.number = df5.number.shift(-1)

In [33]:
df5.head()

          name     number
0   DP03_0001E  2022625.0
1  DP03_0001PE  2022625.0
2  DP03_0004PE       65.9
3  DP03_0005PE        2.9
4   DP03_0062E    59839.0

In [367]:
# Before dealing with our decimal points we need to drop the new, empty row
df5.dropna(inplace = True)

In [368]:
# Getting rid of the decimal points in our numbers
df5['number']= df5['number'].astype(int)

In [36]:
#Sanity check: are our numbers whole numbers now?
df5.head()

          name   number
0   DP03_0001E  2022625
1  DP03_0001PE  2022625
2  DP03_0004PE       65
3  DP03_0005PE        2
4   DP03_0062E    59839

In [369]:
# Resetting index to name column
df5.set_index(df5['name'], inplace = True)

In [38]:
df5.head()

                    name   number
name
DP03_0001E    DP03_0001E  2022625
DP03_0001PE  DP03_0001PE  2022625
DP03_0004PE  DP03_0004PE       65
DP03_0005PE  DP03_0005PE        2
DP03_0062E    DP03_0062E    59839

In [370]:
df5= df5.drop(axis= 1, columns= 'name').T

Before we can merge all of the subdata frames together we have to make this one match all of the others. This means we need the same ids, geography, and to fill in the info for each row with the general Dallas county info for this year!

In [171]:
df5.head()

name,DP03_0001E,DP03_0001PE,DP03_0004PE,DP03_0005PE,DP03_0062E,DP03_0118PE,DP03_0127PE,DP05_0001E,DP05_0002E,DP05_0002PE,...,DP05_0019PE,DP05_0020PE,DP05_0021PE,DP05_0022PE,DP05_0023PE,DP05_0024PE,DP05_0037PE,DP05_0039PE,DP05_0044PE,DP05_0071PE
number,2022625,2022625,65,2,59839,35,26,2637772,1301856,49,...,26,76,73,70,13,10,60,0,6,40

In [371]:
# Adding the columns I'm missing
df5['id']= pd.Series()
df5['id2'] = pd.Series()
df5['geography'] = pd.Series()

In [173]:
df5.head()

name,DP03_0001E,DP03_0001PE,DP03_0004PE,DP03_0005PE,DP03_0062E,DP03_0118PE,DP03_0127PE,DP05_0001E,DP05_0002E,DP05_0002PE,...,DP05_0022PE,DP05_0023PE,DP05_0024PE,DP05_0037PE,DP05_0039PE,DP05_0044PE,DP05_0071PE,id,id2,geography
number,2022625,2022625,65,2,59839,35,26,2637772,1301856,49,...,70,13,10,60,0,6,40,NaN,NaN,NaN

In [174]:
# Getting a list of the column names so we can rename
df5.columns.tolist()

['DP03_0001E',
 'DP03_0001PE',
 'DP03_0004PE',
 'DP03_0005PE',
 'DP03_0062E',
 'DP03_0118PE',
 'DP03_0127PE',
 'DP05_0001E',
 'DP05_0002E',
 'DP05_0002PE',
 'DP05_0003E',
 'DP05_0003PE',
 'DP05_0018E',
 'DP05_0019PE',
 'DP05_0020PE',
 'DP05_0021PE',
 'DP05_0022PE',
 'DP05_0023PE',
 'DP05_0024PE',
 'DP05_0037PE',
 'DP05_0039PE',
 'DP05_0044PE',
 'DP05_0071PE',
 'id',
 'id2',
 'geography']

In [372]:
# Reordering df to match others
df5= df5[['id', 'id2', 'geography', 'DP05_0001E', 'DP05_0002E', 'DP05_0002PE', 'DP05_0003E', 'DP05_0003PE', 'DP05_0018E', 'DP05_0021PE',
                 'DP05_0022PE', 'DP05_0023PE','DP05_0024PE', 'DP05_0037PE', 'DP05_0038PE', 'DP05_0039PE', 'DP05_0044PE',
                 'DP05_0071PE','DP03_0001E','DP03_0001PE', 'DP03_0004PE', 'DP03_0005PE', 'DP03_0062E', 'DP03_0118PE', 'DP03_0127PE' ]]

In [210]:
df5

name,id,id2,geography,DP05_0001E,DP05_0002E,DP05_0002PE,DP05_0003E,DP05_0003PE,DP05_0018E,DP05_0021PE,...,DP05_0039PE,DP05_0044PE,DP05_0071PE,DP03_0001E,DP03_0001PE,DP03_0004PE,DP03_0005PE,DP03_0062E,DP03_0118PE,DP03_0127PE
number,NaN,NaN,NaN,2637772,1301856,49,1335916,50,33,73,...,0,6,40,2022625,2022625,65,2,59839,35,26

In [212]:
# Renaming the columns to match others
df5_cols = {'DP05_0001E':'total_pop', 'DP05_0002E': 'male', 'DP05_0002PE': '%_male',
 'DP05_0003E':'female', 'DP05_0003PE': '%_female', 'DP05_0018E': 'median_age', 'DP05_0021PE' :'18_&_over', 
 'DP05_0022PE': '21_&_over', 'DP05_0023PE':'62_&_over', 'DP05_0024PE':'65_&_over',
 'DP05_0037PE': '%_white', 'DP05_0038PE':'%_black', 'DP05_0039PE': '%_native', 'DP05_0044PE': '%_asian', 
 'DP05_0071PE': '%_hispanic','DP03_0001E' : 'pop_over_16', 'DP03_0001PE': '%_pop_over_16',
 'DP03_0004PE': '%_employed', 'DP03_0005PE': '%_unemployed', 'DP03_0062E': 'median_household_income' ,
 'DP03_0118PE': '%_families_poverty', 'DP03_0127PE': '%_all_people_poverty'}

In [373]:
df5.rename(columns = df5_cols, inplace= True)

In [280]:
df5.head()

name,id,id2,geography,total_pop,male,%_male,female,%_female,median_age,18_&_over,...,%_native,%_asian,%_hispanic,pop_over_16,%_pop_over_16,%_employed,%_unemployed,median_household_income,%_families_poverty,%_all_people_poverty
number,NaN,NaN,NaN,2637772,1301856,49,1335916,50,33,73,...,0,6,40,2022625,2022625,65,2,59839,35,26

In [350]:
df5_dict= df5.to_dict()

In [351]:
df5_dict

{'id': {'number': nan},
 'id2': {'number': nan},
 'geography': {'number': nan},
 'total_pop': {'number': 2637772},
 'male': {'number': 1301856},
 '%_male': {'number': 49},
 'female': {'number': 1335916},
 '%_female': {'number': 50},
 'median_age': {'number': 33},
 '18_&_over': {'number': 73},
 '21_&_over': {'number': 70},
 '62_&_over': {'number': 13},
 '65_&_over': {'number': 10},
 '%_white': {'number': 60},
 '%_black': {'number': 22},
 '%_native': {'number': 0},
 '%_asian': {'number': 6},
 '%_hispanic': {'number': 40},
 'pop_over_16': {'number': 2022625},
 '%_pop_over_16': {'number': 2022625},
 '%_employed': {'number': 65},
 '%_unemployed': {'number': 2},
 'median_household_income': {'number': 59839},
 '%_families_poverty': {'number': 35},
 '%_all_people_poverty': {'number': 26}}

In [377]:
# Let's make a new dataframe that we can copy our values into
df5_new= df4.copy()

In [378]:
# Filling in 2018 county data for all 
df5_new['total_pop']= 2637772 
df5_new['male']= 1301856
df5_new['%_male'] = 49
df5_new['female'] =1335916
df5_new['%_female'] = 50
df5_new['median_age'] = 33
df5_new['18_&_over'] = 73
df5_new['21_&_over'] = 70
df5_new['62_&_over'] = 13
df5_new['65_&_over'] = 10
df5_new['%_white'] = 60
df5_new['%_black'] = 22
df5_new['%_native'] =  0
df5_new['%_asian'] =  6
df5_new['%_hispanic'] = 40
df5_new['pop_over_16'] = 2022625
df5_new['%_employed'] = 65
df5_new['%_unemployed'] = 2
df5_new['median_household_income'] =59839
df5_new['%_families_poverty'] = 35
df5_new['%_all_people_poverty'] = 26

In [379]:
# Dropping an extra column
df5_new.drop(axis= 1, columns= 'median_household_income', inplace= True )

In [380]:
df5_new

,id,id2,geography,total_pop,male,%_male,female,%_female,median_age,18_&_over,...,%_asian,%_hispanic,pop_over_16,%_pop_over_16,%_employed,%_unemployed,mean_household_income,%_families_poverty,%_all_people_poverty,year
0,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3240,65,2,179297,35,26,2017
1,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2358,65,2,176739,35,26,2017
2,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3145,65,2,116022,35,26,2017
3,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3614,65,2,155670,35,26,2017
4,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4792,65,2,60299,35,26,2017
5,1400000US48113000404,48113000404,"Census Tract 4.04, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3360,65,2,75984,35,26,2017
6,1400000US48113000405,48113000405,"Census Tract 4.05, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1917,65,2,45824,35,26,2017
7,1400000US48113000406,48113000406,"Census Tract 4.06, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,6938,65,2,54007,35,26,2017
8,1400000US48113000500,48113000500,"Census Tract 5, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,5232,65,2,114163,35,26,2017
9,1400000US48113000601,48113000601,"Census Tract 6.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,5345,65,2,80825,35,26,2017
10,1400000US48113000603,48113000603,"Census Tract 6.03, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4075,65,2,128187,35,26,2017
11,1400000US48113000605,48113000605,"Census Tract 6.05, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2513,65,2,111611,35,26,2017
12,1400000US48113000606,48113000606,"Census Tract 6.06, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2797,65,2,225903,35,26,2017
13,1400000US48113000701,48113000701,"Census Tract 7.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4631,65,2,131887,35,26,2017
14,1400000US48113000702,48113000702,"Census Tract 7.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2924,65,2,96310,35,26,2017
15,1400000US48113000800,48113000800,"Census Tract 8, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,6018,65,2,59780,35,26,2017
16,1400000US48113000900,48113000900,"Census Tract 9, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4123,65,2,69403,35,26,2017
17,1400000US48113001001,48113001001,"Census Tract 10.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1378,65,2,153596,35,26,2017
18,1400000US48113001002,48113001002,"Census Tract 10.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1588,65,2,98437,35,26,2017
19,1400000US48113001101,48113001101,"Census Tract 11.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3279,65,2,119116,35,26,2017
20,1400000US48113001102,48113001102,"Census Tract 11.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2182,65,2,157746,35,26,2017
21,1400000US48113001202,48113001202,"Census Tract 12.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2980,65,2,78076,35,26,2017
22,1400000US48113001203,48113001203,"Census Tract 12.03, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1194,65,2,96176,35,26,2017
23,1400000US48113001204,48113001204,"Census Tract 12.04, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2172,65,2,54585,35,26,2017
24,1400000US48113001301,48113001301,"Census Tract 13.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2268,65,2,82241,35,26,2017
25,1400000US48113001302,48113001302,"Census Tract 13.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1738,65,2,58775,35,26,2017
26,1400000US48113001400,48113001400,"Census Tract 14, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3241,65,2,66656,35,26,2017
27,1400000US48113001502,48113001502,"Census Tract 15.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2679,65,2,57886,35,26,2017
28,1400000US48113001503,48113001503,"Census Tract 15.03, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2742,65,2,38604,35,26,2017
29,1400000US48113001504,48113001504,"Census Tract 15.04, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1989,65,2,46888,35,26,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,1400000US48113019100,48113019100,"Census Tract 191, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,5019,65,2,74960,35,26,2017
500,1400000US48113019202,48113019202,"Census Tract 192.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3877,65,2,71855,35,26,2017
501,1400000US48113019203,48113019203,"Census Tract 192.03, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3127,65,2,101910,35,26,2017
502,1400000US48113019204,48113019204,"Census Tract 192.04, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,7375,65,2,79545,35,26,2017
503,1400000US48113019205,48113019205,"Census Tract 192.05, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2981,65,2,124611,35,26,2017
504,1400000US48113019206,48113019206,"Census Tract 192.06, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,5743,65,2,63451,35,26,2017
505,1400000US48113019208,48113019208,"Census Tract 192.08, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4492,65,2,46472,35,26,2017
506,1400000US48113019210,48113019210,"Census Tract 192.10, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3194,65,2,169735,35,26,2017
507,1400000US48113019211,48113019211,"Census Tract 192.11, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4381,65,2,65175,35,26,2017
508,1400000US48113019212,48113019212,"Census Tract 192.12, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2566,65,2,33056,35,26,2017
509,1400000US48113019213,48113019213,"Census Tract 192.13, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2695,65,2,29097,35,26,2017
510,1400000US48113019301,48113019301,"Census Tract 193.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2227,65,2,350834,35,26,2017
511,1400000US48113019302,48113019302,"Census Tract 193.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4604,65,2,235718,35,26,2017
512,1400000US48113019400,48113019400,"Census Tract 194, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3154,65,2,300720,35,26,2017
513,1400000US48113019501,48113019501,"Census Tract 195.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4959,65,2,368434,35,26,2017
514,1400000US48113019502,48113019502,"Census Tract 195.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3252,65,2,236404,35,26,2017
515,1400000US48113019600,48113019600,"Census Tract 196, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1699,65,2,330701,35,26,2017
516,1400000US48113019700,48113019700,"Census Tract 197, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1438,65,2,497033,35,26,2017
517,1400000US48113019800,48113019800,"Census Tract 198, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3695,65,2,319016,35,26,2017
518,1400000US48113019900,48113019900,"Census Tract 199, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3084,65,2,52507,35,26,2017
519,1400000US48113020000,48113020000,"Census Tract 200, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3428,65,2,178191,35,26,2017
520,1400000US48113020100,48113020100,"Census Tract 201, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1776,65,2,63874,35,26,2017
521,1400000US48113020200,48113020200,"Census Tract 202, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3127,65,2,36197,35,26,2017
522,1400000US48113020300,48113020300,"Census Tract 203, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1974,65,2,32711,35,26,2017
523,1400000US48113020400,48113020400,"Census Tract 204, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,7203,65,2,84713,35,26,2017
524,1400000US48113020500,48113020500,"Census Tract 205, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3557,65,2,27534,35,26,2017
525,1400000US48113020600,48113020600,"Census Tract 206, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1933,65,2,466855,35,26,2017
526,1400000US48113020700,48113020700,"Census Tract 207, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3992,65,2,81709,35,26,2017
527,1400000US48113980000,48113980000,"Census Tract 9800, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,0,65,2,-,35,26,2017
528,1400000US48113980100,48113980100,"Census Tract 9801, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,0,65,2,-,35,26,2017

In [381]:
df5= df5_new.copy()

In [382]:
df5

,id,id2,geography,total_pop,male,%_male,female,%_female,median_age,18_&_over,...,%_asian,%_hispanic,pop_over_16,%_pop_over_16,%_employed,%_unemployed,mean_household_income,%_families_poverty,%_all_people_poverty,year
0,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3240,65,2,179297,35,26,2017
1,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2358,65,2,176739,35,26,2017
2,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3145,65,2,116022,35,26,2017
3,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3614,65,2,155670,35,26,2017
4,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4792,65,2,60299,35,26,2017
5,1400000US48113000404,48113000404,"Census Tract 4.04, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3360,65,2,75984,35,26,2017
6,1400000US48113000405,48113000405,"Census Tract 4.05, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1917,65,2,45824,35,26,2017
7,1400000US48113000406,48113000406,"Census Tract 4.06, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,6938,65,2,54007,35,26,2017
8,1400000US48113000500,48113000500,"Census Tract 5, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,5232,65,2,114163,35,26,2017
9,1400000US48113000601,48113000601,"Census Tract 6.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,5345,65,2,80825,35,26,2017
10,1400000US48113000603,48113000603,"Census Tract 6.03, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4075,65,2,128187,35,26,2017
11,1400000US48113000605,48113000605,"Census Tract 6.05, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2513,65,2,111611,35,26,2017
12,1400000US48113000606,48113000606,"Census Tract 6.06, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2797,65,2,225903,35,26,2017
13,1400000US48113000701,48113000701,"Census Tract 7.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4631,65,2,131887,35,26,2017
14,1400000US48113000702,48113000702,"Census Tract 7.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2924,65,2,96310,35,26,2017
15,1400000US48113000800,48113000800,"Census Tract 8, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,6018,65,2,59780,35,26,2017
16,1400000US48113000900,48113000900,"Census Tract 9, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4123,65,2,69403,35,26,2017
17,1400000US48113001001,48113001001,"Census Tract 10.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1378,65,2,153596,35,26,2017
18,1400000US48113001002,48113001002,"Census Tract 10.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1588,65,2,98437,35,26,2017
19,1400000US48113001101,48113001101,"Census Tract 11.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3279,65,2,119116,35,26,2017
20,1400000US48113001102,48113001102,"Census Tract 11.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2182,65,2,157746,35,26,2017
21,1400000US48113001202,48113001202,"Census Tract 12.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2980,65,2,78076,35,26,2017
22,1400000US48113001203,48113001203,"Census Tract 12.03, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1194,65,2,96176,35,26,2017
23,1400000US48113001204,48113001204,"Census Tract 12.04, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2172,65,2,54585,35,26,2017
24,1400000US48113001301,48113001301,"Census Tract 13.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2268,65,2,82241,35,26,2017
25,1400000US48113001302,48113001302,"Census Tract 13.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1738,65,2,58775,35,26,2017
26,1400000US48113001400,48113001400,"Census Tract 14, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3241,65,2,66656,35,26,2017
27,1400000US48113001502,48113001502,"Census Tract 15.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2679,65,2,57886,35,26,2017
28,1400000US48113001503,48113001503,"Census Tract 15.03, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2742,65,2,38604,35,26,2017
29,1400000US48113001504,48113001504,"Census Tract 15.04, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1989,65,2,46888,35,26,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,1400000US48113019100,48113019100,"Census Tract 191, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,5019,65,2,74960,35,26,2017
500,1400000US48113019202,48113019202,"Census Tract 192.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3877,65,2,71855,35,26,2017
501,1400000US48113019203,48113019203,"Census Tract 192.03, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3127,65,2,101910,35,26,2017
502,1400000US48113019204,48113019204,"Census Tract 192.04, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,7375,65,2,79545,35,26,2017
503,1400000US48113019205,48113019205,"Census Tract 192.05, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2981,65,2,124611,35,26,2017
504,1400000US48113019206,48113019206,"Census Tract 192.06, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,5743,65,2,63451,35,26,2017
505,1400000US48113019208,48113019208,"Census Tract 192.08, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4492,65,2,46472,35,26,2017
506,1400000US48113019210,48113019210,"Census Tract 192.10, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3194,65,2,169735,35,26,2017
507,1400000US48113019211,48113019211,"Census Tract 192.11, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4381,65,2,65175,35,26,2017
508,1400000US48113019212,48113019212,"Census Tract 192.12, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2566,65,2,33056,35,26,2017
509,1400000US48113019213,48113019213,"Census Tract 192.13, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2695,65,2,29097,35,26,2017
510,1400000US48113019301,48113019301,"Census Tract 193.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,2227,65,2,350834,35,26,2017
511,1400000US48113019302,48113019302,"Census Tract 193.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4604,65,2,235718,35,26,2017
512,1400000US48113019400,48113019400,"Census Tract 194, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3154,65,2,300720,35,26,2017
513,1400000US48113019501,48113019501,"Census Tract 195.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,4959,65,2,368434,35,26,2017
514,1400000US48113019502,48113019502,"Census Tract 195.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3252,65,2,236404,35,26,2017
515,1400000US48113019600,48113019600,"Census Tract 196, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1699,65,2,330701,35,26,2017
516,1400000US48113019700,48113019700,"Census Tract 197, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1438,65,2,497033,35,26,2017
517,1400000US48113019800,48113019800,"Census Tract 198, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3695,65,2,319016,35,26,2017
518,1400000US48113019900,48113019900,"Census Tract 199, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3084,65,2,52507,35,26,2017
519,1400000US48113020000,48113020000,"Census Tract 200, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3428,65,2,178191,35,26,2017
520,1400000US48113020100,48113020100,"Census Tract 201, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1776,65,2,63874,35,26,2017
521,1400000US48113020200,48113020200,"Census Tract 202, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3127,65,2,36197,35,26,2017
522,1400000US48113020300,48113020300,"Census Tract 203, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1974,65,2,32711,35,26,2017
523,1400000US48113020400,48113020400,"Census Tract 204, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,7203,65,2,84713,35,26,2017
524,1400000US48113020500,48113020500,"Census Tract 205, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3557,65,2,27534,35,26,2017
525,1400000US48113020600,48113020600,"Census Tract 206, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,1933,65,2,466855,35,26,2017
526,1400000US48113020700,48113020700,"Census Tract 207, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,3992,65,2,81709,35,26,2017
527,1400000US48113980000,48113980000,"Census Tract 9800, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,0,65,2,-,35,26,2017
528,1400000US48113980100,48113980100,"Census Tract 9801, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,6,40,2022625,0,65,2,-,35,26,2017

Beautiful! We can now add this dataset to the other datasets to get our overall census data!

## 5. Merging datasets/info!
[Return to outline](#Working-Project-Outline)

### 5.1: 2014 DP03 and DP05
[Return to outline](#Working-Project-Outline)

In [67]:
# Importing the 2014 data
dp0314= pd.read_csv('ACS_14_5YR_DP03_with_ann.csv', header = 1)

In [45]:
dp0314.head()

,Id,Id2,Geography,Estimate; EMPLOYMENT STATUS - Population 16 years and over,Margin of Error; EMPLOYMENT STATUS - Population 16 years and over,Percent; EMPLOYMENT STATUS - Population 16 years and over,Percent Margin of Error; EMPLOYMENT STATUS - Population 16 years and over,Estimate; EMPLOYMENT STATUS - Population 16 years and over - In labor force,Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force,Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force,...,Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over,Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over,Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - People in families,Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - People in families,Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - People in families,Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - People in families,Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - Unrelated individuals 15 years and over,Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - Unrelated individuals 15 years and over,Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - Unrelated individuals 15 years and over,Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - Unrelated individuals 15 years and over
0,0500000US48113,48113,"Dallas County, Texas",1851637,1126,1851637,(X),1270697,4461,68.6,...,11.2,0.4,(X),(X),18.5,0.4,(X),(X),23.0,0.5
1,1400000US48001950100,48001950100,"Census Tract 9501, Anderson County, Texas",4252,391,4252,(X),2422,325,57.0,...,7.4,5.5,(X),(X),16.0,6.3,(X),(X),26.2,8.5
2,1400000US48001950401,48001950401,"Census Tract 9504.01, Anderson County, Texas",5789,496,5789,(X),187,93,3.2,...,0.0,100.0,(X),(X),28.6,33.3,(X),(X),41.4,29.0
3,1400000US48001950402,48001950402,"Census Tract 9504.02, Anderson County, Texas",5558,520,5558,(X),121,65,2.2,...,-,**,(X),(X),0.0,19.9,(X),(X),62.3,43.5
4,1400000US48001950500,48001950500,"Census Tract 9505, Anderson County, Texas",3366,387,3366,(X),1886,305,56.0,...,9.8,7.4,(X),(X),32.5,9.9,(X),(X),42.3,17.0

In [46]:
# What do our column names look like?
dp0314.columns

Index(['Id', 'Id2', 'Geography',
       'Estimate; EMPLOYMENT STATUS - Population 16 years and over',
       'Margin of Error; EMPLOYMENT STATUS - Population 16 years and over',
       'Percent; EMPLOYMENT STATUS - Population 16 years and over',
       'Percent Margin of Error; EMPLOYMENT STATUS - Population 16 years and over',
       'Estimate; EMPLOYMENT STATUS - Population 16 years and over - In labor force',
       'Margin of Error; EMPLOYMENT STATUS - Population 16 years and over - In labor force',
       'Percent; EMPLOYMENT STATUS - Population 16 years and over - In labor force',
       ...
       'Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over',
       'Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over',
       'Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - People in families',
       'Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - People in families',
       'Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - People in families',
       'Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - People in families',
       'Estimate; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - Unrelated individuals 15 years and over',
       'Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - Unrelated individuals 15 years and over',
       'Percent; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - Unrelated individuals 15 years and over',
       'Percent Margin of Error; PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL - 65 years and over - Unrelated individuals 15 years and over'],
      dtype='object', length=551)

In [3]:
# Creating a resuable function to help us clean up all column names 
def clean_columns(name):
    old_column_names= list(name.columns)
    new_column_names= [str(x).lower().replace(' ', '_').replace(';', '_').replace('-', '').replace('__', '_') for x in list(name.columns)]
    return name.rename(columns= dict(zip(old_column_names, new_column_names)), inplace = True)

In [68]:
clean_columns(dp0314)

In [5]:
# Sanity check: did our column names turn out like we wanted?
dp0314.head()

,id,id2,geography,estimate_employment_status_population_16_years_and_over,margin_of_error_employment_status_population_16_years_and_over,percent_employment_status_population_16_years_and_over,percent_margin_of_error_employment_status_population_16_years_and_over,estimate_employment_status_population_16_years_and_over_in_labor_force,margin_of_error_employment_status_population_16_years_and_over_in_labor_force,percent_employment_status_population_16_years_and_over_in_labor_force,...,percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over,percent_margin_of_error_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over,estimate_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_people_in_families,margin_of_error_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_people_in_families,percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_people_in_families,percent_margin_of_error_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_people_in_families,estimate_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_unrelated_individuals_15_years_and_over,margin_of_error_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_unrelated_individuals_15_years_and_over,percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_unrelated_individuals_15_years_and_over,percent_margin_of_error_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_unrelated_individuals_15_years_and_over
0,0500000US48113,48113,"Dallas County, Texas",1851637,1126,1851637,(X),1270697,4461,68.6,...,11.2,0.4,(X),(X),18.5,0.4,(X),(X),23.0,0.5
1,1400000US48001950100,48001950100,"Census Tract 9501, Anderson County, Texas",4252,391,4252,(X),2422,325,57.0,...,7.4,5.5,(X),(X),16.0,6.3,(X),(X),26.2,8.5
2,1400000US48001950401,48001950401,"Census Tract 9504.01, Anderson County, Texas",5789,496,5789,(X),187,93,3.2,...,0.0,100.0,(X),(X),28.6,33.3,(X),(X),41.4,29.0
3,1400000US48001950402,48001950402,"Census Tract 9504.02, Anderson County, Texas",5558,520,5558,(X),121,65,2.2,...,-,**,(X),(X),0.0,19.9,(X),(X),62.3,43.5
4,1400000US48001950500,48001950500,"Census Tract 9505, Anderson County, Texas",3366,387,3366,(X),1886,305,56.0,...,9.8,7.4,(X),(X),32.5,9.9,(X),(X),42.3,17.0

We have waaaaaayyyy too much information in this data set (all of Texas counties!) Let's start whittling this down to just Dallas County.

## Keeping Dallas County

In [69]:
# Getting rid of any counties outside of Dallas County
dp0314 = dp0314[dp0314['geography'].str.contains('Dallas County')]

In [7]:
# Sanity Check: Did it only keep Dallas County?
dp0314

,id,id2,geography,estimate_employment_status_population_16_years_and_over,margin_of_error_employment_status_population_16_years_and_over,percent_employment_status_population_16_years_and_over,percent_margin_of_error_employment_status_population_16_years_and_over,estimate_employment_status_population_16_years_and_over_in_labor_force,margin_of_error_employment_status_population_16_years_and_over_in_labor_force,percent_employment_status_population_16_years_and_over_in_labor_force,...,percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over,percent_margin_of_error_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over,estimate_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_people_in_families,margin_of_error_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_people_in_families,percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_people_in_families,percent_margin_of_error_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_people_in_families,estimate_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_unrelated_individuals_15_years_and_over,margin_of_error_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_unrelated_individuals_15_years_and_over,percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_unrelated_individuals_15_years_and_over,percent_margin_of_error_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_65_years_and_over_unrelated_individuals_15_years_and_over
0,0500000US48113,48113,"Dallas County, Texas",1851637,1126,1851637,(X),1270697,4461,68.6,...,11.2,0.4,(X),(X),18.5,0.4,(X),(X),23.0,0.5
1036,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",3234,269,3234,(X),2439,213,75.4,...,4.0,6.2,(X),(X),5.1,5.6,(X),(X),11.5,7.0
1037,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2288,141,2288,(X),1630,178,71.2,...,5.9,6.9,(X),(X),2.8,4.2,(X),(X),11.5,8.9
1038,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",2926,222,2926,(X),2587,217,88.4,...,14.1,22.9,(X),(X),1.3,2.2,(X),(X),5.2,3.3
1039,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",3721,313,3721,(X),3110,302,83.6,...,2.0,3.9,(X),(X),2.0,2.4,(X),(X),15.4,9.6
1040,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",4724,488,4724,(X),2706,288,57.3,...,40.0,21.1,(X),(X),23.9,14.6,(X),(X),49.5,10.0
1041,1400000US48113000404,48113000404,"Census Tract 4.04, Dallas County, Texas",3206,304,3206,(X),2265,215,70.6,...,5.4,6.0,(X),(X),18.9,15.5,(X),(X),10.7,4.7
1042,1400000US48113000405,48113000405,"Census Tract 4.05, Dallas County, Texas",1817,306,1817,(X),1433,248,78.9,...,30.6,38.3,(X),(X),33.3,17.6,(X),(X),34.0,10.3
1043,1400000US48113000406,48113000406,"Census Tract 4.06, Dallas County, Texas",5922,506,5922,(X),3934,439,66.4,...,7.5,10.2,(X),(X),20.2,10.8,(X),(X),32.9,16.0
1044,1400000US48113000500,48113000500,"Census Tract 5, Dallas County, Texas",4160,399,4160,(X),3434,397,82.5,...,7.4,8.5,(X),(X),29.3,17.9,(X),(X),12.3,4.2
1045,1400000US48113000601,48113000601,"Census Tract 6.01, Dallas County, Texas",5123,520,5123,(X),3759,493,73.4,...,4.1,6.1,(X),(X),29.5,15.3,(X),(X),26.0,8.5
1046,1400000US48113000603,48113000603,"Census Tract 6.03, Dallas County, Texas",3809,381,3809,(X),3363,345,88.3,...,0.0,18.5,(X),(X),0.0,2.3,(X),(X),10.0,4.7
1047,1400000US48113000605,48113000605,"Census Tract 6.05, Dallas County, Texas",2181,237,2181,(X),1818,213,83.4,...,0.0,14.7,(X),(X),13.3,13.4,(X),(X),11.3,5.5
1048,1400000US48113000606,48113000606,"Census Tract 6.06, Dallas County, Texas",2966,220,2966,(X),2175,229,73.3,...,2.2,3.4,(X),(X),2.8,4.7,(X),(X),4.4,2.7
1049,1400000US48113000701,48113000701,"Census Tract 7.01, Dallas County, Texas",4340,273,4340,(X),3850,286,88.7,...,0.0,38.3,(X),(X),6.9,8.3,(X),(X),7.6,4.1
1050,1400000US48113000702,48113000702,"Census Tract 7.02, Dallas County, Texas",2615,289,2615,(X),2210,275,84.5,...,23.4,26.7,(X),(X),0.0,3.9,(X),(X),9.7,5.6
1051,1400000US48113000800,48113000800,"Census Tract 8, Dallas County, Texas",5515,458,5515,(X),4201,440,76.2,...,17.9,16.8,(X),(X),20.8,11.2,(X),(X),24.2,7.5
1052,1400000US48113000900,48113000900,"Census Tract 9, Dallas County, Texas",3675,416,3675,(X),2885,338,78.5,...,60.7,28.7,(X),(X),58.9,18.6,(X),(X),25.3,7.0
1053,1400000US48113001001,48113001001,"Census Tract 10.01, Dallas County, Texas",1461,158,1461,(X),1021,133,69.9,...,10.8,10.0,(X),(X),0.0,3.8,(X),(X),10.9,7.2
1054,1400000US48113001002,48113001002,"Census Tract 10.02, Dallas County, Texas",1829,182,1829,(X),1466,184,80.2,...,0.0,17.6,(X),(X),6.0,7.3,(X),(X),12.9,9.7
1055,1400000US48113001101,48113001101,"Census Tract 11.01, Dallas County, Texas",3095,300,3095,(X),2664,287,86.1,...,21.0,29.4,(X),(X),12.6,13.8,(X),(X),16.9,8.7
1056,1400000US48113001102,48113001102,"Census Tract 11.02, Dallas County, Texas",2084,174,2084,(X),1782,192,85.5,...,0.0,20.5,(X),(X),0.0,2.1,(X),(X),2.7,2.9
1057,1400000US48113001202,48113001202,"Census Tract 12.02, Dallas County, Texas",2732,202,2732,(X),2260,212,82.7,...,13.9,21.5,(X),(X),22.0,10.9,(X),(X),18.4,8.0
1058,1400000US48113001203,48113001203,"Census Tract 12.03, Dallas County, Texas",1321,228,1321,(X),954,178,72.2,...,19.0,17.6,(X),(X),17.1,10.7,(X),(X),15.9,11.3
1059,1400000US48113001204,48113001204,"Census Tract 12.04, Dallas County, Texas",2254,196,2254,(X),1235,206,54.8,...,29.9,22.2,(X),(X),27.8,11.0,(X),(X),24.6,13.7
1060,1400000US48113001301,48113001301,"Census Tract 13.01, Dallas County, Texas",1964,268,1964,(X),1241,190,63.2,...,21.8,11.1,(X),(X),7.5,9.0,(X),(X),24.0,9.8
1061,1400000US48113001302,48113001302,"Census Tract 13.02, Dallas County, Texas",1720,261,1720,(X),1264,208,73.5,...,6.2,8.6,(X),(X),18.2,13.2,(X),(X),15.1,6.7
1062,1400000US48113001400,48113001400,"Census Tract 14, Dallas County, Texas",3089,335,3089,(X),2264,324,73.3,...,29.5,19.1,(X),(X),29.0,13.0,(X),(X),22.4,7.8
1063,1400000US48113001502,48113001502,"Census Tract 15.02, Dallas County, Texas",2446,292,2446,(X),1896,290,77.5,...,12.5,12.5,(X),(X),30.1,14.7,(X),(X),26.1,8.2
1064,1400000US48113001503,48113001503,"Census Tract 15.03, Dallas County, Texas",2564,318,2564,(X),1782,256,69.5,...,24.5,19.9,(X),(X),65.2,14.1,(X),(X),43.8,8.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535,1400000US48113019100,48113019100,"Census Tract 191, Dallas County, Texas",4738,356,4738,(X),3379,320,71.3,...,3.6,4.8,(X),(X),9.4,7.5,(X),(X),15.2,9.2
1536,1400000US48113019202,48113019202,"Census Tract 192.02, Dallas County, Texas",3727,316,3727,(X),2648,311,71.0,...,12.3,11.5,(X),(X),32.0,10.8,(X),(X),22.4,9.9
1537,1400000US48113019203,48113019203,"Census Tract 192.03, Dallas County, Texas",3211,175,3211,(X),2059,173,64.1,...,2.3,2.7,(X),(X),9.8,6.5,(X),(X),18.0,9.2
1538,1400000US48113019204,48113019204,"Census Tract 192.04, Dallas County, Texas",7070,718,7070,(X),5553,566,78.5,...,0.0,6.6,(X),(X),9.1,9.6,(X),(X),24.9,11.0
1539,1400000US48113019205,48113019205,"Census Tract 192.05, Dallas County, Texas",2825,155,2825,(X),1828,137,64.7,...,1.4,2.2,(X),(X),0.0,1.2,(X),(X),16.0,11.4
1540,1400000US48113019206,48113019206,"Census Tract 192.06, Dallas County, Texas",5370,431,5370,(X),3459,548,64.4,...,9.1,10.1,(X),(X),5.2,4.1,(X),(X),65.0,9.2
1541,1400000US48113019208,48113019208,"Census Tract 192.08, Dallas County, Texas",4508,432,4508,(X),3342,347,74.1,...,12.1,13.3,(X),(X),40.7,9.4,(X),(X),27.2,8.0
1542,1400000US48113019210,48113019210,"Census Tract 192.10, Dallas County, Texas",3140,170,3140,(X),1893,174,60.3,...,0.0,4.4,(X),(X),1.8,1.7,(X),(X),11.7,9.1
1543,1400000US48113019211,48113019211,"Census Tract 192.11, Dallas County, Texas",4328,393,4328,(X),3015,269,69.7,...,7.6,7.6,(X),(X),6.4,5.2,(X),(X),18.2,9.2
1544,1400000US48113019212,48113019212,"Census Tract 192.12, Dallas County, Texas",2543,301,2543,(X),2089,247,82.1,...,-,**,(X),(X),62.4,13.7,(X),(X),19.8,11.5
1545,1400000US48113019213,48113019213,"Census Tract 192.13, Dallas County, Texas",2514,255,2514,(X),1593,276,63.4,...,30.3,17.5,(X),(X),46.3,12.4,(X),(X),34.5,10.9
1546,1400000US48113019301,48113019301,"Census Tract 193.01, Dallas County, Texas",2096,125,2096,(X),1350,115,64.4,...,0.0,13.2,(X),(X),0.0,1.3,(X),(X),0.0,31.7
1547,1400000US48113019302,48113019302,"Census Tract 193.02, Dallas County, Texas",4507,312,4507,(X),2240,195,49.7,...,0.0,20.4,(X),(X),0.0,1.8,(X),(X),61.0,18.2
1548,1400000US48113019400,48113019400,"Census Tract 194, Dallas County, Texas",3025,240,3025,(X),1975,216,65.3,...,5.6,7.4,(X),(X),5.5,4.4,(X),(X),40.7,14.5
1549,1400000US48113019501,48113019501,"Census Tract 195.01, Dallas County, Texas",4758,276,4758,(X),3089,290,64.9,...,0.0,6.7,(X),(X),1.4,1.7,(X),(X),6.0,10.7
1550,1400000US48113019502,48113019502,"Census Tract 195.02, Dallas County, Texas",3188,245,3188,(X),1998,205,62.7,...,2.6,4.0,(X),(X),2.9,2.3,(X),(X),10.8,7.5
1551,1400000US48113019600,48113019600,"Census Tract 196, Dallas County, Texas",1763,138,1763,(X),1086,115,61.6,...,4.2,4.6,(X),(X),2.5,2.8,(X),(X),9.2,9.1
1552,1400000US48113019700,48113019700,"Census Tract 197, Dallas County, Texas",1299,137,1299,(X),650,98,50.0,...,0.0,13.7,(X),(X),3.3,3.2,(X),(X),9.7,9.8
1553,1400000US48113019800,48113019800,"Census Tract 198, Dallas County, Texas",3431,165,3431,(X),2074,177,60.4,...,1.1,1.7,(X),(X),4.8,4.8,(X),(X),13.0,6.3
1554,1400000US48113019900,48113019900,"Census Tract 199, Dallas County, Texas",3064,168,3064,(X),1835,225,59.9,...,19.3,13.7,(X),(X),30.5,9.8,(X),(X),23.0,11.3
1555,1400000US48113020000,48113020000,"Census Tract 200, Dallas County, Texas",3080,202,3080,(X),2301,160,74.7,...,0.0,19.6,(X),(X),2.5,2.7,(X),(X),4.8,5.2
1556,1400000US48113020100,48113020100,"Census Tract 201, Dallas County, Texas",1689,203,1689,(X),1135,169,67.2,...,15.8,11.3,(X),(X),17.1,7.6,(X),(X),25.1,12.2
1557,1400000US48113020200,48113020200,"Census Tract 202, Dallas County, Texas",3032,317,3032,(X),1392,275,45.9,...,18.6,9.0,(X),(X),37.2,14.3,(X),(X),54.4,15.3
1558,1400000US48113020300,48113020300,"Census Tract 203, Dallas County, Texas",2036,232,2036,(X),857,159,42.1,...,43.1,17.8,(X),(X),23.9,12.1,(X),(X),57.9,10.8
1559,1400000US48113020400,48113020400,"Census Tract 204, Dallas County, Texas",5535,608,5535,(X),4348,429,78.6,...,11.1,21.6,(X),(X),6.6,10.3,(X),(X),37.1,6.4
1560,1400000US48113020500,48113020500,"Census Tract 205, Dallas County, Texas",3281,338,3281,(X),1705,241,52.0,...,50.8,14.9,(X),(X),54.4,10.6,(X),(X),66.1,9.2
1561,1400000US48113020600,48113020600,"Census Tract 206, Dallas County, Texas",1966,150,1966,(X),1037,132,52.7,...,1.4,1.7,(X),(X),0.0,1.7,(X),(X),14.2,9.1
1562,1400000US48113020700,48113020700,"Census Tract 207, Dallas County, Texas",3889,373,3889,(X),2833,318,72.8,...,0.0,4.7,(X),(X),0.0,1.2,(X),(X),4.2,3.7
1563,1400000US48113980000,48113980000,"Census Tract 9800, Dallas County, Texas",0,13,0,(X),0,13,-,...,-,**,(X),(X),-,**,(X),(X),-,**
1564,1400000US48113980100,48113980100,"Census Tract 9801, Dallas County, Texas",0,13,0,(X),0,13,-,...,-,**,(X),(X),-,**,(X),(X),-,**

Beautiful! Let's now get rid of all columns except the same ones we pulled for the 2018API DP03 earlier!

In [12]:
dp0314.columns.tolist()

['id',
 'id2',
 'geography',
 'estimate_employment_status_population_16_years_and_over',
 'margin_of_error_employment_status_population_16_years_and_over',
 'percent_employment_status_population_16_years_and_over',
 'percent_margin_of_error_employment_status_population_16_years_and_over',
 'estimate_employment_status_population_16_years_and_over_in_labor_force',
 'margin_of_error_employment_status_population_16_years_and_over_in_labor_force',
 'percent_employment_status_population_16_years_and_over_in_labor_force',
 'percent_margin_of_error_employment_status_population_16_years_and_over_in_labor_force',
 'estimate_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force',
 'margin_of_error_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force',
 'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force',
 'percent_margin_of_error_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force',
 'estimate_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_employed',
 'margin_of_error_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_employed',
 'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_employed',
 'percent_margin_of_error_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_employed',
 'estimate_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_unemployed',
 'margin_of_error_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_unemployed',
 'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_unemployed',
 'percent_margin_of_error_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_unemployed',
 'estimate_employment_status_population_16_years_and_over_in_labor_force_armed_forces',
 'margin_of_error_employment_status_population_16_years_and_over_in_labor_force_armed_forces',
 'percent_employment_status_population_16_years_and_over_in_labor_force_armed_forces',
 'percent_margin_of_error_employment_status_population_16_years_and_over_in_labor_force_armed_forces',
 'estimate_employment_status_population_16_years_and_over_not_in_labor_force',
 'margin_of_error_employment_status_population_16_years_and_over_not_in_labor_force',
 'percent_employment_status_population_16_years_and_over_not_in_labor_force',
 'percent_margin_of_error_employment_status_population_16_years_and_over_not_in_labor_force',
 'estimate_employment_status_civilian_labor_force',
 'margin_of_error_employment_status_civilian_labor_force',
 'percent_employment_status_civilian_labor_force',
 'percent_margin_of_error_employment_status_civilian_labor_force',
 'estimate_employment_status_civilian_labor_force_percent_unemployed',
 'margin_of_error_employment_status_civilian_labor_force_percent_unemployed',
 'percent_employment_status_civilian_labor_force_percent_unemployed',
 'percent_margin_of_error_employment_status_civilian_labor_force_percent_unemployed',
 'estimate_employment_status_females_16_years_and_over',
 'margin_of_error_employment_status_females_16_years_and_over',
 'percent_employment_status_females_16_years_and_over',
 'percent_margin_of_error_employment_status_females_16_years_and_over',
 'estimate_employment_status_females_16_years_and_over_in_labor_force',
 'margin_of_error_employment_status_females_16_years_and_over_in_labor_force',
 'percent_employment_status_females_16_years_and_over_in_labor_force',
 'percent_margin_of_error_employment_status_females_16_years_and_over_in_labor_force',
 'estimate_employment_status_females_16_years_and_over_in_labor_force_civilian_labor_force',
 'margin_of_error_employment_status_females_16_years_and_over_in_labor_force_civilian_labor_force',
 'percent_employment_status_females_16_years_and_over_in_labor_force_civilian_labor_force',
 'percent_margin_of_error_employment_status_females_16_years_and_over_in_labor_force_civilian_labor_force',
 'estimate_employment_status_females_16_years_and_over_in_labor_force_civilian_labor_force_employed',
 'margin_of_error_employment_status_females_16_years_and_over_in_labor_force_civilian_labor_force_employed',
 'percent_employment_status_females_16_years_and_over_in_labor_force_civilian_labor_force_employed',
 'percent_margin_of_error_employment_status_females_16_years_and_over_in_labor_force_civilian_labor_force_employed',
 'estimate_employment_status_own_children_under_6_years',
 'margin_of_error_employment_status_own_children_under_6_years',
 'percent_employment_status_own_children_under_6_years',
 'percent_margin_of_error_employment_status_own_children_under_6_years',
 'estimate_employment_status_own_children_under_6_years_all_parents_in_family_in_labor_force',
 'margin_of_error_employment_status_own_children_under_6_years_all_parents_in_family_in_labor_force',
 'percent_employment_status_own_children_under_6_years_all_parents_in_family_in_labor_force',
 'percent_margin_of_error_employment_status_own_children_under_6_years_all_parents_in_family_in_labor_force',
 'estimate_employment_status_own_children_6_to_17_years',
 'margin_of_error_employment_status_own_children_6_to_17_years',
 'percent_employment_status_own_children_6_to_17_years',
 'percent_margin_of_error_employment_status_own_children_6_to_17_years',
 'estimate_employment_status_own_children_6_to_17_years_all_parents_in_family_in_labor_force',
 'margin_of_error_employment_status_own_children_6_to_17_years_all_parents_in_family_in_labor_force',
 'percent_employment_status_own_children_6_to_17_years_all_parents_in_family_in_labor_force',
 'percent_margin_of_error_employment_status_own_children_6_to_17_years_all_parents_in_family_in_labor_force',
 'estimate_commuting_to_work_workers_16_years_and_over',
 'margin_of_error_commuting_to_work_workers_16_years_and_over',
 'percent_commuting_to_work_workers_16_years_and_over',
 'percent_margin_of_error_commuting_to_work_workers_16_years_and_over',
 'estimate_commuting_to_work_workers_16_years_and_over_car,_truck,_or_van_drove_alone',
 'margin_of_error_commuting_to_work_workers_16_years_and_over_car,_truck,_or_van_drove_alone',
 'percent_commuting_to_work_workers_16_years_and_over_car,_truck,_or_van_drove_alone',
 'percent_margin_of_error_commuting_to_work_workers_16_years_and_over_car,_truck,_or_van_drove_alone',
 'estimate_commuting_to_work_workers_16_years_and_over_car,_truck,_or_van_carpooled',
 'margin_of_error_commuting_to_work_workers_16_years_and_over_car,_truck,_or_van_carpooled',
 'percent_commuting_to_work_workers_16_years_and_over_car,_truck,_or_van_carpooled',
 'percent_margin_of_error_commuting_to_work_workers_16_years_and_over_car,_truck,_or_van_carpooled',
 'estimate_commuting_to_work_workers_16_years_and_over_public_transportation_(excluding_taxicab)',
 'margin_of_error_commuting_to_work_workers_16_years_and_over_public_transportation_(excluding_taxicab)',
 'percent_commuting_to_work_workers_16_years_and_over_public_transportation_(excluding_taxicab)',
 'percent_margin_of_error_commuting_to_work_workers_16_years_and_over_public_transportation_(excluding_taxicab)',
 'estimate_commuting_to_work_workers_16_years_and_over_walked',
 'margin_of_error_commuting_to_work_workers_16_years_and_over_walked',
 'percent_commuting_to_work_workers_16_years_and_over_walked',
 'percent_margin_of_error_commuting_to_work_workers_16_years_and_over_walked',
 'estimate_commuting_to_work_workers_16_years_and_over_other_means',
 'margin_of_error_commuting_to_work_workers_16_years_and_over_other_means',
 'percent_commuting_to_work_workers_16_years_and_over_other_means',
 'percent_margin_of_error_commuting_to_work_workers_16_years_and_over_other_means',
 'estimate_commuting_to_work_workers_16_years_and_over_worked_at_home',
 'margin_of_error_commuting_to_work_workers_16_years_and_over_worked_at_home',
 'percent_commuting_to_work_workers_16_years_and_over_worked_at_home',
 'percent_margin_of_error_commuting_to_work_workers_16_years_and_over_worked_at_home',
 'estimate_commuting_to_work_mean_travel_time_to_work_(minutes)',
 'margin_of_error_commuting_to_work_mean_travel_time_to_work_(minutes)',
 'percent_commuting_to_work_mean_travel_time_to_work_(minutes)',
 'percent_margin_of_error_commuting_to_work_mean_travel_time_to_work_(minutes)',
 'estimate_occupation_civilian_employed_population_16_years_and_over',
 'margin_of_error_occupation_civilian_employed_population_16_years_and_over',
 'percent_occupation_civilian_employed_population_16_years_and_over',
 'percent_margin_of_error_occupation_civilian_employed_population_16_years_and_over',
 'estimate_occupation_civilian_employed_population_16_years_and_over_management,_business,_science,_and_arts_occupations',
 'margin_of_error_occupation_civilian_employed_population_16_years_and_over_management,_business,_science,_and_arts_occupations',
 'percent_occupation_civilian_employed_population_16_years_and_over_management,_business,_science,_and_arts_occupations',
 'percent_margin_of_error_occupation_civilian_employed_population_16_years_and_over_management,_business,_science,_and_arts_occupations',
 'estimate_occupation_civilian_employed_population_16_years_and_over_service_occupations',
 'margin_of_error_occupation_civilian_employed_population_16_years_and_over_service_occupations',
 'percent_occupation_civilian_employed_population_16_years_and_over_service_occupations',
 'percent_margin_of_error_occupation_civilian_employed_population_16_years_and_over_service_occupations',
 'estimate_occupation_civilian_employed_population_16_years_and_over_sales_and_office_occupations',
 'margin_of_error_occupation_civilian_employed_population_16_years_and_over_sales_and_office_occupations',
 'percent_occupation_civilian_employed_population_16_years_and_over_sales_and_office_occupations',
 'percent_margin_of_error_occupation_civilian_employed_population_16_years_and_over_sales_and_office_occupations',
 'estimate_occupation_civilian_employed_population_16_years_and_over_natural_resources,_construction,_and_maintenance_occupations',
 'margin_of_error_occupation_civilian_employed_population_16_years_and_over_natural_resources,_construction,_and_maintenance_occupations',
 'percent_occupation_civilian_employed_population_16_years_and_over_natural_resources,_construction,_and_maintenance_occupations',
 'percent_margin_of_error_occupation_civilian_employed_population_16_years_and_over_natural_resources,_construction,_and_maintenance_occupations',
 'estimate_occupation_civilian_employed_population_16_years_and_over_production,_transportation,_and_material_moving_occupations',
 'margin_of_error_occupation_civilian_employed_population_16_years_and_over_production,_transportation,_and_material_moving_occupations',
 'percent_occupation_civilian_employed_population_16_years_and_over_production,_transportation,_and_material_moving_occupations',
 'percent_margin_of_error_occupation_civilian_employed_population_16_years_and_over_production,_transportation,_and_material_moving_occupations',
 'estimate_industry_civilian_employed_population_16_years_and_over',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over',
 'percent_industry_civilian_employed_population_16_years_and_over',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over',
 'estimate_industry_civilian_employed_population_16_years_and_over_agriculture,_forestry,_fishing_and_hunting,_and_mining',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over_agriculture,_forestry,_fishing_and_hunting,_and_mining',
 'percent_industry_civilian_employed_population_16_years_and_over_agriculture,_forestry,_fishing_and_hunting,_and_mining',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over_agriculture,_forestry,_fishing_and_hunting,_and_mining',
 'estimate_industry_civilian_employed_population_16_years_and_over_construction',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over_construction',
 'percent_industry_civilian_employed_population_16_years_and_over_construction',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over_construction',
 'estimate_industry_civilian_employed_population_16_years_and_over_manufacturing',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over_manufacturing',
 'percent_industry_civilian_employed_population_16_years_and_over_manufacturing',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over_manufacturing',
 'estimate_industry_civilian_employed_population_16_years_and_over_wholesale_trade',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over_wholesale_trade',
 'percent_industry_civilian_employed_population_16_years_and_over_wholesale_trade',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over_wholesale_trade',
 'estimate_industry_civilian_employed_population_16_years_and_over_retail_trade',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over_retail_trade',
 'percent_industry_civilian_employed_population_16_years_and_over_retail_trade',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over_retail_trade',
 'estimate_industry_civilian_employed_population_16_years_and_over_transportation_and_warehousing,_and_utilities',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over_transportation_and_warehousing,_and_utilities',
 'percent_industry_civilian_employed_population_16_years_and_over_transportation_and_warehousing,_and_utilities',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over_transportation_and_warehousing,_and_utilities',
 'estimate_industry_civilian_employed_population_16_years_and_over_information',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over_information',
 'percent_industry_civilian_employed_population_16_years_and_over_information',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over_information',
 'estimate_industry_civilian_employed_population_16_years_and_over_finance_and_insurance,_and_real_estate_and_rental_and_leasing',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over_finance_and_insurance,_and_real_estate_and_rental_and_leasing',
 'percent_industry_civilian_employed_population_16_years_and_over_finance_and_insurance,_and_real_estate_and_rental_and_leasing',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over_finance_and_insurance,_and_real_estate_and_rental_and_leasing',
 'estimate_industry_civilian_employed_population_16_years_and_over_professional,_scientific,_and_management,_and_administrative_and_waste_management_services',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over_professional,_scientific,_and_management,_and_administrative_and_waste_management_services',
 'percent_industry_civilian_employed_population_16_years_and_over_professional,_scientific,_and_management,_and_administrative_and_waste_management_services',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over_professional,_scientific,_and_management,_and_administrative_and_waste_management_services',
 'estimate_industry_civilian_employed_population_16_years_and_over_educational_services,_and_health_care_and_social_assistance',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over_educational_services,_and_health_care_and_social_assistance',
 'percent_industry_civilian_employed_population_16_years_and_over_educational_services,_and_health_care_and_social_assistance',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over_educational_services,_and_health_care_and_social_assistance',
 'estimate_industry_civilian_employed_population_16_years_and_over_arts,_entertainment,_and_recreation,_and_accommodation_and_food_services',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over_arts,_entertainment,_and_recreation,_and_accommodation_and_food_services',
 'percent_industry_civilian_employed_population_16_years_and_over_arts,_entertainment,_and_recreation,_and_accommodation_and_food_services',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over_arts,_entertainment,_and_recreation,_and_accommodation_and_food_services',
 'estimate_industry_civilian_employed_population_16_years_and_over_other_services,_except_public_administration',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over_other_services,_except_public_administration',
 'percent_industry_civilian_employed_population_16_years_and_over_other_services,_except_public_administration',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over_other_services,_except_public_administration',
 'estimate_industry_civilian_employed_population_16_years_and_over_public_administration',
 'margin_of_error_industry_civilian_employed_population_16_years_and_over_public_administration',
 'percent_industry_civilian_employed_population_16_years_and_over_public_administration',
 'percent_margin_of_error_industry_civilian_employed_population_16_years_and_over_public_administration',
 'estimate_class_of_worker_civilian_employed_population_16_years_and_over',
 'margin_of_error_class_of_worker_civilian_employed_population_16_years_and_over',
 'percent_class_of_worker_civilian_employed_population_16_years_and_over',
 'percent_margin_of_error_class_of_worker_civilian_employed_population_16_years_and_over',
 'estimate_class_of_worker_civilian_employed_population_16_years_and_over_private_wage_and_salary_workers',
 'margin_of_error_class_of_worker_civilian_employed_population_16_years_and_over_private_wage_and_salary_workers',
 'percent_class_of_worker_civilian_employed_population_16_years_and_over_private_wage_and_salary_workers',
 'percent_margin_of_error_class_of_worker_civilian_employed_population_16_years_and_over_private_wage_and_salary_workers',
 'estimate_class_of_worker_civilian_employed_population_16_years_and_over_government_workers',
 'margin_of_error_class_of_worker_civilian_employed_population_16_years_and_over_government_workers',
 'percent_class_of_worker_civilian_employed_population_16_years_and_over_government_workers',
 'percent_margin_of_error_class_of_worker_civilian_employed_population_16_years_and_over_government_workers',
 'estimate_class_of_worker_civilian_employed_population_16_years_and_over_selfemployed_in_own_not_incorporated_business_workers',
 'margin_of_error_class_of_worker_civilian_employed_population_16_years_and_over_selfemployed_in_own_not_incorporated_business_workers',
 'percent_class_of_worker_civilian_employed_population_16_years_and_over_selfemployed_in_own_not_incorporated_business_workers',
 'percent_margin_of_error_class_of_worker_civilian_employed_population_16_years_and_over_selfemployed_in_own_not_incorporated_business_workers',
 'estimate_class_of_worker_civilian_employed_population_16_years_and_over_unpaid_family_workers',
 'margin_of_error_class_of_worker_civilian_employed_population_16_years_and_over_unpaid_family_workers',
 'percent_class_of_worker_civilian_employed_population_16_years_and_over_unpaid_family_workers',
 'percent_margin_of_error_class_of_worker_civilian_employed_population_16_years_and_over_unpaid_family_workers',
 'estimate_income_and_benefits_(in_2014_inflationadjusted_dollars)_total_households',
 'margin_of_error_income_and_benefits_(in_2014_inflationadjusted_dollars)_total_households',
 'percent_income_and_benefits_(in_2014_inflationadjusted_dollars)_total_households',
 'percent_margin_of_error_income_and_benefits_(in_2014_inflationadjusted_dollars)_total_households',
 'estimate_income_and_benefits_(in_2014_inflationadjusted_dollars)_total_households_less_than_$10,000',

## Keeping specific columns

In [70]:
dp0314 = dp0314[['id',
 'id2',
 'geography',
 'estimate_employment_status_population_16_years_and_over',
 'percent_employment_status_population_16_years_and_over',
 'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_employed',
 'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_unemployed',
'estimate_income_and_benefits_(in_2014_inflationadjusted_dollars)_total_households_mean_household_income_(dollars)',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_families',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_people'
]]

In [71]:
dp0314.head()

,id,id2,geography,estimate_employment_status_population_16_years_and_over,percent_employment_status_population_16_years_and_over,percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_employed,percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_unemployed,estimate_income_and_benefits_(in_2014_inflationadjusted_dollars)_total_households_mean_household_income_(dollars),percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_families,percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_people
0,0500000US48113,48113,"Dallas County, Texas",1851637,1851637,62.7,5.8,73982,15.9,19.3
1036,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",3234,3234,71.8,3.6,162983,4.4,6.8
1037,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2288,2288,70.2,1.0,130061,4.1,5.1
1038,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",2926,2926,84.3,4.1,120322,1.6,2.9
1039,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",3721,3721,80.2,3.4,130318,2.7,8.3

## Renaming columns

In [72]:
# Making columns easier to read
dp03_rn_cols = {'estimate_employment_status_population_16_years_and_over':'pop_over_16',
'percent_employment_status_population_16_years_and_over':'%_pop_over_16',
'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_employed' :'%_employed',
'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_unemployed': '%_unemployed',
'estimate_income_and_benefits_(in_2014_inflationadjusted_dollars)_total_households_mean_household_income_(dollars)'
: 'mean_household_income',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_families': '%_families_poverty',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_people':'%_all_people_poverty'}

In [73]:
dp0314.rename(columns = dp03_rn_cols, inplace = True)

In [20]:
dp0314.head()

,id,id2,geography,pop_over_16,%_pop_over_16,%_employed,%_unemployed,mean_household_income,%_families_poverty,%_all_people_poverty
0,0500000US48113,48113,"Dallas County, Texas",1851637,1851637,62.7,5.8,73982,15.9,19.3
1036,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",3234,3234,71.8,3.6,162983,4.4,6.8
1037,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2288,2288,70.2,1.0,130061,4.1,5.1
1038,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",2926,2926,84.3,4.1,120322,1.6,2.9
1039,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",3721,3721,80.2,3.4,130318,2.7,8.3

In [74]:
# Since the first row is all of Dallas county dropping it
dp0314.drop(dp0314.index[0], inplace = True)

Note: each year's data should have 529 rows!

In [22]:
dp0314

,id,id2,geography,pop_over_16,%_pop_over_16,%_employed,%_unemployed,mean_household_income,%_families_poverty,%_all_people_poverty
1036,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",3234,3234,71.8,3.6,162983,4.4,6.8
1037,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2288,2288,70.2,1.0,130061,4.1,5.1
1038,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",2926,2926,84.3,4.1,120322,1.6,2.9
1039,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",3721,3721,80.2,3.4,130318,2.7,8.3
1040,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",4724,4724,53.9,3.2,56284,23.6,35.8
1041,1400000US48113000404,48113000404,"Census Tract 4.04, Dallas County, Texas",3206,3206,67.3,3.3,64360,13.6,15.0
1042,1400000US48113000405,48113000405,"Census Tract 4.05, Dallas County, Texas",1817,1817,74.5,4.3,40875,24.9,33.6
1043,1400000US48113000406,48113000406,"Census Tract 4.06, Dallas County, Texas",5922,5922,62.0,4.5,53948,16.6,23.1
1044,1400000US48113000500,48113000500,"Census Tract 5, Dallas County, Texas",4160,4160,78.8,3.7,90279,22.4,17.9
1045,1400000US48113000601,48113000601,"Census Tract 6.01, Dallas County, Texas",5123,5123,68.6,4.8,69227,20.8,27.9
1046,1400000US48113000603,48113000603,"Census Tract 6.03, Dallas County, Texas",3809,3809,87.9,0.4,125722,0.0,6.0
1047,1400000US48113000605,48113000605,"Census Tract 6.05, Dallas County, Texas",2181,2181,80.2,3.1,116783,8.7,11.9
1048,1400000US48113000606,48113000606,"Census Tract 6.06, Dallas County, Texas",2966,2966,69.3,4.1,139880,3.2,3.8
1049,1400000US48113000701,48113000701,"Census Tract 7.01, Dallas County, Texas",4340,4340,87.9,0.9,122778,4.5,7.3
1050,1400000US48113000702,48113000702,"Census Tract 7.02, Dallas County, Texas",2615,2615,81.2,3.3,96378,0.0,6.5
1051,1400000US48113000800,48113000800,"Census Tract 8, Dallas County, Texas",5515,5515,70.6,5.6,56707,19.0,22.2
1052,1400000US48113000900,48113000900,"Census Tract 9, Dallas County, Texas",3675,3675,72.5,6.0,54004,53.9,39.6
1053,1400000US48113001001,48113001001,"Census Tract 10.01, Dallas County, Texas",1461,1461,69.2,0.7,114335,0.0,4.6
1054,1400000US48113001002,48113001002,"Census Tract 10.02, Dallas County, Texas",1829,1829,78.1,2.1,76658,4.9,9.0
1055,1400000US48113001101,48113001101,"Census Tract 11.01, Dallas County, Texas",3095,3095,81.0,5.1,92545,13.5,14.4
1056,1400000US48113001102,48113001102,"Census Tract 11.02, Dallas County, Texas",2084,2084,80.9,4.6,141117,0.0,0.8
1057,1400000US48113001202,48113001202,"Census Tract 12.02, Dallas County, Texas",2732,2732,79.8,3.0,74486,23.0,20.7
1058,1400000US48113001203,48113001203,"Census Tract 12.03, Dallas County, Texas",1321,1321,67.8,4.4,78562,19.2,16.9
1059,1400000US48113001204,48113001204,"Census Tract 12.04, Dallas County, Texas",2254,2254,45.9,8.9,47814,32.4,27.5
1060,1400000US48113001301,48113001301,"Census Tract 13.01, Dallas County, Texas",1964,1964,60.0,3.2,70719,8.3,14.6
1061,1400000US48113001302,48113001302,"Census Tract 13.02, Dallas County, Texas",1720,1720,67.6,5.9,65592,21.0,17.0
1062,1400000US48113001400,48113001400,"Census Tract 14, Dallas County, Texas",3089,3089,64.6,8.2,63785,23.5,26.6
1063,1400000US48113001502,48113001502,"Census Tract 15.02, Dallas County, Texas",2446,2446,72.6,4.9,57759,28.6,28.9
1064,1400000US48113001503,48113001503,"Census Tract 15.03, Dallas County, Texas",2564,2564,61.0,8.5,33962,56.7,56.8
1065,1400000US48113001504,48113001504,"Census Tract 15.04, Dallas County, Texas",2240,2240,66.7,7.6,46034,22.8,31.2
...,...,...,...,...,...,...,...,...,...,...
1535,1400000US48113019100,48113019100,"Census Tract 191, Dallas County, Texas",4738,4738,65.7,5.6,69662,7.7,10.8
1536,1400000US48113019202,48113019202,"Census Tract 192.02, Dallas County, Texas",3727,3727,64.0,7.1,62484,25.9,29.7
1537,1400000US48113019203,48113019203,"Census Tract 192.03, Dallas County, Texas",3211,3211,61.5,2.6,86688,7.3,11.2
1538,1400000US48113019204,48113019204,"Census Tract 192.04, Dallas County, Texas",7070,7070,74.3,4.2,67655,7.0,11.7
1539,1400000US48113019205,48113019205,"Census Tract 192.05, Dallas County, Texas",2825,2825,62.6,2.1,112436,0.0,1.6
1540,1400000US48113019206,48113019206,"Census Tract 192.06, Dallas County, Texas",5370,5370,55.2,9.2,45653,6.9,30.5
1541,1400000US48113019208,48113019208,"Census Tract 192.08, Dallas County, Texas",4508,4508,67.0,7.2,37042,32.7,38.4
1542,1400000US48113019210,48113019210,"Census Tract 192.10, Dallas County, Texas",3140,3140,56.9,3.3,142792,2.2,2.7
1543,1400000US48113019211,48113019211,"Census Tract 192.11, Dallas County, Texas",4328,4328,65.6,4.0,63185,4.9,9.4
1544,1400000US48113019212,48113019212,"Census Tract 192.12, Dallas County, Texas",2543,2543,75.3,6.8,27128,59.6,54.6
1545,1400000US48113019213,48113019213,"Census Tract 192.13, Dallas County, Texas",2514,2514,51.9,11.5,27818,37.8,42.9
1546,1400000US48113019301,48113019301,"Census Tract 193.01, Dallas County, Texas",2096,2096,63.1,1.3,349454,0.0,0.0
1547,1400000US48113019302,48113019302,"Census Tract 193.02, Dallas County, Texas",4507,4507,45.7,3.9,210411,0.0,12.0
1548,1400000US48113019400,48113019400,"Census Tract 194, Dallas County, Texas",3025,3025,58.9,6.4,238934,6.9,13.1
1549,1400000US48113019501,48113019501,"Census Tract 195.01, Dallas County, Texas",4758,4758,61.1,3.9,277803,1.7,1.5
1550,1400000US48113019502,48113019502,"Census Tract 195.02, Dallas County, Texas",3188,3188,61.4,1.3,208552,2.9,3.8
1551,1400000US48113019600,48113019600,"Census Tract 196, Dallas County, Texas",1763,1763,56.5,5.1,257854,1.4,3.0
1552,1400000US48113019700,48113019700,"Census Tract 197, Dallas County, Texas",1299,1299,47.7,2.3,429500,3.2,4.2
1553,1400000US48113019800,48113019800,"Census Tract 198, Dallas County, Texas",3431,3431,56.1,4.4,304890,4.7,6.1
1554,1400000US48113019900,48113019900,"Census Tract 199, Dallas County, Texas",3064,3064,54.0,5.8,42654,24.0,30.0
1555,1400000US48113020000,48113020000,"Census Tract 200, Dallas County, Texas",3080,3080,72.7,2.0,159220,2.3,2.6
1556,1400000US48113020100,48113020100,"Census Tract 201, Dallas County, Texas",1689,1689,60.3,6.9,45618,20.4,18.7
1557,1400000US48113020200,48113020200,"Census Tract 202, Dallas County, Texas",3032,3032,39.6,6.3,34186,33.3,39.9
1558,1400000US48113020300,48113020300,"Census Tract 203, Dallas County, Texas",2036,2036,37.2,4.9,33035,22.2,35.9
1559,1400000US48113020400,48113020400,"Census Tract 204, Dallas County, Texas",5535,5535,72.7,5.9,76642,7.7,29.1
1560,1400000US48113020500,48113020500,"Census Tract 205, Dallas County, Texas",3281,3281,40.1,11.8,30047,48.8,55.9
1561,1400000US48113020600,48113020600,"Census Tract 206, Dallas County, Texas",1966,1966,51.8,0.9,448290,0.0,1.3
1562,1400000US48113020700,48113020700,"Census Tract 207, Dallas County, Texas",3889,3889,66.1,6.7,84859,0.0,1.2
1563,1400000US48113980000,48113980000,"Census Tract 9800, Dallas County, Texas",0,0,-,-,-,-,-
1564,1400000US48113980100,48113980100,"Census Tract 9801, Dallas County, Texas",0,0,-,-,-,-,-

## Importing dp05 for same year

In [75]:
# Time to work with the 2014 DP05
dp0514= pd.read_csv('ACS_14_5YR_DP05_with_ann.csv', header = 1, low_memory= False)

In [25]:
dp0514

,Id,Id2,Geography,Estimate; SEX AND AGE - Total population,Margin of Error; SEX AND AGE - Total population,Percent; SEX AND AGE - Total population,Percent Margin of Error; SEX AND AGE - Total population,Estimate; SEX AND AGE - Total population - Male,Margin of Error; SEX AND AGE - Total population - Male,Percent; SEX AND AGE - Total population - Male,...,Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races including Some other race,Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races including Some other race,"Estimate; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races","Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races","Percent; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races","Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total population - Not Hispanic or Latino - Two or more races - Two races excluding Some other race, and Three or more races",Estimate; HISPANIC OR LATINO AND RACE - Total housing units,Margin of Error; HISPANIC OR LATINO AND RACE - Total housing units,Percent; HISPANIC OR LATINO AND RACE - Total housing units,Percent Margin of Error; HISPANIC OR LATINO AND RACE - Total housing units
0,1400000US48001950100,48001950100,"Census Tract 9501, Anderson County, Texas",5142,463,5142,(X),2565,294,49.9,...,0.0,0.7,16,25,0.3,0.5,2371,127,(X),(X)
1,1400000US48001950401,48001950401,"Census Tract 9504.01, Anderson County, Texas",5842,494,5842,(X),5717,496,97.9,...,0.1,0.2,0,18,0.0,0.6,106,54,(X),(X)
2,1400000US48001950402,48001950402,"Census Tract 9504.02, Anderson County, Texas",5586,530,5586,(X),5474,508,98.0,...,0.0,0.7,11,21,0.2,0.4,98,39,(X),(X)
3,1400000US48001950500,48001950500,"Census Tract 9505, Anderson County, Texas",4666,500,4666,(X),2128,290,45.6,...,0.0,0.8,49,48,1.1,1.0,1610,135,(X),(X)
4,1400000US48001950600,48001950600,"Census Tract 9506, Anderson County, Texas",6480,579,6480,(X),3475,468,53.6,...,0.0,0.6,95,129,1.5,2.0,2432,168,(X),(X)
5,1400000US48001950700,48001950700,"Census Tract 9507, Anderson County, Texas",2606,330,2606,(X),1361,230,52.2,...,0.0,0.1,73,49,2.8,1.8,1090,79,(X),(X)
6,1400000US48001950800,48001950800,"Census Tract 9508, Anderson County, Texas",4937,467,4937,(X),2503,363,50.7,...,0.0,0.8,114,80,2.3,1.7,2225,149,(X),(X)
7,1400000US48001950901,48001950901,"Census Tract 9509.01, Anderson County, Texas",5659,545,5659,(X),3455,372,61.1,...,0.0,0.7,39,27,0.7,0.5,2181,133,(X),(X)
8,1400000US48001950902,48001950902,"Census Tract 9509.02, Anderson County, Texas",5029,676,5029,(X),2670,460,53.1,...,0.0,0.7,46,39,0.9,0.8,2310,126,(X),(X)
9,1400000US48001951000,48001951000,"Census Tract 9510, Anderson County, Texas",7385,612,7385,(X),3795,345,51.4,...,0.2,0.3,78,62,1.1,0.8,3346,183,(X),(X)
10,1400000US48001951100,48001951100,"Census Tract 9511, Anderson County, Texas",4752,593,4752,(X),2316,359,48.7,...,0.0,0.8,10,14,0.2,0.3,2353,137,(X),(X)
11,1400000US48003950100,48003950100,"Census Tract 9501, Andrews County, Texas",1994,254,1994,(X),956,162,47.9,...,0.0,1.9,13,20,0.7,1.0,661,83,(X),(X)
12,1400000US48003950200,48003950200,"Census Tract 9502, Andrews County, Texas",6877,440,6877,(X),3570,265,51.9,...,0.0,0.5,37,43,0.5,0.6,2615,134,(X),(X)
13,1400000US48003950300,48003950300,"Census Tract 9503, Andrews County, Texas",4381,397,4381,(X),2190,265,50.0,...,0.0,0.9,71,66,1.6,1.5,1632,117,(X),(X)
14,1400000US48003950400,48003950400,"Census Tract 9504, Andrews County, Texas",2874,199,2874,(X),1332,172,46.3,...,0.0,1.3,22,25,0.8,0.9,1027,103,(X),(X)
15,1400000US48005000101,48005000101,"Census Tract 1.01, Angelina County, Texas",5959,680,5959,(X),3001,440,50.4,...,0.0,0.6,0,18,0.0,0.6,2361,147,(X),(X)
16,1400000US48005000102,48005000102,"Census Tract 1.02, Angelina County, Texas",4963,591,4963,(X),2434,369,49.0,...,0.2,0.4,133,134,2.7,2.6,1779,89,(X),(X)
17,1400000US48005000200,48005000200,"Census Tract 2, Angelina County, Texas",6815,540,6815,(X),3261,390,47.9,...,0.0,0.5,60,41,0.9,0.6,2824,156,(X),(X)
18,1400000US48005000301,48005000301,"Census Tract 3.01, Angelina County, Texas",4571,455,4571,(X),2241,319,49.0,...,0.0,0.8,0,13,0.0,0.8,2091,123,(X),(X)
19,1400000US48005000302,48005000302,"Census Tract 3.02, Angelina County, Texas",4671,365,4671,(X),2113,238,45.2,...,0.0,0.8,51,81,1.1,1.7,1641,128,(X),(X)
20,1400000US48005000400,48005000400,"Census Tract 4, Angelina County, Texas",5488,582,5488,(X),2380,320,43.4,...,0.0,0.7,91,107,1.7,1.9,2294,118,(X),(X)
21,1400000US48005000500,48005000500,"Census Tract 5, Angelina County, Texas",3694,434,3694,(X),1729,274,46.8,...,0.0,1.0,0,13,0.0,1.0,1974,135,(X),(X)
22,1400000US48005000600,48005000600,"Census Tract 6, Angelina County, Texas",6578,591,6578,(X),3441,340,52.3,...,0.0,0.6,44,43,0.7,0.7,2090,117,(X),(X)
23,1400000US48005000700,48005000700,"Census Tract 7, Angelina County, Texas",4033,390,4033,(X),2053,255,50.9,...,0.0,0.9,32,40,0.8,1.0,1252,113,(X),(X)
24,1400000US48005000800,48005000800,"Census Tract 8, Angelina County, Texas",6266,559,6266,(X),3028,383,48.3,...,0.1,0.2,50,61,0.8,1.0,2645,159,(X),(X)
25,1400000US48005000901,48005000901,"Census Tract 9.01, Angelina County, Texas",6702,593,6702,(X),3051,323,45.5,...,0.0,0.6,0,18,0.0,0.6,2874,171,(X),(X)
26,1400000US48005000902,48005000902,"Census Tract 9.02, Angelina County, Texas",2853,334,2853,(X),1285,189,45.0,...,0.0,1.3,9,16,0.3,0.5,1928,127,(X),(X)
27,1400000US48005001001,48005001001,"Census Tract 10.01, Angelina County, Texas",6095,577,6095,(X),3678,377,60.3,...,0.0,0.6,21,28,0.3,0.5,1668,148,(X),(X)
28,1400000US48005001002,48005001002,"Census Tract 10.02, Angelina County, Texas",4721,383,4721,(X),2285,243,48.4,...,0.0,0.8,53,67,1.1,1.4,1684,93,(X),(X)
29,1400000US48005001100,48005001100,"Census Tract 11, Angelina County, Texas",5986,566,5986,(X),2860,376,47.8,...,0.1,0.2,41,39,0.7,0.7,2533,163,(X),(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5235,1400000US48497150401,48497150401,"Census Tract 1504.01, Wise County, Texas",5822,734,5822,(X),3301,462,56.7,...,0.1,0.1,8,12,0.1,0.2,2565,184,(X),(X)
5236,1400000US48497150402,48497150402,"Census Tract 1504.02, Wise County, Texas",5285,420,5285,(X),2605,282,49.3,...,0.0,0.7,128,96,2.4,1.8,2330,129,(X),(X)
5237,1400000US48497150403,48497150403,"Census Tract 1504.03, Wise County, Texas",3774,389,3774,(X),2100,260,55.6,...,0.0,1.0,21,31,0.6,0.8,1577,55,(X),(X)
5238,1400000US48497150500,48497150500,"Census Tract 1505, Wise County, Texas",6226,298,6226,(X),2848,268,45.7,...,0.0,0.6,117,81,1.9,1.3,2173,211,(X),(X)
5239,1400000US48497150601,48497150601,"Census Tract 1506.01, Wise County, Texas",7601,678,7601,(X),3834,440,50.4,...,0.0,0.5,33,43,0.4,0.6,3050,204,(X),(X)
5240,1400000US48497150602,48497150602,"Census Tract 1506.02, Wise County, Texas",6851,602,6851,(X),3595,412,52.5,...,0.1,0.1,156,111,2.3,1.6,2554,132,(X),(X)
5241,1400000US48497150603,48497150603,"Census Tract 1506.03, Wise County, Texas",5315,516,5315,(X),2610,280,49.1,...,0.0,0.7,23,36,0.4,0.7,1809,85,(X),(X)
5242,1400000US48499950100,48499950100,"Census Tract 9501, Wood County, Texas",4155,493,4155,(X),2156,326,51.9,...,0.0,0.9,0,13,0.0,0.9,2416,126,(X),(X)
5243,1400000US48499950200,48499950200,"Census Tract 9502, Wood County, Texas",3208,223,3208,(X),1644,188,51.2,...,0.0,1.2,15,16,0.5,0.5,1135,169,(X),(X)
5244,1400000US48499950301,48499950301,"Census Tract 9503.01, Wood County, Texas",3617,376,3617,(X),1694,218,46.8,...,0.0,1.0,41,56,1.1,1.6,1738,97,(X),(X)
5245,1400000US48499950302,48499950302,"Census Tract 9503.02, Wood County, Texas",5625,480,5625,(X),3147,318,55.9,...,0.0,0.7,36,33,0.6,0.6,3093,187,(X),(X)
5246,1400000US48499950400,48499950400,"Census Tract 9504, Wood County, Texas",4689,504,4689,(X),2288,253,48.8,...,0.0,0.8,16,24,0.3,0.5,2501,136,(X),(X)
5247,1400000US48499950500,48499950500,"Census Tract 9505, Wood County, Texas",2519,215,2519,(X),1212,136,48.1,...,0.0,1.5,62,59,2.5,2.3,1151,51,(X),(X)
5248,1400000US48499950601,48499950601,"Census Tract 9506.01, Wood County, Texas",4474,367,4474,(X),2145,242,47.9,...,0.7,1.1,45,64,1.0,1.4,1792,100,(X),(X)
5249,1400000US48499950602,48499950602,"Census Tract 9506.02, Wood County, Texas",4106,492,4106,(X),1998,280,48.7,...,0.0,0.9,0,13,0.0,0.9,2701,113,(X),(X)
5250,1400000US48499950700,48499950700,"Census Tract 9507, Wood County, Texas",5160,340,5160,(X),2604,231,50.5,...,0.0,0.7,43,51,0.8,1.0,2291,113,(X),(X)
5251,1400000US48499950800,48499950800,"Census Tract 9508, Wood County, Texas",4878,206,4878,(X),2104,196,43.1,...,0.0,0.8,104,93,2.1,1.9,2072,136,(X),(X)
5252,1400000US48501950100,48501950100,"Census Tract 9501, Yoakum County, Texas",2332,293,2332,(X),1180,170,50.6,...,0.0,1.6,9,13,0.4,0.6,933,112,(X),(X)
5253,1400000US48501950200,48501950200,"Census Tract 9502, Yoakum County, Texas",5722,293,5722,(X),2818,221,49.2,...,0.0,0.7,45,31,0.8,0.5,2058,117,(X),(X)
5254,1400000US48503950200,48503950200,"Census Tract 9502, Young County, Texas",4330,257,4330,(X),2148,170,49.6,...,0.0,0.9,223,154,5.2,3.5,2112,160,(X),(X)
5255,1400000US48503950400,48503950400,"Census Tract 9504, Young County, Texas",5810,338,5810,(X),2942,245,50.6,...,0.0,0.6,18,22,0.3,0.4,2864,168,(X),(X)
5256,1400000US48503950500,48503950500,"Census Tract 9505, Young County, Texas",2959,321,2959,(X),1512,238,51.1,...,0.0,1.3,0,13,0.0,1.3,1234,82,(X),(X)
5257,1400000US48503950600,48503950600,"Census Tract 9506, Young County, Texas",5275,348,5275,(X),2530,284,48.0,...,0.0,0.7,0,18,0.0,0.7,2422,141,(X),(X)
5258,1400000US48505950301,48505950301,"Census Tract 9503.01, Zapata County, Texas",4581,696,4581,(X),2266,378,49.5,...,0.0,0.8,0,13,0.0,0.8,1346,167,(X),(X)
5259,1400000US48505950302,48505950302,"Census Tract 9503.02, Zapata County, Texas",3984,659,3984,(X),1775,378,44.6,...,0.0,0.9,0,13,0.0,0.9,2167,176,(X),(X)
5260,1400000US48505950400,48505950400,"Census Tract 9504, Zapata County, Texas",5666,663,5666,(X),3142,401,55.5,...,0.0,0.7,0,18,0.0,0.7,2704,153,(X),(X)
5261,1400000US48507950100,48507950100,"Census Tract 9501, Zavala County, Texas",1173,369,1173,(X),463,169,39.5,...,0.0,3.1,0,13,0.0,3.1,578,81,(X),(X)
5262,1400000US48507950200,48507950200,"Census Tract 9502, Zavala County, Texas",2017,359,2017,(X),1074,199,53.2,...,0.0,1.8,0,13,0.0,1.8,764,99,(X),(X)
5263,1400000US48507950301,48507950301,"Census Tract 9503.01, Zavala County, Texas",2326,293,2326,(X),1275,248,54.8,...,0.0,1.6,0,13,0.0,1.6,759,74,(X),(X)
5264,1400000US48507950302,48507950302,"Census Tract 9503.02, Zavala County, Texas",6497,491,6497,(X),3356,332,51.7,...,0.0,0.6,0,18,0.0,0.6,2185,144,(X),(X)

In [76]:
# Cleaning up column names
clean_columns(dp0514)

In [77]:
# Getting rid of any counties outside of Dallas County
dp0514 = dp0514[dp0514['geography'].str.contains('Dallas County')]

In [28]:
dp0514

,id,id2,geography,estimate_sex_and_age_total_population,margin_of_error_sex_and_age_total_population,percent_sex_and_age_total_population,percent_margin_of_error_sex_and_age_total_population,estimate_sex_and_age_total_population_male,margin_of_error_sex_and_age_total_population_male,percent_sex_and_age_total_population_male,...,percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_two_or_more_races_two_races_including_some_other_race,percent_margin_of_error_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_two_or_more_races_two_races_including_some_other_race,"estimate_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_two_or_more_races_two_races_excluding_some_other_race,_and_three_or_more_races","margin_of_error_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_two_or_more_races_two_races_excluding_some_other_race,_and_three_or_more_races","percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_two_or_more_races_two_races_excluding_some_other_race,_and_three_or_more_races","percent_margin_of_error_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_two_or_more_races_two_races_excluding_some_other_race,_and_three_or_more_races",estimate_hispanic_or_latino_and_race_total_housing_units,margin_of_error_hispanic_or_latino_and_race_total_housing_units,percent_hispanic_or_latino_and_race_total_housing_units,percent_margin_of_error_hispanic_or_latino_and_race_total_housing_units
1035,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",3923,318,3923,(X),1974,293,50.3,...,0.0,0.9,50,62,1.3,1.6,2033,29,(X),(X)
1036,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2927,218,2927,(X),1396,165,47.7,...,0.3,0.5,6,10,0.2,0.3,1450,58,(X),(X)
1037,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",3465,253,3465,(X),1762,217,50.9,...,0.0,1.1,92,49,2.7,1.4,2029,36,(X),(X)
1038,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",4243,403,4243,(X),2415,399,56.9,...,0.0,0.9,69,53,1.6,1.3,2407,91,(X),(X)
1039,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",5816,620,5816,(X),3281,516,56.4,...,0.2,0.3,150,74,2.6,1.2,1905,74,(X),(X)
1040,1400000US48113000404,48113000404,"Census Tract 4.04, Dallas County, Texas",3630,453,3630,(X),2138,252,58.9,...,0.0,1.0,35,36,1.0,1.0,2020,59,(X),(X)
1041,1400000US48113000405,48113000405,"Census Tract 4.05, Dallas County, Texas",2222,431,2222,(X),1306,279,58.8,...,0.0,1.7,156,211,7.0,8.7,1388,67,(X),(X)
1042,1400000US48113000406,48113000406,"Census Tract 4.06, Dallas County, Texas",7824,956,7824,(X),4232,521,54.1,...,0.0,0.5,86,109,1.1,1.4,2694,96,(X),(X)
1043,1400000US48113000500,48113000500,"Census Tract 5, Dallas County, Texas",4441,455,4441,(X),2718,455,61.2,...,0.0,0.8,175,89,3.9,2.1,3418,190,(X),(X)
1044,1400000US48113000601,48113000601,"Census Tract 6.01, Dallas County, Texas",6450,927,6450,(X),3553,630,55.1,...,0.0,0.6,225,152,3.5,2.4,3333,107,(X),(X)
1045,1400000US48113000603,48113000603,"Census Tract 6.03, Dallas County, Texas",4033,409,4033,(X),2065,269,51.2,...,0.0,0.9,95,56,2.4,1.5,2828,119,(X),(X)
1046,1400000US48113000605,48113000605,"Census Tract 6.05, Dallas County, Texas",2250,262,2250,(X),1136,182,50.5,...,0.0,1.7,228,163,10.1,7.2,1766,94,(X),(X)
1047,1400000US48113000606,48113000606,"Census Tract 6.06, Dallas County, Texas",3024,213,3024,(X),1636,195,54.1,...,0.0,1.2,153,103,5.1,3.4,2377,53,(X),(X)
1048,1400000US48113000701,48113000701,"Census Tract 7.01, Dallas County, Texas",4559,284,4559,(X),2175,279,47.7,...,0.0,0.8,16,27,0.4,0.6,3226,98,(X),(X)
1049,1400000US48113000702,48113000702,"Census Tract 7.02, Dallas County, Texas",2790,329,2790,(X),1487,237,53.3,...,0.0,1.3,161,92,5.8,3.4,2187,112,(X),(X)
1050,1400000US48113000800,48113000800,"Census Tract 8, Dallas County, Texas",6656,652,6656,(X),3833,437,57.6,...,0.0,0.6,87,75,1.3,1.1,3084,94,(X),(X)
1051,1400000US48113000900,48113000900,"Census Tract 9, Dallas County, Texas",4225,556,4225,(X),2229,365,52.8,...,0.0,0.9,37,37,0.9,0.9,2772,95,(X),(X)
1052,1400000US48113001001,48113001001,"Census Tract 10.01, Dallas County, Texas",1662,193,1662,(X),913,169,54.9,...,0.0,2.2,28,35,1.7,2.1,1017,36,(X),(X)
1053,1400000US48113001002,48113001002,"Census Tract 10.02, Dallas County, Texas",2112,210,2112,(X),947,197,44.8,...,0.0,1.8,29,24,1.4,1.2,1085,28,(X),(X)
1054,1400000US48113001101,48113001101,"Census Tract 11.01, Dallas County, Texas",3453,408,3453,(X),1647,268,47.7,...,0.0,1.1,44,37,1.3,1.1,2048,52,(X),(X)
1055,1400000US48113001102,48113001102,"Census Tract 11.02, Dallas County, Texas",2541,264,2541,(X),1254,186,49.4,...,0.0,1.5,18,22,0.7,0.9,1325,23,(X),(X)
1056,1400000US48113001202,48113001202,"Census Tract 12.02, Dallas County, Texas",3468,302,3468,(X),1742,222,50.2,...,0.0,1.1,58,51,1.7,1.5,1896,70,(X),(X)
1057,1400000US48113001203,48113001203,"Census Tract 12.03, Dallas County, Texas",1599,207,1599,(X),814,119,50.9,...,0.0,2.3,0,13,0.0,2.3,565,25,(X),(X)
1058,1400000US48113001204,48113001204,"Census Tract 12.04, Dallas County, Texas",3069,300,3069,(X),1494,187,48.7,...,0.0,1.2,7,9,0.2,0.3,767,23,(X),(X)
1059,1400000US48113001301,48113001301,"Census Tract 13.01, Dallas County, Texas",2393,338,2393,(X),1210,220,50.6,...,0.0,1.6,98,84,4.1,3.4,1530,52,(X),(X)
1060,1400000US48113001302,48113001302,"Census Tract 13.02, Dallas County, Texas",2249,457,2249,(X),1368,321,60.8,...,0.8,0.9,14,16,0.6,0.7,1428,61,(X),(X)
1061,1400000US48113001400,48113001400,"Census Tract 14, Dallas County, Texas",3771,369,3771,(X),2123,253,56.3,...,0.0,1.0,30,27,0.8,0.7,2011,71,(X),(X)
1062,1400000US48113001502,48113001502,"Census Tract 15.02, Dallas County, Texas",3076,459,3076,(X),1661,247,54.0,...,0.0,1.2,51,48,1.7,1.6,1526,65,(X),(X)
1063,1400000US48113001503,48113001503,"Census Tract 15.03, Dallas County, Texas",3291,442,3291,(X),1917,330,58.2,...,0.0,1.1,0,13,0.0,1.1,1620,49,(X),(X)
1064,1400000US48113001504,48113001504,"Census Tract 15.04, Dallas County, Texas",2570,288,2570,(X),1464,231,57.0,...,0.0,1.4,68,44,2.6,1.7,1457,49,(X),(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1534,1400000US48113019100,48113019100,"Census Tract 191, Dallas County, Texas",5835,502,5835,(X),2942,346,50.4,...,0.1,0.2,116,97,2.0,1.7,2551,95,(X),(X)
1535,1400000US48113019202,48113019202,"Census Tract 192.02, Dallas County, Texas",4975,400,4975,(X),2527,328,50.8,...,0.0,0.7,70,72,1.4,1.5,1913,57,(X),(X)
1536,1400000US48113019203,48113019203,"Census Tract 192.03, Dallas County, Texas",3933,239,3933,(X),1827,160,46.5,...,0.0,0.9,202,146,5.1,3.6,1742,53,(X),(X)
1537,1400000US48113019204,48113019204,"Census Tract 192.04, Dallas County, Texas",9316,1030,9316,(X),4751,716,51.0,...,0.0,0.4,88,57,0.9,0.6,2862,86,(X),(X)
1538,1400000US48113019205,48113019205,"Census Tract 192.05, Dallas County, Texas",3464,159,3464,(X),1652,139,47.7,...,0.0,1.1,39,30,1.1,0.9,1327,74,(X),(X)
1539,1400000US48113019206,48113019206,"Census Tract 192.06, Dallas County, Texas",5979,410,5979,(X),3087,378,51.6,...,0.0,0.6,108,104,1.8,1.8,2736,115,(X),(X)
1540,1400000US48113019208,48113019208,"Census Tract 192.08, Dallas County, Texas",7020,648,7020,(X),3403,429,48.5,...,0.0,0.5,28,36,0.4,0.5,2251,39,(X),(X)
1541,1400000US48113019210,48113019210,"Census Tract 192.10, Dallas County, Texas",3999,252,3999,(X),1994,153,49.9,...,0.0,0.9,75,41,1.9,1.0,1509,41,(X),(X)
1542,1400000US48113019211,48113019211,"Census Tract 192.11, Dallas County, Texas",5278,483,5278,(X),2641,361,50.0,...,0.0,0.7,231,294,4.4,5.5,2326,91,(X),(X)
1543,1400000US48113019212,48113019212,"Census Tract 192.12, Dallas County, Texas",4295,463,4295,(X),2648,319,61.7,...,0.0,0.9,17,24,0.4,0.6,1201,63,(X),(X)
1544,1400000US48113019213,48113019213,"Census Tract 192.13, Dallas County, Texas",3293,449,3293,(X),1641,267,49.8,...,0.0,1.1,62,50,1.9,1.6,1524,22,(X),(X)
1545,1400000US48113019301,48113019301,"Census Tract 193.01, Dallas County, Texas",2960,182,2960,(X),1392,119,47.0,...,0.0,1.3,0,13,0.0,1.3,950,36,(X),(X)
1546,1400000US48113019302,48113019302,"Census Tract 193.02, Dallas County, Texas",5151,318,5151,(X),2343,256,45.5,...,0.2,0.3,71,52,1.4,1.0,1011,70,(X),(X)
1547,1400000US48113019400,48113019400,"Census Tract 194, Dallas County, Texas",3978,302,3978,(X),1926,222,48.4,...,0.0,0.9,105,86,2.6,2.2,1649,86,(X),(X)
1548,1400000US48113019501,48113019501,"Census Tract 195.01, Dallas County, Texas",7318,335,7318,(X),3377,262,46.1,...,0.0,0.5,14,24,0.2,0.3,2180,79,(X),(X)
1549,1400000US48113019502,48113019502,"Census Tract 195.02, Dallas County, Texas",4354,311,4354,(X),2022,228,46.4,...,0.0,0.9,93,147,2.1,3.3,1783,90,(X),(X)
1550,1400000US48113019600,48113019600,"Census Tract 196, Dallas County, Texas",2409,227,2409,(X),1150,123,47.7,...,0.4,0.6,12,18,0.5,0.8,965,73,(X),(X)
1551,1400000US48113019700,48113019700,"Census Tract 197, Dallas County, Texas",1637,174,1637,(X),755,100,46.1,...,0.0,2.3,35,23,2.1,1.4,799,65,(X),(X)
1552,1400000US48113019800,48113019800,"Census Tract 198, Dallas County, Texas",4750,274,4750,(X),2302,218,48.5,...,0.4,0.7,103,83,2.2,1.7,2059,118,(X),(X)
1553,1400000US48113019900,48113019900,"Census Tract 199, Dallas County, Texas",4267,22,4267,(X),2321,157,54.4,...,0.0,0.9,8,13,0.2,0.3,1211,103,(X),(X)
1554,1400000US48113020000,48113020000,"Census Tract 200, Dallas County, Texas",4408,287,4408,(X),2247,231,51.0,...,0.0,0.8,65,47,1.5,1.1,1471,43,(X),(X)
1555,1400000US48113020100,48113020100,"Census Tract 201, Dallas County, Texas",2396,265,2396,(X),1380,192,57.6,...,0.0,1.6,0,13,0.0,1.6,839,46,(X),(X)
1556,1400000US48113020200,48113020200,"Census Tract 202, Dallas County, Texas",4025,501,4025,(X),1862,335,46.3,...,0.0,0.9,57,79,1.4,2.0,1615,59,(X),(X)
1557,1400000US48113020300,48113020300,"Census Tract 203, Dallas County, Texas",2270,268,2270,(X),1018,230,44.8,...,0.0,1.6,0,13,0.0,1.6,1350,89,(X),(X)
1558,1400000US48113020400,48113020400,"Census Tract 204, Dallas County, Texas",5681,632,5681,(X),3080,405,54.2,...,0.0,0.7,153,76,2.7,1.4,2956,94,(X),(X)
1559,1400000US48113020500,48113020500,"Census Tract 205, Dallas County, Texas",5314,613,5314,(X),2193,432,41.3,...,0.5,0.8,80,79,1.5,1.6,1684,63,(X),(X)
1560,1400000US48113020600,48113020600,"Census Tract 206, Dallas County, Texas",2449,199,2449,(X),1144,127,46.7,...,0.0,1.5,0,13,0.0,1.5,931,49,(X),(X)
1561,1400000US48113020700,48113020700,"Census Tract 207, Dallas County, Texas",4333,400,4333,(X),1886,212,43.5,...,0.0,0.9,36,53,0.8,1.2,2339,64,(X),(X)
1562,1400000US48113980000,48113980000,"Census Tract 9800, Dallas County, Texas",0,13,0,(X),0,13,-,...,-,**,0,13,-,**,0,13,(X),(X)
1563,1400000US48113980100,48113980100,"Census Tract 9801, Dallas County, Texas",0,13,0,(X),0,13,-,...,-,**,0,13,-,**,0,13,(X),(X)

In [29]:
dp0514.columns.to_list()

['id',
 'id2',
 'geography',
 'estimate_sex_and_age_total_population',
 'margin_of_error_sex_and_age_total_population',
 'percent_sex_and_age_total_population',
 'percent_margin_of_error_sex_and_age_total_population',
 'estimate_sex_and_age_total_population_male',
 'margin_of_error_sex_and_age_total_population_male',
 'percent_sex_and_age_total_population_male',
 'percent_margin_of_error_sex_and_age_total_population_male',
 'estimate_sex_and_age_total_population_female',
 'margin_of_error_sex_and_age_total_population_female',
 'percent_sex_and_age_total_population_female',
 'percent_margin_of_error_sex_and_age_total_population_female',
 'estimate_sex_and_age_under_5_years',
 'margin_of_error_sex_and_age_under_5_years',
 'percent_sex_and_age_under_5_years',
 'percent_margin_of_error_sex_and_age_under_5_years',
 'estimate_sex_and_age_5_to_9_years',
 'margin_of_error_sex_and_age_5_to_9_years',
 'percent_sex_and_age_5_to_9_years',
 'percent_margin_of_error_sex_and_age_5_to_9_years',
 'estimate_sex_and_age_10_to_14_years',
 'margin_of_error_sex_and_age_10_to_14_years',
 'percent_sex_and_age_10_to_14_years',
 'percent_margin_of_error_sex_and_age_10_to_14_years',
 'estimate_sex_and_age_15_to_19_years',
 'margin_of_error_sex_and_age_15_to_19_years',
 'percent_sex_and_age_15_to_19_years',
 'percent_margin_of_error_sex_and_age_15_to_19_years',
 'estimate_sex_and_age_20_to_24_years',
 'margin_of_error_sex_and_age_20_to_24_years',
 'percent_sex_and_age_20_to_24_years',
 'percent_margin_of_error_sex_and_age_20_to_24_years',
 'estimate_sex_and_age_25_to_34_years',
 'margin_of_error_sex_and_age_25_to_34_years',
 'percent_sex_and_age_25_to_34_years',
 'percent_margin_of_error_sex_and_age_25_to_34_years',
 'estimate_sex_and_age_35_to_44_years',
 'margin_of_error_sex_and_age_35_to_44_years',
 'percent_sex_and_age_35_to_44_years',
 'percent_margin_of_error_sex_and_age_35_to_44_years',
 'estimate_sex_and_age_45_to_54_years',
 'margin_of_error_sex_and_age_45_to_54_years',
 'percent_sex_and_age_45_to_54_years',
 'percent_margin_of_error_sex_and_age_45_to_54_years',
 'estimate_sex_and_age_55_to_59_years',
 'margin_of_error_sex_and_age_55_to_59_years',
 'percent_sex_and_age_55_to_59_years',
 'percent_margin_of_error_sex_and_age_55_to_59_years',
 'estimate_sex_and_age_60_to_64_years',
 'margin_of_error_sex_and_age_60_to_64_years',
 'percent_sex_and_age_60_to_64_years',
 'percent_margin_of_error_sex_and_age_60_to_64_years',
 'estimate_sex_and_age_65_to_74_years',
 'margin_of_error_sex_and_age_65_to_74_years',
 'percent_sex_and_age_65_to_74_years',
 'percent_margin_of_error_sex_and_age_65_to_74_years',
 'estimate_sex_and_age_75_to_84_years',
 'margin_of_error_sex_and_age_75_to_84_years',
 'percent_sex_and_age_75_to_84_years',
 'percent_margin_of_error_sex_and_age_75_to_84_years',
 'estimate_sex_and_age_85_years_and_over',
 'margin_of_error_sex_and_age_85_years_and_over',
 'percent_sex_and_age_85_years_and_over',
 'percent_margin_of_error_sex_and_age_85_years_and_over',
 'estimate_sex_and_age_median_age_(years)',
 'margin_of_error_sex_and_age_median_age_(years)',
 'percent_sex_and_age_median_age_(years)',
 'percent_margin_of_error_sex_and_age_median_age_(years)',
 'estimate_sex_and_age_18_years_and_over',
 'margin_of_error_sex_and_age_18_years_and_over',
 'percent_sex_and_age_18_years_and_over',
 'percent_margin_of_error_sex_and_age_18_years_and_over',
 'estimate_sex_and_age_21_years_and_over',
 'margin_of_error_sex_and_age_21_years_and_over',
 'percent_sex_and_age_21_years_and_over',
 'percent_margin_of_error_sex_and_age_21_years_and_over',
 'estimate_sex_and_age_62_years_and_over',
 'margin_of_error_sex_and_age_62_years_and_over',
 'percent_sex_and_age_62_years_and_over',
 'percent_margin_of_error_sex_and_age_62_years_and_over',
 'estimate_sex_and_age_65_years_and_over',
 'margin_of_error_sex_and_age_65_years_and_over',
 'percent_sex_and_age_65_years_and_over',
 'percent_margin_of_error_sex_and_age_65_years_and_over',
 'estimate_sex_and_age_18_years_and_over.1',
 'margin_of_error_sex_and_age_18_years_and_over.1',
 'percent_sex_and_age_18_years_and_over.1',
 'percent_margin_of_error_sex_and_age_18_years_and_over.1',
 'estimate_sex_and_age_18_years_and_over_male',
 'margin_of_error_sex_and_age_18_years_and_over_male',
 'percent_sex_and_age_18_years_and_over_male',
 'percent_margin_of_error_sex_and_age_18_years_and_over_male',
 'estimate_sex_and_age_18_years_and_over_female',
 'margin_of_error_sex_and_age_18_years_and_over_female',
 'percent_sex_and_age_18_years_and_over_female',
 'percent_margin_of_error_sex_and_age_18_years_and_over_female',
 'estimate_sex_and_age_65_years_and_over.1',
 'margin_of_error_sex_and_age_65_years_and_over.1',
 'percent_sex_and_age_65_years_and_over.1',
 'percent_margin_of_error_sex_and_age_65_years_and_over.1',
 'estimate_sex_and_age_65_years_and_over_male',
 'margin_of_error_sex_and_age_65_years_and_over_male',
 'percent_sex_and_age_65_years_and_over_male',
 'percent_margin_of_error_sex_and_age_65_years_and_over_male',
 'estimate_sex_and_age_65_years_and_over_female',
 'margin_of_error_sex_and_age_65_years_and_over_female',
 'percent_sex_and_age_65_years_and_over_female',
 'percent_margin_of_error_sex_and_age_65_years_and_over_female',
 'estimate_race_total_population',
 'margin_of_error_race_total_population',
 'percent_race_total_population',
 'percent_margin_of_error_race_total_population',
 'estimate_race_total_population_one_race',
 'margin_of_error_race_total_population_one_race',
 'percent_race_total_population_one_race',
 'percent_margin_of_error_race_total_population_one_race',
 'estimate_race_total_population_two_or_more_races',
 'margin_of_error_race_total_population_two_or_more_races',
 'percent_race_total_population_two_or_more_races',
 'percent_margin_of_error_race_total_population_two_or_more_races',
 'estimate_race_one_race',
 'margin_of_error_race_one_race',
 'percent_race_one_race',
 'percent_margin_of_error_race_one_race',
 'estimate_race_one_race_white',
 'margin_of_error_race_one_race_white',
 'percent_race_one_race_white',
 'percent_margin_of_error_race_one_race_white',
 'estimate_race_one_race_black_or_african_american',
 'margin_of_error_race_one_race_black_or_african_american',
 'percent_race_one_race_black_or_african_american',
 'percent_margin_of_error_race_one_race_black_or_african_american',
 'estimate_race_one_race_american_indian_and_alaska_native',
 'margin_of_error_race_one_race_american_indian_and_alaska_native',
 'percent_race_one_race_american_indian_and_alaska_native',
 'percent_margin_of_error_race_one_race_american_indian_and_alaska_native',
 'estimate_race_one_race_american_indian_and_alaska_native_cherokee_tribal_grouping',
 'margin_of_error_race_one_race_american_indian_and_alaska_native_cherokee_tribal_grouping',
 'percent_race_one_race_american_indian_and_alaska_native_cherokee_tribal_grouping',
 'percent_margin_of_error_race_one_race_american_indian_and_alaska_native_cherokee_tribal_grouping',
 'estimate_race_one_race_american_indian_and_alaska_native_chippewa_tribal_grouping',
 'margin_of_error_race_one_race_american_indian_and_alaska_native_chippewa_tribal_grouping',
 'percent_race_one_race_american_indian_and_alaska_native_chippewa_tribal_grouping',
 'percent_margin_of_error_race_one_race_american_indian_and_alaska_native_chippewa_tribal_grouping',
 'estimate_race_one_race_american_indian_and_alaska_native_navajo_tribal_grouping',
 'margin_of_error_race_one_race_american_indian_and_alaska_native_navajo_tribal_grouping',
 'percent_race_one_race_american_indian_and_alaska_native_navajo_tribal_grouping',
 'percent_margin_of_error_race_one_race_american_indian_and_alaska_native_navajo_tribal_grouping',
 'estimate_race_one_race_american_indian_and_alaska_native_sioux_tribal_grouping',
 'margin_of_error_race_one_race_american_indian_and_alaska_native_sioux_tribal_grouping',
 'percent_race_one_race_american_indian_and_alaska_native_sioux_tribal_grouping',
 'percent_margin_of_error_race_one_race_american_indian_and_alaska_native_sioux_tribal_grouping',
 'estimate_race_one_race_asian',
 'margin_of_error_race_one_race_asian',
 'percent_race_one_race_asian',
 'percent_margin_of_error_race_one_race_asian',
 'estimate_race_one_race_asian_asian_indian',
 'margin_of_error_race_one_race_asian_asian_indian',
 'percent_race_one_race_asian_asian_indian',
 'percent_margin_of_error_race_one_race_asian_asian_indian',
 'estimate_race_one_race_asian_chinese',
 'margin_of_error_race_one_race_asian_chinese',
 'percent_race_one_race_asian_chinese',
 'percent_margin_of_error_race_one_race_asian_chinese',
 'estimate_race_one_race_asian_filipino',
 'margin_of_error_race_one_race_asian_filipino',
 'percent_race_one_race_asian_filipino',
 'percent_margin_of_error_race_one_race_asian_filipino',
 'estimate_race_one_race_asian_japanese',
 'margin_of_error_race_one_race_asian_japanese',
 'percent_race_one_race_asian_japanese',
 'percent_margin_of_error_race_one_race_asian_japanese',
 'estimate_race_one_race_asian_korean',
 'margin_of_error_race_one_race_asian_korean',
 'percent_race_one_race_asian_korean',
 'percent_margin_of_error_race_one_race_asian_korean',
 'estimate_race_one_race_asian_vietnamese',
 'margin_of_error_race_one_race_asian_vietnamese',
 'percent_race_one_race_asian_vietnamese',
 'percent_margin_of_error_race_one_race_asian_vietnamese',
 'estimate_race_one_race_asian_other_asian',
 'margin_of_error_race_one_race_asian_other_asian',
 'percent_race_one_race_asian_other_asian',
 'percent_margin_of_error_race_one_race_asian_other_asian',
 'estimate_race_one_race_native_hawaiian_and_other_pacific_islander',
 'margin_of_error_race_one_race_native_hawaiian_and_other_pacific_islander',
 'percent_race_one_race_native_hawaiian_and_other_pacific_islander',
 'percent_margin_of_error_race_one_race_native_hawaiian_and_other_pacific_islander',
 'estimate_race_one_race_native_hawaiian_and_other_pacific_islander_native_hawaiian',
 'margin_of_error_race_one_race_native_hawaiian_and_other_pacific_islander_native_hawaiian',
 'percent_race_one_race_native_hawaiian_and_other_pacific_islander_native_hawaiian',
 'percent_margin_of_error_race_one_race_native_hawaiian_and_other_pacific_islander_native_hawaiian',
 'estimate_race_one_race_native_hawaiian_and_other_pacific_islander_guamanian_or_chamorro',
 'margin_of_error_race_one_race_native_hawaiian_and_other_pacific_islander_guamanian_or_chamorro',
 'percent_race_one_race_native_hawaiian_and_other_pacific_islander_guamanian_or_chamorro',
 'percent_margin_of_error_race_one_race_native_hawaiian_and_other_pacific_islander_guamanian_or_chamorro',
 'estimate_race_one_race_native_hawaiian_and_other_pacific_islander_samoan',
 'margin_of_error_race_one_race_native_hawaiian_and_other_pacific_islander_samoan',
 'percent_race_one_race_native_hawaiian_and_other_pacific_islander_samoan',
 'percent_margin_of_error_race_one_race_native_hawaiian_and_other_pacific_islander_samoan',
 'estimate_race_one_race_native_hawaiian_and_other_pacific_islander_other_pacific_islander',
 'margin_of_error_race_one_race_native_hawaiian_and_other_pacific_islander_other_pacific_islander',
 'percent_race_one_race_native_hawaiian_and_other_pacific_islander_other_pacific_islander',
 'percent_margin_of_error_race_one_race_native_hawaiian_and_other_pacific_islander_other_pacific_islander',
 'estimate_race_one_race_some_other_race',
 'margin_of_error_race_one_race_some_other_race',
 'percent_race_one_race_some_other_race',
 'percent_margin_of_error_race_one_race_some_other_race',
 'estimate_race_two_or_more_races',
 'margin_of_error_race_two_or_more_races',
 'percent_race_two_or_more_races',
 'percent_margin_of_error_race_two_or_more_races',
 'estimate_race_two_or_more_races_white_and_black_or_african_american',
 'margin_of_error_race_two_or_more_races_white_and_black_or_african_american',
 'percent_race_two_or_more_races_white_and_black_or_african_american',
 'percent_margin_of_error_race_two_or_more_races_white_and_black_or_african_american',
 'estimate_race_two_or_more_races_white_and_american_indian_and_alaska_native',
 'margin_of_error_race_two_or_more_races_white_and_american_indian_and_alaska_native',
 'percent_race_two_or_more_races_white_and_american_indian_and_alaska_native',
 'percent_margin_of_error_race_two_or_more_races_white_and_american_indian_and_alaska_native',
 'estimate_race_two_or_more_races_white_and_asian',
 'margin_of_error_race_two_or_more_races_white_and_asian',
 'percent_race_two_or_more_races_white_and_asian',
 'percent_margin_of_error_race_two_or_more_races_white_and_asian',
 'estimate_race_two_or_more_races_black_or_african_american_and_american_indian_and_alaska_native',
 'margin_of_error_race_two_or_more_races_black_or_african_american_and_american_indian_and_alaska_native',
 'percent_race_two_or_more_races_black_or_african_american_and_american_indian_and_alaska_native',
 'percent_margin_of_error_race_two_or_more_races_black_or_african_american_and_american_indian_and_alaska_native',
 'estimate_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population',
 'margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population',
 'percent_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population',
 'percent_margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population',
 'estimate_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_white',
 'margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_white',
 'percent_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_white',
 'percent_margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_white',
 'estimate_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_black_or_african_american',
 'margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_black_or_african_american',
 'percent_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_black_or_african_american',
 'percent_margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_black_or_african_american',
 'estimate_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_american_indian_and_alaska_native',
 'margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_american_indian_and_alaska_native',
 'percent_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_american_indian_and_alaska_native',
 'percent_margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_american_indian_and_alaska_native',
 'estimate_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_asian',
 'margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_asian',
 'percent_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_asian',
 'percent_margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_asian',
 'estimate_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_native_hawaiian_and_other_pacific_islander',
 'margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_native_hawaiian_and_other_pacific_islander',
 'percent_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_native_hawaiian_and_other_pacific_islander',
 'percent_margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_native_hawaiian_and_other_pacific_islander',
 'estimate_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_some_other_race',
 'margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_some_other_race',
 'percent_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_some_other_race',
 'percent_margin_of_error_race_race_alone_or_in_combination_with_one_or_more_other_races_total_population_some_other_race',
 'estimate_hispanic_or_latino_and_race_total_population',
 'margin_of_error_hispanic_or_latino_and_race_total_population',
 'percent_hispanic_or_latino_and_race_total_population',
 'percent_margin_of_error_hispanic_or_latino_and_race_total_population',
 'estimate_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)',
 'margin_of_error_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)',
 'percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)',
 'percent_margin_of_error_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)',
 'estimate_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_mexican',
 'margin_of_error_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_mexican',
 'percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_mexican',
 'percent_margin_of_error_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_mexican',
 'estimate_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_puerto_rican',
 'margin_of_error_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_puerto_rican',
 'percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_puerto_rican',
 'percent_margin_of_error_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_puerto_rican',
 'estimate_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_cuban',
 'margin_of_error_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_cuban',
 'percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_cuban',
 'percent_margin_of_error_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_cuban',
 'estimate_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_other_hispanic_or_latino',
 'margin_of_error_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_other_hispanic_or_latino',
 'percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_other_hispanic_or_latino',
 'percent_margin_of_error_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)_other_hispanic_or_latino',
 'estimate_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino',
 'margin_of_error_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino',
 'percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino',
 'percent_margin_of_error_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino',
 'estimate_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_white_alone',
 'margin_of_error_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_white_alone',
 'percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_white_alone',
 'percent_margin_of_error_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_white_alone',
 'estimate_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_black_or_african_american_alone',
 'margin_of_error_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_black_or_african_american_alone',
 'percent_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_black_or_african_american_alone',
 'percent_margin_of_error_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_black_or_african_american_alone',
 'estimate_hispanic_or_latino_and_race_total_population_not_hispanic_or_latino_american_indian_and_alaska_native_alone',

In [78]:
dp05_keep = ['id', 'id2', 'geography', 'estimate_sex_and_age_total_population',  'estimate_sex_and_age_total_population_male',
 'percent_sex_and_age_total_population_male', 'estimate_sex_and_age_total_population_female',
 'percent_sex_and_age_total_population_female','estimate_sex_and_age_median_age_(years)',
'percent_sex_and_age_18_years_and_over','percent_sex_and_age_21_years_and_over',
'percent_sex_and_age_62_years_and_over','percent_sex_and_age_65_years_and_over',
'percent_race_one_race_white','percent_race_one_race_black_or_african_american',
'estimate_race_one_race_american_indian_and_alaska_native','percent_race_one_race_asian',
'percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)',
]

In [79]:
dp0514= dp0514[dp05_keep]

In [80]:
dp0514.head()

,id,id2,geography,estimate_sex_and_age_total_population,estimate_sex_and_age_total_population_male,percent_sex_and_age_total_population_male,estimate_sex_and_age_total_population_female,percent_sex_and_age_total_population_female,estimate_sex_and_age_median_age_(years),percent_sex_and_age_18_years_and_over,percent_sex_and_age_21_years_and_over,percent_sex_and_age_62_years_and_over,percent_sex_and_age_65_years_and_over,percent_race_one_race_white,percent_race_one_race_black_or_african_american,estimate_race_one_race_american_indian_and_alaska_native,percent_race_one_race_asian,percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)
1035,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",3923,1974,50.3,1949,49.7,39.7,80.8,78.7,11.9,8.4,89.7,7.2,23,0.3,11.2
1036,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2927,1396,47.7,1531,52.3,36.6,77.1,76.7,17.3,10.4,96.7,0.3,0,0.3,14.4
1037,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",3465,1762,50.9,1703,49.1,35.3,83.7,83.7,7.5,5.5,89.4,2.5,5,2.0,15.0
1038,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",4243,2415,56.9,1828,43.1,32.1,87.5,87.1,9.8,7.1,96.3,1.2,0,0.9,10.6
1039,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",5816,3281,56.4,2535,43.6,32.3,80.0,77.7,6.3,4.5,36.6,15.1,0,13.4,47.0

In [81]:
# Making column names prettier
dp05_cols= {'estimate_sex_and_age_total_population':'total_pop','estimate_sex_and_age_total_population_male':'male',
            'percent_sex_and_age_total_population_male' :'%_male', 'estimate_sex_and_age_total_population_female' : 'female',
            'percent_sex_and_age_total_population_female': '%_female', 'estimate_sex_and_age_median_age_(years)' : 'median_age', 
            'percent_sex_and_age_18_years_and_over': '18_&_over', 'percent_sex_and_age_21_years_and_over':'21_&_over',
            'percent_sex_and_age_62_years_and_over' : '62_&_over', 'percent_sex_and_age_65_years_and_over': '65_&_over',
            'percent_race_one_race_white' :'%_white', 'percent_race_one_race_black_or_african_american' : '%_black',
            'estimate_race_one_race_american_indian_and_alaska_native' :  '%_native', 'percent_race_one_race_asian' : '%_asian',
            'percent_hispanic_or_latino_and_race_total_population_hispanic_or_latino_(of_any_race)' : '%_hispanic'}

In [82]:
dp0514 = dp0514.rename(columns = dp05_cols)

In [38]:
dp0514

,id,id2,geography,total_pop,male,%_male,female,%_female,median_age,18_&_over,21_&_over,62_&_over,65_&_over,%_white,%_black,%_native,%_asian,%_hispanic
1035,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",3923,1974,50.3,1949,49.7,39.7,80.8,78.7,11.9,8.4,89.7,7.2,23,0.3,11.2
1036,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2927,1396,47.7,1531,52.3,36.6,77.1,76.7,17.3,10.4,96.7,0.3,0,0.3,14.4
1037,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",3465,1762,50.9,1703,49.1,35.3,83.7,83.7,7.5,5.5,89.4,2.5,5,2.0,15.0
1038,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",4243,2415,56.9,1828,43.1,32.1,87.5,87.1,9.8,7.1,96.3,1.2,0,0.9,10.6
1039,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",5816,3281,56.4,2535,43.6,32.3,80.0,77.7,6.3,4.5,36.6,15.1,0,13.4,47.0
1040,1400000US48113000404,48113000404,"Census Tract 4.04, Dallas County, Texas",3630,2138,58.9,1492,41.1,37.8,85.2,83.3,14.8,9.2,59.6,2.8,0,11.3,49.1
1041,1400000US48113000405,48113000405,"Census Tract 4.05, Dallas County, Texas",2222,1306,58.8,916,41.2,32.0,81.1,75.9,5.3,3.2,29.2,22.4,13,13.3,41.0
1042,1400000US48113000406,48113000406,"Census Tract 4.06, Dallas County, Texas",7824,4232,54.1,3592,45.9,29.9,73.3,69.3,10.7,8.2,56.4,3.2,0,7.4,72.6
1043,1400000US48113000500,48113000500,"Census Tract 5, Dallas County, Texas",4441,2718,61.2,1723,38.8,41.6,93.7,91.4,12.5,8.7,56.9,7.5,49,3.4,41.9
1044,1400000US48113000601,48113000601,"Census Tract 6.01, Dallas County, Texas",6450,3553,55.1,2897,44.9,30.8,76.7,74.4,9.0,6.8,54.2,7.1,0,3.1,53.7
1045,1400000US48113000603,48113000603,"Census Tract 6.03, Dallas County, Texas",4033,2065,51.2,1968,48.8,37.3,94.0,92.8,10.2,4.5,79.4,1.4,10,7.3,18.1
1046,1400000US48113000605,48113000605,"Census Tract 6.05, Dallas County, Texas",2250,1136,50.5,1114,49.5,38.4,96.9,96.9,12.3,10.5,68.2,5.9,37,6.8,18.0
1047,1400000US48113000606,48113000606,"Census Tract 6.06, Dallas County, Texas",3024,1636,54.1,1388,45.9,55.1,98.1,98.1,32.3,27.5,87.4,2.4,0,2.9,6.9
1048,1400000US48113000701,48113000701,"Census Tract 7.01, Dallas County, Texas",4559,2175,47.7,2384,52.3,30.8,94.8,94.5,4.1,1.5,81.8,6.1,0,9.0,9.9
1049,1400000US48113000702,48113000702,"Census Tract 7.02, Dallas County, Texas",2790,1487,53.3,1303,46.7,31.7,93.7,93.7,11.6,8.9,77.7,0.0,20,7.4,13.8
1050,1400000US48113000800,48113000800,"Census Tract 8, Dallas County, Texas",6656,3833,57.6,2823,42.4,29.1,80.9,76.0,6.4,5.3,62.7,14.1,60,2.7,56.5
1051,1400000US48113000900,48113000900,"Census Tract 9, Dallas County, Texas",4225,2229,52.8,1996,47.2,30.4,85.4,84.7,8.1,6.2,80.6,3.4,0,2.4,51.0
1052,1400000US48113001001,48113001001,"Census Tract 10.01, Dallas County, Texas",1662,913,54.9,749,45.1,38.8,87.1,84.5,20.2,15.0,95.8,0.7,5,0.0,17.5
1053,1400000US48113001002,48113001002,"Census Tract 10.02, Dallas County, Texas",2112,947,44.8,1165,55.2,30.1,85.3,80.0,10.0,9.1,82.1,4.1,38,4.5,41.2
1054,1400000US48113001101,48113001101,"Census Tract 11.01, Dallas County, Texas",3453,1647,47.7,1806,52.3,32.0,88.8,86.3,7.8,7.2,90.3,0.6,0,0.3,29.9
1055,1400000US48113001102,48113001102,"Census Tract 11.02, Dallas County, Texas",2541,1254,49.4,1287,50.6,34.3,82.0,80.5,9.7,6.4,94.9,1.4,18,0.0,9.1
1056,1400000US48113001202,48113001202,"Census Tract 12.02, Dallas County, Texas",3468,1742,50.2,1726,49.8,30.0,77.9,77.1,3.9,3.5,66.9,21.0,32,0.5,34.5
1057,1400000US48113001203,48113001203,"Census Tract 12.03, Dallas County, Texas",1599,814,50.9,785,49.1,36.7,79.0,74.1,15.4,9.2,94.7,1.5,0,1.7,65.4
1058,1400000US48113001204,48113001204,"Census Tract 12.04, Dallas County, Texas",3069,1494,48.7,1575,51.3,25.4,68.4,62.7,9.0,5.1,88.4,0.0,28,0.0,94.4
1059,1400000US48113001301,48113001301,"Census Tract 13.01, Dallas County, Texas",2393,1210,50.6,1183,49.4,37.7,81.5,81.5,20.2,19.4,84.5,3.8,0,2.6,16.0
1060,1400000US48113001302,48113001302,"Census Tract 13.02, Dallas County, Texas",2249,1368,60.8,881,39.2,33.5,75.5,74.8,7.8,5.7,78.4,14.0,0,1.7,49.6
1061,1400000US48113001400,48113001400,"Census Tract 14, Dallas County, Texas",3771,2123,56.3,1648,43.7,31.6,80.9,77.8,7.2,5.8,81.1,7.3,0,5.3,43.6
1062,1400000US48113001502,48113001502,"Census Tract 15.02, Dallas County, Texas",3076,1661,54.0,1415,46.0,31.2,78.3,76.9,9.3,6.0,69.7,20.7,0,1.1,59.2
1063,1400000US48113001503,48113001503,"Census Tract 15.03, Dallas County, Texas",3291,1917,58.2,1374,41.8,31.8,75.7,71.0,9.4,8.2,61.7,10.5,11,4.0,67.1
1064,1400000US48113001504,48113001504,"Census Tract 15.04, Dallas County, Texas",2570,1464,57.0,1106,43.0,34.4,85.4,81.0,6.0,3.9,54.4,22.3,0,6.6,35.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1534,1400000US48113019100,48113019100,"Census Tract 191, Dallas County, Texas",5835,2942,50.4,2893,49.6,33.3,77.6,72.6,12.7,9.9,64.2,10.5,70,15.8,20.6
1535,1400000US48113019202,48113019202,"Census Tract 192.02, Dallas County, Texas",4975,2527,50.8,2448,49.2,32.9,72.5,70.4,10.9,8.4,67.3,6.6,0,7.8,42.7
1536,1400000US48113019203,48113019203,"Census Tract 192.03, Dallas County, Texas",3933,1827,46.5,2106,53.5,42.4,78.9,75.8,24.4,19.9,87.7,0.6,0,2.2,11.0
1537,1400000US48113019204,48113019204,"Census Tract 192.04, Dallas County, Texas",9316,4751,51.0,4565,49.0,28.6,72.5,66.3,7.2,5.9,58.6,9.1,0,2.7,55.9
1538,1400000US48113019205,48113019205,"Census Tract 192.05, Dallas County, Texas",3464,1652,47.7,1812,52.3,47.4,79.0,75.1,25.4,22.7,93.1,0.3,4,4.5,3.4
1539,1400000US48113019206,48113019206,"Census Tract 192.06, Dallas County, Texas",5979,3087,51.6,2892,48.4,26.6,88.1,80.5,15.6,14.7,74.2,2.5,86,15.8,12.1
1540,1400000US48113019208,48113019208,"Census Tract 192.08, Dallas County, Texas",7020,3403,48.5,3617,51.5,25.3,60.8,56.5,4.2,3.3,24.9,16.2,0,8.0,66.7
1541,1400000US48113019210,48113019210,"Census Tract 192.10, Dallas County, Texas",3999,1994,49.9,2005,50.1,45.1,76.6,74.3,25.2,21.0,95.8,0.0,0,1.8,3.1
1542,1400000US48113019211,48113019211,"Census Tract 192.11, Dallas County, Texas",5278,2641,50.0,2637,50.0,39.2,79.2,76.3,21.9,19.6,81.5,5.0,6,3.6,20.7
1543,1400000US48113019212,48113019212,"Census Tract 192.12, Dallas County, Texas",4295,2648,61.7,1647,38.3,23.5,56.6,54.0,0.6,0.0,25.4,1.8,27,0.0,95.6
1544,1400000US48113019213,48113019213,"Census Tract 192.13, Dallas County, Texas",3293,1641,49.8,1652,50.2,34.7,74.3,72.6,21.3,18.8,30.9,18.9,0,1.3,60.0
1545,1400000US48113019301,48113019301,"Census Tract 193.01, Dallas County, Texas",2960,1392,47.0,1568,53.0,41.9,66.6,64.5,13.4,8.9,98.7,0.0,0,1.3,2.2
1546,1400000US48113019302,48113019302,"Census Tract 193.02, Dallas County, Texas",5151,2343,45.5,2808,54.5,20.3,85.2,43.6,3.5,3.2,88.8,3.7,24,4.2,9.5
1547,1400000US48113019400,48113019400,"Census Tract 194, Dallas County, Texas",3978,1926,48.4,2052,51.6,31.7,71.1,63.9,9.4,7.7,91.8,0.0,0,5.4,3.5
1548,1400000US48113019501,48113019501,"Census Tract 195.01, Dallas County, Texas",7318,3377,46.1,3941,53.9,39.1,62.4,60.1,8.6,7.4,97.3,0.0,0,1.7,3.0
1549,1400000US48113019502,48113019502,"Census Tract 195.02, Dallas County, Texas",4354,2022,46.4,2332,53.6,38.0,68.6,65.0,13.3,9.0,93.5,0.0,7,2.9,2.8
1550,1400000US48113019600,48113019600,"Census Tract 196, Dallas County, Texas",2409,1150,47.7,1259,52.3,44.8,70.9,69.2,19.6,14.8,92.1,0.0,7,5.5,4.5
1551,1400000US48113019700,48113019700,"Census Tract 197, Dallas County, Texas",1637,755,46.1,882,53.9,48.3,75.1,73.4,20.3,15.5,96.2,0.0,0,1.4,5.3
1552,1400000US48113019800,48113019800,"Census Tract 198, Dallas County, Texas",4750,2302,48.5,2448,51.5,43.8,70.2,68.0,23.8,17.8,95.6,0.0,0,0.9,8.1
1553,1400000US48113019900,48113019900,"Census Tract 199, Dallas County, Texas",4267,2321,54.4,1946,45.6,28.7,66.7,63.4,8.7,6.7,61.0,3.7,153,0.5,85.3
1554,1400000US48113020000,48113020000,"Census Tract 200, Dallas County, Texas",4408,2247,51.0,2161,49.0,37.5,65.0,62.3,5.0,3.9,63.7,6.7,0,27.9,11.8
1555,1400000US48113020100,48113020100,"Census Tract 201, Dallas County, Texas",2396,1380,57.6,1016,42.4,31.3,68.2,65.3,10.5,8.4,71.9,3.0,0,4.3,66.3
1556,1400000US48113020200,48113020200,"Census Tract 202, Dallas County, Texas",4025,1862,46.3,2163,53.7,35.8,73.6,71.6,20.4,18.9,7.4,89.7,0,0.0,8.4
1557,1400000US48113020300,48113020300,"Census Tract 203, Dallas County, Texas",2270,1018,44.8,1252,55.2,48.1,86.9,83.0,20.3,17.2,13.8,85.7,0,0.0,6.1
1558,1400000US48113020400,48113020400,"Census Tract 204, Dallas County, Texas",5681,3080,54.2,2601,45.8,37.6,97.4,95.7,4.3,1.4,52.5,34.3,25,4.9,17.1
1559,1400000US48113020500,48113020500,"Census Tract 205, Dallas County, Texas",5314,2193,41.3,3121,58.7,20.3,55.6,49.0,10.5,7.9,24.0,62.9,40,3.6,24.9
1560,1400000US48113020600,48113020600,"Census Tract 206, Dallas County, Texas",2449,1144,46.7,1305,53.3,47.3,75.9,71.6,26.3,20.7,93.9,0.0,4,5.3,8.9
1561,1400000US48113020700,48113020700,"Census Tract 207, Dallas County, Texas",4333,1886,43.5,2447,56.5,50.2,87.2,85.8,24.0,18.1,81.2,7.2,34,6.9,17.6
1562,1400000US48113980000,48113980000,"Census Tract 9800, Dallas County, Texas",0,0,-,0,-,-,-,-,-,-,-,-,0,-,-
1563,1400000US48113980100,48113980100,"Census Tract 9801, Dallas County, Texas",0,0,-,0,-,-,-,-,-,-,-,-,0,-,-

In [83]:
# Mergine these two tables for this year's info
df1= pd.merge(dp0514,dp0314, how = 'inner', on = 'id2')

In [84]:
# Sanity check- did these merge right?
df1

,id_x,id2,geography_x,total_pop,male,%_male,female,%_female,median_age,18_&_over,...,%_hispanic,id_y,geography_y,pop_over_16,%_pop_over_16,%_employed,%_unemployed,mean_household_income,%_families_poverty,%_all_people_poverty
0,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",3923,1974,50.3,1949,49.7,39.7,80.8,...,11.2,1400000US48113000100,"Census Tract 1, Dallas County, Texas",3234,3234,71.8,3.6,162983,4.4,6.8
1,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2927,1396,47.7,1531,52.3,36.6,77.1,...,14.4,1400000US48113000201,"Census Tract 2.01, Dallas County, Texas",2288,2288,70.2,1.0,130061,4.1,5.1
2,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",3465,1762,50.9,1703,49.1,35.3,83.7,...,15.0,1400000US48113000202,"Census Tract 2.02, Dallas County, Texas",2926,2926,84.3,4.1,120322,1.6,2.9
3,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",4243,2415,56.9,1828,43.1,32.1,87.5,...,10.6,1400000US48113000300,"Census Tract 3, Dallas County, Texas",3721,3721,80.2,3.4,130318,2.7,8.3
4,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",5816,3281,56.4,2535,43.6,32.3,80.0,...,47.0,1400000US48113000401,"Census Tract 4.01, Dallas County, Texas",4724,4724,53.9,3.2,56284,23.6,35.8
5,1400000US48113000404,48113000404,"Census Tract 4.04, Dallas County, Texas",3630,2138,58.9,1492,41.1,37.8,85.2,...,49.1,1400000US48113000404,"Census Tract 4.04, Dallas County, Texas",3206,3206,67.3,3.3,64360,13.6,15.0
6,1400000US48113000405,48113000405,"Census Tract 4.05, Dallas County, Texas",2222,1306,58.8,916,41.2,32.0,81.1,...,41.0,1400000US48113000405,"Census Tract 4.05, Dallas County, Texas",1817,1817,74.5,4.3,40875,24.9,33.6
7,1400000US48113000406,48113000406,"Census Tract 4.06, Dallas County, Texas",7824,4232,54.1,3592,45.9,29.9,73.3,...,72.6,1400000US48113000406,"Census Tract 4.06, Dallas County, Texas",5922,5922,62.0,4.5,53948,16.6,23.1
8,1400000US48113000500,48113000500,"Census Tract 5, Dallas County, Texas",4441,2718,61.2,1723,38.8,41.6,93.7,...,41.9,1400000US48113000500,"Census Tract 5, Dallas County, Texas",4160,4160,78.8,3.7,90279,22.4,17.9
9,1400000US48113000601,48113000601,"Census Tract 6.01, Dallas County, Texas",6450,3553,55.1,2897,44.9,30.8,76.7,...,53.7,1400000US48113000601,"Census Tract 6.01, Dallas County, Texas",5123,5123,68.6,4.8,69227,20.8,27.9
10,1400000US48113000603,48113000603,"Census Tract 6.03, Dallas County, Texas",4033,2065,51.2,1968,48.8,37.3,94.0,...,18.1,1400000US48113000603,"Census Tract 6.03, Dallas County, Texas",3809,3809,87.9,0.4,125722,0.0,6.0
11,1400000US48113000605,48113000605,"Census Tract 6.05, Dallas County, Texas",2250,1136,50.5,1114,49.5,38.4,96.9,...,18.0,1400000US48113000605,"Census Tract 6.05, Dallas County, Texas",2181,2181,80.2,3.1,116783,8.7,11.9
12,1400000US48113000606,48113000606,"Census Tract 6.06, Dallas County, Texas",3024,1636,54.1,1388,45.9,55.1,98.1,...,6.9,1400000US48113000606,"Census Tract 6.06, Dallas County, Texas",2966,2966,69.3,4.1,139880,3.2,3.8
13,1400000US48113000701,48113000701,"Census Tract 7.01, Dallas County, Texas",4559,2175,47.7,2384,52.3,30.8,94.8,...,9.9,1400000US48113000701,"Census Tract 7.01, Dallas County, Texas",4340,4340,87.9,0.9,122778,4.5,7.3
14,1400000US48113000702,48113000702,"Census Tract 7.02, Dallas County, Texas",2790,1487,53.3,1303,46.7,31.7,93.7,...,13.8,1400000US48113000702,"Census Tract 7.02, Dallas County, Texas",2615,2615,81.2,3.3,96378,0.0,6.5
15,1400000US48113000800,48113000800,"Census Tract 8, Dallas County, Texas",6656,3833,57.6,2823,42.4,29.1,80.9,...,56.5,1400000US48113000800,"Census Tract 8, Dallas County, Texas",5515,5515,70.6,5.6,56707,19.0,22.2
16,1400000US48113000900,48113000900,"Census Tract 9, Dallas County, Texas",4225,2229,52.8,1996,47.2,30.4,85.4,...,51.0,1400000US48113000900,"Census Tract 9, Dallas County, Texas",3675,3675,72.5,6.0,54004,53.9,39.6
17,1400000US48113001001,48113001001,"Census Tract 10.01, Dallas County, Texas",1662,913,54.9,749,45.1,38.8,87.1,...,17.5,1400000US48113001001,"Census Tract 10.01, Dallas County, Texas",1461,1461,69.2,0.7,114335,0.0,4.6
18,1400000US48113001002,48113001002,"Census Tract 10.02, Dallas County, Texas",2112,947,44.8,1165,55.2,30.1,85.3,...,41.2,1400000US48113001002,"Census Tract 10.02, Dallas County, Texas",1829,1829,78.1,2.1,76658,4.9,9.0
19,1400000US48113001101,48113001101,"Census Tract 11.01, Dallas County, Texas",3453,1647,47.7,1806,52.3,32.0,88.8,...,29.9,1400000US48113001101,"Census Tract 11.01, Dallas County, Texas",3095,3095,81.0,5.1,92545,13.5,14.4
20,1400000US48113001102,48113001102,"Census Tract 11.02, Dallas County, Texas",2541,1254,49.4,1287,50.6,34.3,82.0,...,9.1,1400000US48113001102,"Census Tract 11.02, Dallas County, Texas",2084,2084,80.9,4.6,141117,0.0,0.8
21,1400000US48113001202,48113001202,"Census Tract 12.02, Dallas County, Texas",3468,1742,50.2,1726,49.8,30.0,77.9,...,34.5,1400000US48113001202,"Census Tract 12.02, Dallas County, Texas",2732,2732,79.8,3.0,74486,23.0,20.7
22,1400000US48113001203,48113001203,"Census Tract 12.03, Dallas County, Texas",1599,814,50.9,785,49.1,36.7,79.0,...,65.4,1400000US48113001203,"Census Tract 12.03, Dallas County, Texas",1321,1321,67.8,4.4,78562,19.2,16.9
23,1400000US48113001204,48113001204,"Census Tract 12.04, Dallas County, Texas",3069,1494,48.7,1575,51.3,25.4,68.4,...,94.4,1400000US48113001204,"Census Tract 12.04, Dallas County, Texas",2254,2254,45.9,8.9,47814,32.4,27.5
24,1400000US48113001301,48113001301,"Census Tract 13.01, Dallas County, Texas",2393,1210,50.6,1183,49.4,37.7,81.5,...,16.0,1400000US48113001301,"Census Tract 13.01, Dallas County, Texas",1964,1964,60.0,3.2,70719,8.3,14.6
25,1400000US48113001302,48113001302,"Census Tract 13.02, Dallas County, Texas",2249,1368,60.8,881,39.2,33.5,75.5,...,49.6,1400000US48113001302,"Census Tract 13.02, Dallas County, Texas",1720,1720,67.6,5.9,65592,21.0,17.0
26,1400000US48113001400,48113001400,"Census Tract 14, Dallas County, Texas",3771,2123,56.3,1648,43.7,31.6,80.9,...,43.6,1400000US48113001400,"Census Tract 14, Dallas County, Texas",3089,3089,64.6,8.2,63785,23.5,26.6
27,1400000US48113001502,48113001502,"Census Tract 15.02, Dallas County, Texas",3076,1661,54.0,1415,46.0,31.2,78.3,...,59.2,1400000US48113001502,"Census Tract 15.02, Dallas County, Texas",2446,2446,72.6,4.9,57759,28.6,28.9
28,1400000US48113001503,48113001503,"Census Tract 15.03, Dallas County, Texas",3291,1917,58.2,1374,41.8,31.8,75.7,...,67.1,1400000US48113001503,"Census Tract 15.03, Dallas County, Texas",2564,2564,61.0,8.5,33962,56.7,56.8
29,1400000US48113001504,48113001504,"Census Tract 15.04, Dallas County, Texas",2570,1464,57.0,1106,43.0,34.4,85.4,...,35.3,1400000US48113001504,"Census Tract 15.04, Dallas County, Texas",2240,2240,66.7,7.6,46034,22.8,31.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,1400000US48113019100,48113019100,"Census Tract 191, Dallas County, Texas",5835,2942,50.4,2893,49.6,33.3,77.6,...,20.6,1400000US48113019100,"Census Tract 191, Dallas County, Texas",4738,4738,65.7,5.6,69662,7.7,10.8
500,1400000US48113019202,48113019202,"Census Tract 192.02, Dallas County, Texas",4975,2527,50.8,2448,49.2,32.9,72.5,...,42.7,1400000US48113019202,"Census Tract 192.02, Dallas County, Texas",3727,3727,64.0,7.1,62484,25.9,29.7
501,1400000US48113019203,48113019203,"Census Tract 192.03, Dallas County, Texas",3933,1827,46.5,2106,53.5,42.4,78.9,...,11.0,1400000US48113019203,"Census Tract 192.03, Dallas County, Texas",3211,3211,61.5,2.6,86688,7.3,11.2
502,1400000US48113019204,48113019204,"Census Tract 192.04, Dallas County, Texas",9316,4751,51.0,4565,49.0,28.6,72.5,...,55.9,1400000US48113019204,"Census Tract 192.04, Dallas County, Texas",7070,7070,74.3,4.2,67655,7.0,11.7
503,1400000US48113019205,48113019205,"Census Tract 192.05, Dallas County, Texas",3464,1652,47.7,1812,52.3,47.4,79.0,...,3.4,1400000US48113019205,"Census Tract 192.05, Dallas County, Texas",2825,2825,62.6,2.1,112436,0.0,1.6
504,1400000US48113019206,48113019206,"Census Tract 192.06, Dallas County, Texas",5979,3087,51.6,2892,48.4,26.6,88.1,...,12.1,1400000US48113019206,"Census Tract 192.06, Dallas County, Texas",5370,5370,55.2,9.2,45653,6.9,30.5
505,1400000US48113019208,48113019208,"Census Tract 192.08, Dallas County, Texas",7020,3403,48.5,3617,51.5,25.3,60.8,...,66.7,1400000US48113019208,"Census Tract 192.08, Dallas County, Texas",4508,4508,67.0,7.2,37042,32.7,38.4
506,1400000US48113019210,48113019210,"Census Tract 192.10, Dallas County, Texas",3999,1994,49.9,2005,50.1,45.1,76.6,...,3.1,1400000US48113019210,"Census Tract 192.10, Dallas County, Texas",3140,3140,56.9,3.3,142792,2.2,2.7
507,1400000US48113019211,48113019211,"Census Tract 192.11, Dallas County, Texas",5278,2641,50.0,2637,50.0,39.2,79.2,...,20.7,1400000US48113019211,"Census Tract 192.11, Dallas County, Texas",4328,4328,65.6,4.0,63185,4.9,9.4
508,1400000US48113019212,48113019212,"Census Tract 192.12, Dallas County, Texas",4295,2648,61.7,1647,38.3,23.5,56.6,...,95.6,1400000US48113019212,"Census Tract 192.12, Dallas County, Texas",2543,2543,75.3,6.8,27128,59.6,54.6
509,1400000US48113019213,48113019213,"Census Tract 192.13, Dallas County, Texas",3293,1641,49.8,1652,50.2,34.7,74.3,...,60.0,1400000US48113019213,"Census Tract 192.13, Dallas County, Texas",2514,2514,51.9,11.5,27818,37.8,42.9
510,1400000US48113019301,48113019301,"Census Tract 193.01, Dallas County, Texas",2960,1392,47.0,1568,53.0,41.9,66.6,...,2.2,1400000US48113019301,"Census Tract 193.01, Dallas County, Texas",2096,2096,63.1,1.3,349454,0.0,0.0
511,1400000US48113019302,48113019302,"Census Tract 193.02, Dallas County, Texas",5151,2343,45.5,2808,54.5,20.3,85.2,...,9.5,1400000US48113019302,"Census Tract 193.02, Dallas County, Texas",4507,4507,45.7,3.9,210411,0.0,12.0
512,1400000US48113019400,48113019400,"Census Tract 194, Dallas County, Texas",3978,1926,48.4,2052,51.6,31.7,71.1,...,3.5,1400000US48113019400,"Census Tract 194, Dallas County, Texas",3025,3025,58.9,6.4,238934,6.9,13.1
513,1400000US48113019501,48113019501,"Census Tract 195.01, Dallas County, Texas",7318,3377,46.1,3941,53.9,39.1,62.4,...,3.0,1400000US48113019501,"Census Tract 195.01, Dallas County, Texas",4758,4758,61.1,3.9,277803,1.7,1.5
514,1400000US48113019502,48113019502,"Census Tract 195.02, Dallas County, Texas",4354,2022,46.4,2332,53.6,38.0,68.6,...,2.8,1400000US48113019502,"Census Tract 195.02, Dallas County, Texas",3188,3188,61.4,1.3,208552,2.9,3.8
515,1400000US48113019600,48113019600,"Census Tract 196, Dallas County, Texas",2409,1150,47.7,1259,52.3,44.8,70.9,...,4.5,1400000US48113019600,"Census Tract 196, Dallas County, Texas",1763,1763,56.5,5.1,257854,1.4,3.0
516,1400000US48113019700,48113019700,"Census Tract 197, Dallas County, Texas",1637,755,46.1,882,53.9,48.3,75.1,...,5.3,1400000US48113019700,"Census Tract 197, Dallas County, Texas",1299,1299,47.7,2.3,429500,3.2,4.2
517,1400000US48113019800,48113019800,"Census Tract 198, Dallas County, Texas",4750,2302,48.5,2448,51.5,43.8,70.2,...,8.1,1400000US48113019800,"Census Tract 198, Dallas County, Texas",3431,3431,56.1,4.4,304890,4.7,6.1
518,1400000US48113019900,48113019900,"Census Tract 199, Dallas County, Texas",4267,2321,54.4,1946,45.6,28.7,66.7,...,85.3,1400000US48113019900,"Census Tract 199, Dallas County, Texas",3064,3064,54.0,5.8,42654,24.0,30.0
519,1400000US48113020000,48113020000,"Census Tract 200, Dallas County, Texas",4408,2247,51.0,2161,49.0,37.5,65.0,...,11.8,1400000US48113020000,"Census Tract 200, Dallas County, Texas",3080,3080,72.7,2.0,159220,2.3,2.6
520,1400000US48113020100,48113020100,"Census Tract 201, Dallas County, Texas",2396,1380,57.6,1016,42.4,31.3,68.2,...,66.3,1400000US48113020100,"Census Tract 201, Dallas County, Texas",1689,1689,60.3,6.9,45618,20.4,18.7
521,1400000US48113020200,48113020200,"Census Tract 202, Dallas County, Texas",4025,1862,46.3,2163,53.7,35.8,73.6,...,8.4,1400000US48113020200,"Census Tract 202, Dallas County, Texas",3032,3032,39.6,6.3,34186,33.3,39.9
522,1400000US48113020300,48113020300,"Census Tract 203, Dallas County, Texas",2270,1018,44.8,1252,55.2,48.1,86.9,...,6.1,1400000US48113020300,"Census Tract 203, Dallas County, Texas",2036,2036,37.2,4.9,33035,22.2,35.9
523,1400000US48113020400,48113020400,"Census Tract 204, Dallas County, Texas",5681,3080,54.2,2601,45.8,37.6,97.4,...,17.1,1400000US48113020400,"Census Tract 204, Dallas County, Texas",5535,5535,72.7,5.9,76642,7.7,29.1
524,1400000US48113020500,48113020500,"Census Tract 205, Dallas County, Texas",5314,2193,41.3,3121,58.7,20.3,55.6,...,24.9,1400000US48113020500,"Census Tract 205, Dallas County, Texas",3281,3281,40.1,11.8,30047,48.8,55.9
525,1400000US48113020600,48113020600,"Census Tract 206, Dallas County, Texas",2449,1144,46.7,1305,53.3,47.3,75.9,...,8.9,1400000US48113020600,"Census Tract 206, Dallas County, Texas",1966,1966,51.8,0.9,448290,0.0,1.3
526,1400000US48113020700,48113020700,"Census Tract 207, Dallas County, Texas",4333,1886,43.5,2447,56.5,50.2,87.2,...,17.6,1400000US48113020700,"Census Tract 207, Dallas County, Texas",3889,3889,66.1,6.7,84859,0.0,1.2
527,1400000US48113980000,48113980000,"Census Tract 9800, Dallas County, Texas",0,0,-,0,-,-,-,...,-,1400000US48113980000,"Census Tract 9800, Dallas County, Texas",0,0,-,-,-,-,-
528,1400000US48113980100,48113980100,"Census Tract 9801, Dallas County, Texas",0,0,-,0,-,-,-,...,-,1400000US48113980100,"Census Tract 9801, Dallas County, Texas",0,0,-,-,-,-,-

In [85]:
# Getting rid of extra id and geography columns
df1.drop(axis= 1, columns= ['id_y', 'geography_y'], inplace = True )

In [86]:
# Rename id and geography
df1.rename(columns = {'id_x' : 'id', 'geography_x' : 'geography'}, inplace = True)

In [87]:
# Create a year column and assign 2014 to this set for later merging
df1['year'] = 2014

In [88]:
# Sanity check: does everything look good so far?
df1.head()

,id,id2,geography,total_pop,male,%_male,female,%_female,median_age,18_&_over,...,%_asian,%_hispanic,pop_over_16,%_pop_over_16,%_employed,%_unemployed,mean_household_income,%_families_poverty,%_all_people_poverty,year
0,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",3923,1974,50.3,1949,49.7,39.7,80.8,...,0.3,11.2,3234,3234,71.8,3.6,162983,4.4,6.8,2014
1,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2927,1396,47.7,1531,52.3,36.6,77.1,...,0.3,14.4,2288,2288,70.2,1.0,130061,4.1,5.1,2014
2,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",3465,1762,50.9,1703,49.1,35.3,83.7,...,2.0,15.0,2926,2926,84.3,4.1,120322,1.6,2.9,2014
3,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",4243,2415,56.9,1828,43.1,32.1,87.5,...,0.9,10.6,3721,3721,80.2,3.4,130318,2.7,8.3,2014
4,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",5816,3281,56.4,2535,43.6,32.3,80.0,...,13.4,47.0,4724,4724,53.9,3.2,56284,23.6,35.8,2014

### 5.2: 2015 Data
[Return to outline](#Working-Project-Outline)

In [89]:
# Importing DP03 for this year (header = 1)
dp0315= pd.read_csv('ACS_15_5YR_DP03_with_ann.csv', header = 1)

In [90]:
# Cleaning up column names, renaming columns, & dropping columns I don't need
clean_columns(dp0315)

In [91]:
# Keeping only the columns we want
dp0315= dp0315[['id',
 'id2',
 'geography',
 'estimate_employment_status_population_16_years_and_over',
 'percent_employment_status_population_16_years_and_over',
 'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_employed',
 'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_unemployed',
'estimate_income_and_benefits_(in_2015_inflationadjusted_dollars)_total_households_mean_household_income_(dollars)',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_families',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_people',
]]

In [ ]:
dp0315

In [94]:
# Renaming columns
dp0315_cols = {'estimate_employment_status_population_16_years_and_over':'pop_over_16',
'percent_employment_status_population_16_years_and_over':'%_pop_over_16',
'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_employed' :'%_employed',
'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_unemployed': '%_unemployed',
'estimate_income_and_benefits_(in_2015_inflationadjusted_dollars)_total_households_mean_household_income_(dollars)'
: 'mean_household_income',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_families': '%_families_poverty',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_people':'%_all_people_poverty'}

dp0315.rename(columns = dp0315_cols, inplace= True)

In [95]:
#keeping only Dallas county 
dp0315 = dp0315[dp0315['geography'].str.contains('Dallas County')]

In [96]:
# Importing DP05 for this year (header = 1)
dp0515= pd.read_csv('ACS_15_5YR_DP05_with_ann.csv', header = 1, low_memory = False)

In [97]:
# Cleaning up column names, renaming columns, & dropping what I don't need
clean_columns(dp0515)

In [98]:
# Keeping only columns we need
dp0515= dp0515[dp05_keep]

In [99]:
# Renaming columns for easier understanding
dp0515.rename(columns = dp05_cols, inplace = True)

In [100]:
# Keeping only Dallas County
dp0515 = dp0515[dp0515['geography'].str.contains('Dallas County')]

In [101]:
# Merging  two dataframes into one(DP05 first) on id2 & dropping extra columns
df2= pd.merge(dp0515, dp0315, how = 'inner', on= 'id2')

In [102]:
# Getting rid of repeat columns from merge
df2.drop(axis= 1, columns=['id_y', 'geography_y'], inplace = True)

In [103]:
# Rename id and geography
df2.rename(columns = {'id_x' : 'id', 'geography_x' : 'geography'}, inplace = True)

In [104]:
# Adding year column with this year
df2['year']= 2015

In [105]:
df2.head()

,id,id2,geography,total_pop,male,%_male,female,%_female,median_age,18_&_over,...,%_asian,%_hispanic,pop_over_16,%_pop_over_16,%_employed,%_unemployed,mean_household_income,%_families_poverty,%_all_people_poverty,year
0,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",3951,2099,53.1,1852,46.9,40.0,79.9,...,2.4,10.5,3236,3236,72.0,3.3,183048,2.8,6.5,2015
1,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2907,1378,47.4,1529,52.6,37.1,77.5,...,0.3,16.6,2308,2308,71.7,1.3,133584,0.0,3.6,2015
2,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",3759,1921,51.1,1838,48.9,34.4,82.5,...,2.3,17.6,3118,3118,82.7,2.3,112295,2.0,3.7,2015
3,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",4316,2504,58.0,1812,42.0,33.7,85.4,...,3.3,6.0,3698,3698,79.4,0.0,150866,0.0,8.1,2015
4,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",6430,3469,54.0,2961,46.0,32.1,77.2,...,8.5,50.0,5052,5052,54.7,2.2,56120,20.6,34.1,2015

Awesome! We are done with our 2015 data and can move on to 2016!

### 5.3: 2016 Data
[Return to outline](#Working-Project-Outline)

In [106]:
# Importing DP03 for this year (header = 1)
dp0316= pd.read_csv('ACS_16_5YR_DP03_with_ann.csv', header= 1)

In [107]:
# Cleaning up column names, renaming columns, & dropping columns I don't need
clean_columns(dp0316)


# Keeping only these columns
dp0316 = dp0316[['id',
 'id2',
 'geography',
 'estimate_employment_status_population_16_years_and_over',
 'percent_employment_status_population_16_years_and_over',
 'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_employed',
 'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_unemployed',
'estimate_income_and_benefits_(in_2016_inflationadjusted_dollars)_total_households_mean_household_income_(dollars)',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_families',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_people']]

In [109]:
# Renaming columns
dp0316_cols = {'estimate_employment_status_population_16_years_and_over':'pop_over_16',
'percent_employment_status_population_16_years_and_over':'%_pop_over_16',
'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_employed' :'%_employed',
'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_unemployed': '%_unemployed',
'estimate_income_and_benefits_(in_2016_inflationadjusted_dollars)_total_households_mean_household_income_(dollars)'
: 'mean_household_income',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_families': '%_families_poverty',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_people':'%_all_people_poverty'
}

dp0316.rename(columns = dp0316_cols, inplace= True)

In [110]:
#keeping only Dallas county 
dp0316 = dp0316[dp0316['geography'].str.contains('Dallas County')]

In [111]:
# Drop general Dallas county row
dp0316.drop(dp0316.index[0], inplace = True)

In [112]:
# Importing DP05 for this year (header = 1)
dp0516 = pd.read_csv('ACS_16_5YR_DP05_with_ann.csv', header= 1, low_memory = False)

In [113]:
# Cleaning up column names, renaming columns, & dropping what I don't need
clean_columns(dp0516)

In [114]:
# Keeping only columns we need
dp0516= dp0516[dp05_keep]

# Renaming columns for easier understanding
dp0516.rename(columns = dp05_cols, inplace = True)

In [115]:
# Keeping only Dallas County
dp0516= dp0516[dp0516['geography'].str.contains('Dallas County')]

In [116]:
# Merging  two dataframes into one(DP05 first) on id2 & dropping extra columns
df3= pd.merge(dp0516, dp0316, how= 'inner', on = 'id2')

In [117]:
# Getting rid of repeat columns
df3.drop(axis= 1, columns= ['id_y', 'geography_y'], inplace = True)

In [118]:
# Rename id and geography
df3.rename(columns = {'id_x' : 'id', 'geography_x' : 'geography'}, inplace = True)

In [119]:
# Adding year column with this year
df3['year']= 2016

In [120]:
df3

,id,id2,geography,total_pop,male,%_male,female,%_female,median_age,18_&_over,...,%_asian,%_hispanic,pop_over_16,%_pop_over_16,%_employed,%_unemployed,mean_household_income,%_families_poverty,%_all_people_poverty,year
0,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",4081,2148,52.6,1933,47.4,39.5,79.8,...,2.8,10.8,3332,3332,72.9,2.9,182203,2.4,6.9,2016
1,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2850,1331,46.7,1519,53.3,38.2,78.1,...,0.0,13.3,2277,2277,79.1,0.9,154738,0.0,3.1,2016
2,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",3789,1922,50.7,1867,49.3,33.7,82.2,...,2.2,17.9,3129,3129,79.7,2.0,109847,3.5,6.1,2016
3,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",4288,2294,53.5,1994,46.5,33.8,84.8,...,3.7,6.8,3647,3647,81.5,0.0,141231,0.0,4.9,2016
4,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",6131,3356,54.7,2775,45.3,32.2,77.8,...,6.8,47.8,4860,4860,54.2,2.8,54245,18.8,36.2,2016
5,1400000US48113000404,48113000404,"Census Tract 4.04, Dallas County, Texas",3682,2195,59.6,1487,40.4,36.5,89.6,...,9.1,44.8,3337,3337,69.5,5.0,72949,6.8,12.4,2016
6,1400000US48113000405,48113000405,"Census Tract 4.05, Dallas County, Texas",2206,1319,59.8,887,40.2,37.2,85.8,...,8.8,49.5,1921,1921,75.4,7.7,42432,23.4,29.2,2016
7,1400000US48113000406,48113000406,"Census Tract 4.06, Dallas County, Texas",7640,4036,52.8,3604,47.2,31.0,80.4,...,8.2,64.9,6217,6217,64.4,3.2,54379,11.6,15.6,2016
8,1400000US48113000500,48113000500,"Census Tract 5, Dallas County, Texas",4969,2882,58.0,2087,42.0,40.2,98.7,...,5.7,23.1,4904,4904,84.0,1.8,121711,1.4,8.7,2016
9,1400000US48113000601,48113000601,"Census Tract 6.01, Dallas County, Texas",6167,3396,55.1,2771,44.9,32.0,79.6,...,4.1,43.4,5089,5089,74.4,1.9,79620,12.1,19.9,2016
10,1400000US48113000603,48113000603,"Census Tract 6.03, Dallas County, Texas",4269,2150,50.4,2119,49.6,36.9,97.3,...,8.3,11.9,4176,4176,85.9,0.9,131504,0.0,5.6,2016
11,1400000US48113000605,48113000605,"Census Tract 6.05, Dallas County, Texas",2582,1356,52.5,1226,47.5,40.5,96.3,...,7.9,18.3,2487,2487,77.2,1.5,122530,9.9,11.9,2016
12,1400000US48113000606,48113000606,"Census Tract 6.06, Dallas County, Texas",2948,1448,49.1,1500,50.9,56.6,99.0,...,3.9,4.8,2919,2919,67.5,3.6,196193,4.5,5.4,2016
13,1400000US48113000701,48113000701,"Census Tract 7.01, Dallas County, Texas",4662,2216,47.5,2446,52.5,31.9,95.2,...,11.2,5.1,4437,4437,88.4,0.3,121299,2.6,6.6,2016
14,1400000US48113000702,48113000702,"Census Tract 7.02, Dallas County, Texas",2693,1227,45.6,1466,54.4,32.0,96.5,...,8.3,11.4,2600,2600,78.6,1.7,88239,0.0,5.4,2016
15,1400000US48113000800,48113000800,"Census Tract 8, Dallas County, Texas",6993,3672,52.5,3321,47.5,27.9,79.2,...,5.7,46.6,5634,5634,73.8,4.6,57717,20.1,23.0,2016
16,1400000US48113000900,48113000900,"Census Tract 9, Dallas County, Texas",4771,2755,57.7,2016,42.3,29.6,85.1,...,2.3,50.4,4205,4205,72.6,3.5,66881,33.0,29.5,2016
17,1400000US48113001001,48113001001,"Census Tract 10.01, Dallas County, Texas",1701,912,53.6,789,46.4,38.5,84.7,...,0.9,18.0,1441,1441,76.8,0.2,156245,0.0,3.1,2016
18,1400000US48113001002,48113001002,"Census Tract 10.02, Dallas County, Texas",1904,935,49.1,969,50.9,33.7,85.5,...,1.9,41.4,1627,1627,69.5,5.7,95120,5.7,10.5,2016
19,1400000US48113001101,48113001101,"Census Tract 11.01, Dallas County, Texas",3604,1717,47.6,1887,52.4,32.5,84.1,...,3.2,19.8,3065,3065,84.5,2.0,102505,11.5,12.2,2016
20,1400000US48113001102,48113001102,"Census Tract 11.02, Dallas County, Texas",2709,1216,44.9,1493,55.1,34.6,79.7,...,0.0,10.3,2171,2171,78.7,4.0,170088,0.0,1.5,2016
21,1400000US48113001202,48113001202,"Census Tract 12.02, Dallas County, Texas",3674,1968,53.6,1706,46.4,29.8,77.0,...,0.6,36.4,2840,2840,81.8,3.4,76619,20.1,16.0,2016
22,1400000US48113001203,48113001203,"Census Tract 12.03, Dallas County, Texas",1401,793,56.6,608,43.4,36.0,77.5,...,1.3,60.2,1109,1109,71.3,3.0,83128,14.0,16.6,2016
23,1400000US48113001204,48113001204,"Census Tract 12.04, Dallas County, Texas",3188,1582,49.6,1606,50.4,26.1,66.0,...,0.0,94.9,2235,2235,58.4,4.5,51015,21.0,17.3,2016
24,1400000US48113001301,48113001301,"Census Tract 13.01, Dallas County, Texas",2657,1260,47.4,1397,52.6,39.2,85.3,...,1.8,22.1,2286,2286,64.7,0.8,85216,3.3,10.6,2016
25,1400000US48113001302,48113001302,"Census Tract 13.02, Dallas County, Texas",2109,1156,54.8,953,45.2,32.2,80.4,...,1.4,33.2,1709,1709,70.3,7.3,69794,18.1,21.0,2016
26,1400000US48113001400,48113001400,"Census Tract 14, Dallas County, Texas",3786,1995,52.7,1791,47.3,31.6,81.5,...,4.3,40.2,3110,3110,66.6,3.2,61584,23.0,24.4,2016
27,1400000US48113001502,48113001502,"Census Tract 15.02, Dallas County, Texas",3241,1660,51.2,1581,48.8,31.6,77.6,...,1.3,56.6,2535,2535,71.3,3.3,56925,24.3,31.6,2016
28,1400000US48113001503,48113001503,"Census Tract 15.03, Dallas County, Texas",3721,2053,55.2,1668,44.8,28.9,67.9,...,2.2,72.3,2634,2634,60.0,4.5,31176,57.7,54.4,2016
29,1400000US48113001504,48113001504,"Census Tract 15.04, Dallas County, Texas",2400,1396,58.2,1004,41.8,33.8,84.4,...,3.7,41.4,2026,2026,64.9,7.3,42324,28.6,35.2,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,1400000US48113019100,48113019100,"Census Tract 191, Dallas County, Texas",6217,3049,49.0,3168,51.0,34.6,79.2,...,20.8,18.1,5049,5049,66.8,3.5,71384,8.2,13.7,2016
500,1400000US48113019202,48113019202,"Census Tract 192.02, Dallas County, Texas",5015,2532,50.5,2483,49.5,32.4,69.8,...,6.4,35.8,3636,3636,64.8,4.4,69555,24.2,27.7,2016
501,1400000US48113019203,48113019203,"Census Tract 192.03, Dallas County, Texas",3879,1736,44.8,2143,55.2,43.9,81.0,...,3.8,9.6,3230,3230,60.0,1.5,93996,6.0,10.6,2016
502,1400000US48113019204,48113019204,"Census Tract 192.04, Dallas County, Texas",9240,4639,50.2,4601,49.8,29.1,70.5,...,2.3,49.0,7041,7041,74.1,5.9,75956,10.4,13.8,2016
503,1400000US48113019205,48113019205,"Census Tract 192.05, Dallas County, Texas",3690,1741,47.2,1949,52.8,44.6,78.2,...,4.7,3.1,2937,2937,63.3,1.7,115948,1.0,2.4,2016
504,1400000US48113019206,48113019206,"Census Tract 192.06, Dallas County, Texas",6521,3277,50.3,3244,49.7,30.6,86.3,...,13.8,19.9,5718,5718,52.5,4.1,57931,6.5,26.2,2016
505,1400000US48113019208,48113019208,"Census Tract 192.08, Dallas County, Texas",6720,3566,53.1,3154,46.9,26.2,63.3,...,9.3,67.5,4543,4543,71.1,5.1,41608,26.8,28.9,2016
506,1400000US48113019210,48113019210,"Census Tract 192.10, Dallas County, Texas",3960,1993,50.3,1967,49.7,45.3,74.4,...,1.6,1.7,3035,3035,59.0,3.1,150362,2.8,2.7,2016
507,1400000US48113019211,48113019211,"Census Tract 192.11, Dallas County, Texas",5526,2729,49.4,2797,50.6,42.9,80.6,...,4.8,24.9,4567,4567,62.0,2.6,66404,2.3,8.7,2016
508,1400000US48113019212,48113019212,"Census Tract 192.12, Dallas County, Texas",4097,2370,57.8,1727,42.2,23.4,56.8,...,0.0,93.5,2474,2474,78.9,7.0,29876,45.4,46.4,2016
509,1400000US48113019213,48113019213,"Census Tract 192.13, Dallas County, Texas",3161,1627,51.5,1534,48.5,32.8,73.2,...,4.1,54.2,2354,2354,51.4,6.1,26264,43.4,44.7,2016
510,1400000US48113019301,48113019301,"Census Tract 193.01, Dallas County, Texas",3168,1452,45.8,1716,54.2,41.3,68.0,...,1.8,3.0,2291,2291,62.2,2.6,352421,1.1,1.5,2016
511,1400000US48113019302,48113019302,"Census Tract 193.02, Dallas County, Texas",5399,2553,47.3,2846,52.7,20.4,82.6,...,6.1,10.4,4636,4636,46.9,2.9,230611,1.1,8.5,2016
512,1400000US48113019400,48113019400,"Census Tract 194, Dallas County, Texas",4133,1999,48.4,2134,51.6,36.6,68.7,...,8.3,2.7,3057,3057,61.8,1.7,261597,3.8,8.5,2016
513,1400000US48113019501,48113019501,"Census Tract 195.01, Dallas County, Texas",7130,3214,45.1,3916,54.9,38.0,63.5,...,5.1,5.5,4712,4712,63.2,1.5,349279,1.9,1.6,2016
514,1400000US48113019502,48113019502,"Census Tract 195.02, Dallas County, Texas",4516,2052,45.4,2464,54.6,40.3,67.6,...,2.0,5.1,3241,3241,62.5,2.3,219725,2.5,3.5,2016
515,1400000US48113019600,48113019600,"Census Tract 196, Dallas County, Texas",2128,977,45.9,1151,54.1,47.7,74.6,...,6.5,3.8,1647,1647,56.1,1.6,311361,0.8,2.3,2016
516,1400000US48113019700,48113019700,"Census Tract 197, Dallas County, Texas",1828,896,49.0,932,51.0,48.9,76.0,...,2.5,5.2,1435,1435,51.4,2.0,424186,2.7,6.2,2016
517,1400000US48113019800,48113019800,"Census Tract 198, Dallas County, Texas",5030,2482,49.3,2548,50.7,44.3,70.0,...,0.6,6.2,3613,3613,57.6,4.4,302532,4.4,5.1,2016
518,1400000US48113019900,48113019900,"Census Tract 199, Dallas County, Texas",4301,2225,51.7,2076,48.3,29.4,65.5,...,0.5,92.3,2899,2899,59.9,4.6,50370,15.6,19.0,2016
519,1400000US48113020000,48113020000,"Census Tract 200, Dallas County, Texas",4676,2459,52.6,2217,47.4,38.5,67.0,...,29.3,10.6,3374,3374,74.3,3.1,173570,0.9,1.4,2016
520,1400000US48113020100,48113020100,"Census Tract 201, Dallas County, Texas",2540,1319,51.9,1221,48.1,33.2,68.1,...,5.0,70.4,1841,1841,58.2,7.0,55029,23.0,23.9,2016
521,1400000US48113020200,48113020200,"Census Tract 202, Dallas County, Texas",3882,1867,48.1,2015,51.9,39.8,81.1,...,0.0,16.5,3203,3203,47.2,7.1,40348,25.8,29.1,2016
522,1400000US48113020300,48113020300,"Census Tract 203, Dallas County, Texas",2255,1005,44.6,1250,55.4,47.6,88.2,...,0.0,6.0,2040,2040,40.0,4.6,33882,19.2,34.1,2016
523,1400000US48113020400,48113020400,"Census Tract 204, Dallas County, Texas",6565,3526,53.7,3039,46.3,39.4,96.0,...,3.4,17.6,6303,6303,67.5,3.7,81813,6.7,34.2,2016
524,1400000US48113020500,48113020500,"Census Tract 205, Dallas County, Texas",5452,2195,40.3,3257,59.7,25.9,59.2,...,6.9,16.7,3486,3486,40.1,9.7,31958,51.3,55.3,2016
525,1400000US48113020600,48113020600,"Census Tract 206, Dallas County, Texas",2428,1097,45.2,1331,54.8,48.5,77.7,...,7.4,8.5,2048,2048,52.1,1.4,499558,0.0,1.6,2016
526,1400000US48113020700,48113020700,"Census Tract 207, Dallas County, Texas",4332,1755,40.5,2577,59.5,49.8,88.6,...,4.4,19.5,3868,3868,71.2,2.3,83050,4.1,8.4,2016
527,1400000US48113980000,48113980000,"Census Tract 9800, Dallas County, Texas",0,0,-,0,-,-,-,...,-,-,0,0,-,-,-,-,-,2016
528,1400000US48113980100,48113980100,"Census Tract 9801, Dallas County, Texas",0,0,-,0,-,-,-,...,-,-,0,0,-,-,-,-,-,2016

Moving on to our last year- 2017!

### 5.4: 2017 Data
[Return to outline](#Working-Project-Outline)

In [232]:
# Importing DP03 for this year (header = 1)
dp0317= pd.read_csv('ACS_17_5YR_DP03_with_ann.csv', header= 1)

In [233]:
# Cleaning up column names, renaming columns, & dropping columns I don't need
clean_columns(dp0317)

# Keeping only these columns
dp0317 = dp0317[['id',
 'id2',
 'geography',
 'estimate_employment_status_population_16_years_and_over',
 'percent_employment_status_population_16_years_and_over',
 'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_employed',
 'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_unemployed',
'estimate_income_and_benefits_(in_2017_inflationadjusted_dollars)_total_households_mean_household_income_(dollars)',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_families',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_people'
]]

In [234]:
# Renaming columns
dp0317_cols = {'estimate_employment_status_population_16_years_and_over':'pop_over_16',
'percent_employment_status_population_16_years_and_over':'%_pop_over_16',
'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_employed' :'%_employed',
'percent_employment_status_population_16_years_and_over_in_labor_force_civilian_labor_force_unemployed': '%_unemployed',
'estimate_income_and_benefits_(in_2017_inflationadjusted_dollars)_total_households_mean_household_income_(dollars)'
: 'mean_household_income',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_families': '%_families_poverty',
'percent_percentage_of_families_and_people_whose_income_in_the_past_12_months_is_below_the_poverty_level_all_people':'%_all_people_poverty'
}

dp0317.rename(columns = dp0317_cols, inplace= True)

In [235]:
#keeping only Dallas county 
dp0317= dp0317[dp0317['geography'].str.contains('Dallas County')]

In [236]:
# Getting rid of Dallas county general row
dp0317.drop(dp0317.index[0], inplace = True)

In [237]:
# Importing DP05 for this year (header = 1)
dp0517= pd.read_csv('ACS_17_5YR_DP05_with_ann.csv', header= 1, low_memory= False)

In [238]:
# Cleaning up column names, renaming columns, & dropping what I don't need
clean_columns(dp0517)

#Keeping specific columns
dp0517 = dp0517[dp05_keep]

# Renaming columns for understandin g
dp0517.rename(columns= dp05_cols, inplace = True)

In [239]:
# Keeping only Dallas County
dp0517= dp0517[dp0517['geography'].str.contains('Dallas County')]

In [240]:
dp0517.head()

,id,id2,geography,total_pop,male,%_male,female,%_female,median_age,18_&_over,21_&_over,62_&_over,65_&_over,%_white,%_black,%_native,%_asian,%_hispanic
1035,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",4105,2009,48.9,2096,51.1,38.4,77.5,76.6,12.1,8.0,84.8,7.4,41,3.1,9.3
1036,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2949,1381,46.8,1568,53.2,37.5,77.8,77.0,11.6,8.9,95.6,0.5,0,0.0,12.1
1037,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",3857,1866,48.4,1991,51.6,33.8,80.9,80.6,8.6,7.3,90.5,1.3,13,2.6,20.5
1038,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",4235,2363,55.8,1872,44.2,35.2,84.9,84.6,11.4,8.1,86.7,2.9,28,5.2,7.8
1039,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",5755,3129,54.4,2626,45.6,34.9,81.8,78.9,6.5,4.2,59.5,14.0,11,13.2,37.9

In [241]:
# Merging  two dataframes into one(DP05 first) on id2 & dropping extra columns
df4= pd.merge(dp0517, dp0317, how = 'inner', on = 'id2')

# Getting rid of repeat columns
df4.drop(axis= 1, columns= ['id_y', 'geography_y'], inplace = True)

# Rename id and geography
df4.rename(columns = {'id_x' : 'id', 'geography_x' : 'geography'}, inplace = True)

In [242]:
# Adding year column with this year
df4['year'] = 2017

In [243]:
#Sanity check: Did it work?
df4

,id,id2,geography,total_pop,male,%_male,female,%_female,median_age,18_&_over,...,%_asian,%_hispanic,pop_over_16,%_pop_over_16,%_employed,%_unemployed,mean_household_income,%_families_poverty,%_all_people_poverty,year
0,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",4105,2009,48.9,2096,51.1,38.4,77.5,...,3.1,9.3,3240,3240,74.7,2.8,179297,1.2,5.7,2017
1,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2949,1381,46.8,1568,53.2,37.5,77.8,...,0.0,12.1,2358,2358,80.4,0.8,176739,0.0,4.2,2017
2,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",3857,1866,48.4,1991,51.6,33.8,80.9,...,2.6,20.5,3145,3145,80.7,1.9,116022,1.1,5.0,2017
3,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",4235,2363,55.8,1872,44.2,35.2,84.9,...,5.2,7.8,3614,3614,78.9,0.0,155670,4.5,8.4,2017
4,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",5755,3129,54.4,2626,45.6,34.9,81.8,...,13.2,37.9,4792,4792,58.6,2.2,60299,13.5,32.0,2017
5,1400000US48113000404,48113000404,"Census Tract 4.04, Dallas County, Texas",3673,2145,58.4,1528,41.6,36.8,91.1,...,10.1,36.0,3360,3360,71.5,3.2,75984,8.9,13.3,2017
6,1400000US48113000405,48113000405,"Census Tract 4.05, Dallas County, Texas",2282,1304,57.1,978,42.9,32.9,81.9,...,12.2,46.4,1917,1917,73.1,5.3,45824,26.4,31.2,2017
7,1400000US48113000406,48113000406,"Census Tract 4.06, Dallas County, Texas",8494,4317,50.8,4177,49.2,31.1,80.2,...,8.1,63.8,6938,6938,63.0,4.1,54007,10.8,18.6,2017
8,1400000US48113000500,48113000500,"Census Tract 5, Dallas County, Texas",5357,2945,55.0,2412,45.0,36.5,97.7,...,7.0,18.8,5232,5232,86.9,1.3,114163,1.6,8.2,2017
9,1400000US48113000601,48113000601,"Census Tract 6.01, Dallas County, Texas",6253,3614,57.8,2639,42.2,33.5,82.8,...,4.3,42.4,5345,5345,75.1,2.6,80825,7.5,13.0,2017
10,1400000US48113000603,48113000603,"Census Tract 6.03, Dallas County, Texas",4133,2004,48.5,2129,51.5,41.1,97.9,...,8.1,12.2,4075,4075,86.5,0.6,128187,2.0,5.0,2017
11,1400000US48113000605,48113000605,"Census Tract 6.05, Dallas County, Texas",2611,1375,52.7,1236,47.3,40.4,96.2,...,10.8,15.4,2513,2513,73.6,2.7,111611,7.4,9.7,2017
12,1400000US48113000606,48113000606,"Census Tract 6.06, Dallas County, Texas",2841,1362,47.9,1479,52.1,56.5,98.5,...,4.2,5.2,2797,2797,70.1,0.7,225903,0.0,2.5,2017
13,1400000US48113000701,48113000701,"Census Tract 7.01, Dallas County, Texas",4855,2294,47.3,2561,52.7,32.5,95.4,...,11.0,4.3,4631,4631,89.6,0.3,131887,2.9,5.7,2017
14,1400000US48113000702,48113000702,"Census Tract 7.02, Dallas County, Texas",3027,1434,47.4,1593,52.6,32.1,96.1,...,6.1,17.5,2924,2924,81.3,0.0,96310,0.0,4.2,2017
15,1400000US48113000800,48113000800,"Census Tract 8, Dallas County, Texas",7526,4131,54.9,3395,45.1,28.2,79.0,...,6.6,49.8,6018,6018,76.6,4.4,59780,18.2,21.9,2017
16,1400000US48113000900,48113000900,"Census Tract 9, Dallas County, Texas",4654,2644,56.8,2010,43.2,29.7,86.2,...,2.6,45.8,4123,4123,73.6,3.8,69403,24.6,23.8,2017
17,1400000US48113001001,48113001001,"Census Tract 10.01, Dallas County, Texas",1614,896,55.5,718,44.5,37.7,84.9,...,1.2,17.5,1378,1378,76.7,0.4,153596,0.0,3.2,2017
18,1400000US48113001002,48113001002,"Census Tract 10.02, Dallas County, Texas",1813,870,48.0,943,52.0,32.3,87.6,...,4.1,40.2,1588,1588,71.4,5.1,98437,3.7,11.8,2017
19,1400000US48113001101,48113001101,"Census Tract 11.01, Dallas County, Texas",3824,1953,51.1,1871,48.9,33.3,84.9,...,4.9,18.4,3279,3279,82.8,2.4,119116,7.6,8.4,2017
20,1400000US48113001102,48113001102,"Census Tract 11.02, Dallas County, Texas",2681,1340,50.0,1341,50.0,34.9,80.9,...,0.4,8.5,2182,2182,79.1,1.9,157746,0.0,2.2,2017
21,1400000US48113001202,48113001202,"Census Tract 12.02, Dallas County, Texas",3795,2041,53.8,1754,46.2,30.8,78.2,...,0.6,36.6,2980,2980,84.1,2.6,78076,17.0,15.1,2017
22,1400000US48113001203,48113001203,"Census Tract 12.03, Dallas County, Texas",1473,792,53.8,681,46.2,38.0,78.8,...,1.8,54.4,1194,1194,73.3,2.3,96176,14.9,17.9,2017
23,1400000US48113001204,48113001204,"Census Tract 12.04, Dallas County, Texas",3289,1611,49.0,1678,51.0,25.4,62.3,...,0.0,93.7,2172,2172,58.4,4.0,54585,23.7,21.6,2017
24,1400000US48113001301,48113001301,"Census Tract 13.01, Dallas County, Texas",2621,1161,44.3,1460,55.7,39.5,86.1,...,2.0,25.4,2268,2268,66.4,0.5,82241,7.2,13.3,2017
25,1400000US48113001302,48113001302,"Census Tract 13.02, Dallas County, Texas",2141,1117,52.2,1024,47.8,31.8,80.7,...,3.6,27.2,1738,1738,71.5,4.8,58775,22.4,25.5,2017
26,1400000US48113001400,48113001400,"Census Tract 14, Dallas County, Texas",3940,1947,49.4,1993,50.6,31.9,81.1,...,3.6,41.2,3241,3241,66.3,4.1,66656,24.1,24.4,2017
27,1400000US48113001502,48113001502,"Census Tract 15.02, Dallas County, Texas",3542,1812,51.2,1730,48.8,30.9,73.8,...,1.2,58.4,2679,2679,69.2,3.2,57886,29.4,36.7,2017
28,1400000US48113001503,48113001503,"Census Tract 15.03, Dallas County, Texas",3684,2067,56.1,1617,43.9,30.4,72.1,...,3.1,67.2,2742,2742,62.7,4.2,38604,51.4,47.2,2017
29,1400000US48113001504,48113001504,"Census Tract 15.04, Dallas County, Texas",2361,1370,58.0,991,42.0,33.5,84.2,...,6.7,41.8,1989,1989,64.1,6.1,46888,33.9,38.3,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,1400000US48113019100,48113019100,"Census Tract 191, Dallas County, Texas",6222,3089,49.6,3133,50.4,33.7,78.8,...,23.7,14.4,5019,5019,68.1,3.1,74960,9.1,14.9,2017
500,1400000US48113019202,48113019202,"Census Tract 192.02, Dallas County, Texas",5515,2710,49.1,2805,50.9,31.5,67.7,...,5.4,37.4,3877,3877,66.8,4.0,71855,22.3,27.2,2017
501,1400000US48113019203,48113019203,"Census Tract 192.03, Dallas County, Texas",3781,1749,46.3,2032,53.7,43.7,79.1,...,4.6,5.6,3127,3127,60.4,1.3,101910,4.8,6.7,2017
502,1400000US48113019204,48113019204,"Census Tract 192.04, Dallas County, Texas",9901,5011,50.6,4890,49.4,29.6,69.0,...,2.2,53.2,7375,7375,71.9,4.9,79545,11.4,14.2,2017
503,1400000US48113019205,48113019205,"Census Tract 192.05, Dallas County, Texas",3757,1693,45.1,2064,54.9,44.9,77.4,...,3.9,3.0,2981,2981,63.7,0.7,124611,1.0,2.6,2017
504,1400000US48113019206,48113019206,"Census Tract 192.06, Dallas County, Texas",6521,2999,46.0,3522,54.0,30.5,86.9,...,12.6,20.0,5743,5743,52.0,3.6,63451,2.6,23.1,2017
505,1400000US48113019208,48113019208,"Census Tract 192.08, Dallas County, Texas",6809,3479,51.1,3330,48.9,24.9,62.5,...,9.9,65.3,4492,4492,73.5,5.9,46472,24.1,24.9,2017
506,1400000US48113019210,48113019210,"Census Tract 192.10, Dallas County, Texas",4114,2136,51.9,1978,48.1,44.1,76.0,...,3.7,3.2,3194,3194,60.1,3.2,169735,2.7,3.3,2017
507,1400000US48113019211,48113019211,"Census Tract 192.11, Dallas County, Texas",5644,2808,49.8,2836,50.2,42.8,74.6,...,7.0,24.5,4381,4381,61.7,2.2,65175,1.6,8.2,2017
508,1400000US48113019212,48113019212,"Census Tract 192.12, Dallas County, Texas",4278,2371,55.4,1907,44.6,22.2,55.8,...,0.0,93.4,2566,2566,74.8,11.2,33056,45.1,44.9,2017
509,1400000US48113019213,48113019213,"Census Tract 192.13, Dallas County, Texas",3615,1976,54.7,1639,45.3,31.9,73.0,...,4.0,59.7,2695,2695,54.0,4.7,29097,39.5,39.1,2017
510,1400000US48113019301,48113019301,"Census Tract 193.01, Dallas County, Texas",3106,1449,46.7,1657,53.3,40.8,68.4,...,2.1,3.4,2227,2227,65.3,2.9,350834,1.3,1.9,2017
511,1400000US48113019302,48113019302,"Census Tract 193.02, Dallas County, Texas",5375,2641,49.1,2734,50.9,20.3,82.9,...,7.8,11.3,4604,4604,45.6,1.9,235718,2.7,10.3,2017
512,1400000US48113019400,48113019400,"Census Tract 194, Dallas County, Texas",4251,1935,45.5,2316,54.5,38.3,69.5,...,7.7,3.1,3154,3154,61.2,0.8,300720,2.7,6.5,2017
513,1400000US48113019501,48113019501,"Census Tract 195.01, Dallas County, Texas",7544,3426,45.4,4118,54.6,38.2,62.5,...,6.2,4.1,4959,4959,57.1,1.8,368434,1.5,1.2,2017
514,1400000US48113019502,48113019502,"Census Tract 195.02, Dallas County, Texas",4407,1984,45.0,2423,55.0,40.8,69.3,...,2.3,5.5,3252,3252,62.5,1.8,236404,2.6,3.4,2017
515,1400000US48113019600,48113019600,"Census Tract 196, Dallas County, Texas",2156,985,45.7,1171,54.3,48.7,76.0,...,6.5,3.4,1699,1699,56.4,1.8,330701,0.8,2.0,2017
516,1400000US48113019700,48113019700,"Census Tract 197, Dallas County, Texas",1838,881,47.9,957,52.1,51.3,76.3,...,4.5,1.5,1438,1438,53.0,1.0,497033,3.0,7.2,2017
517,1400000US48113019800,48113019800,"Census Tract 198, Dallas County, Texas",5077,2504,49.3,2573,50.7,44.1,71.2,...,1.8,4.7,3695,3695,59.7,4.0,319016,0.7,2.1,2017
518,1400000US48113019900,48113019900,"Census Tract 199, Dallas County, Texas",4273,2196,51.4,2077,48.6,32.3,70.4,...,0.5,92.3,3084,3084,62.4,4.3,52507,13.0,14.1,2017
519,1400000US48113020000,48113020000,"Census Tract 200, Dallas County, Texas",4788,2534,52.9,2254,47.1,39.1,66.5,...,32.4,10.8,3428,3428,73.9,3.5,178191,0.0,0.1,2017
520,1400000US48113020100,48113020100,"Census Tract 201, Dallas County, Texas",2384,1164,48.8,1220,51.2,34.6,72.5,...,5.4,65.7,1776,1776,60.0,7.9,63874,19.5,19.7,2017
521,1400000US48113020200,48113020200,"Census Tract 202, Dallas County, Texas",3850,1856,48.2,1994,51.8,37.6,80.0,...,0.0,19.4,3127,3127,45.3,6.0,36197,29.0,34.2,2017
522,1400000US48113020300,48113020300,"Census Tract 203, Dallas County, Texas",2290,942,41.1,1348,58.9,44.5,85.4,...,0.0,6.7,1974,1974,45.9,1.6,32711,20.4,33.9,2017
523,1400000US48113020400,48113020400,"Census Tract 204, Dallas County, Texas",7504,4013,53.5,3491,46.5,35.8,96.0,...,2.0,25.9,7203,7203,69.0,4.2,84713,8.4,32.1,2017
524,1400000US48113020500,48113020500,"Census Tract 205, Dallas County, Texas",5672,2245,39.6,3427,60.4,22.8,57.3,...,5.4,24.8,3557,3557,40.0,8.9,27534,53.3,57.7,2017
525,1400000US48113020600,48113020600,"Census Tract 206, Dallas County, Texas",2217,1028,46.4,1189,53.6,51.4,80.2,...,2.7,7.8,1933,1933,47.9,1.1,466855,0.9,2.2,2017
526,1400000US48113020700,48113020700,"Census Tract 207, Dallas County, Texas",4455,1746,39.2,2709,60.8,49.6,88.8,...,6.9,22.6,3992,3992,70.8,2.3,81709,4.9,8.5,2017
527,1400000US48113980000,48113980000,"Census Tract 9800, Dallas County, Texas",0,0,-,0,-,-,-,...,-,-,0,0,-,-,-,-,-,2017
528,1400000US48113980100,48113980100,"Census Tract 9801, Dallas County, Texas",0,0,-,0,-,-,-,...,-,-,0,0,-,-,-,-,-,2017

Excellent! Let's move on to our next step: figuring out the relationship between zip codes within Dallas City limits and U.S. Census tracts!

## 6. Zipcode/County/Tract Relationships!
[Return to outline](#Working-Project-Outline)

In [255]:
zip_df = pd.read_csv('zcta_tract_rel_10.txt', sep = ',')

In [256]:
zip_df.head()

,ZCTA5,STATE,COUNTY,TRACT,GEOID,POPPT,HUPT,AREAPT,AREALANDPT,ZPOP,...,TRAREA,TRAREALAND,ZPOPPCT,ZHUPCT,ZAREAPCT,ZAREALANDPCT,TRPOPPCT,TRHUPCT,TRAREAPCT,TRAREALANDPCT
0,601,72,1,956300,72001956300,4271,1706,44663250,44572589,18570,...,44924558,44833897,23.00,22.03,26.67,26.74,98.5,98.33,99.42,99.42
1,601,72,1,956400,72001956400,2384,1037,32830481,32492074,18570,...,37782601,37191697,12.84,13.39,19.61,19.50,79.6,80.14,86.89,87.36
2,601,72,1,956500,72001956500,3126,1240,44969548,44809680,18570,...,44969548,44809680,16.83,16.01,26.85,26.89,100.0,100.00,100.00,100.00
3,601,72,1,956600,72001956600,2329,972,1981101,1981101,18570,...,1981101,1981101,12.54,12.55,1.18,1.19,100.0,100.00,100.00,100.00
4,601,72,1,956700,72001956700,2053,948,1380041,1380041,18570,...,1380041,1380041,11.06,12.24,0.82,0.83,100.0,100.00,100.00,100.00

In [257]:
# Cleaning up column names
zip_df.columns = zip_df.columns.str.lower()

In [258]:
zip_df= zip_df.rename(columns = {'zcta5': 'zip_code'})

In [251]:
# Creating a dictionary for our Dallas zipcodes to use later
zip_codes= {'zip_code': [75201, 75202,75203,75204,75205,75206,75207,75208,75209,75210,75211,75212,75214,75215,
            75216,75217,75218,75219,75220,75221,75222,75223,75224,75225,75226,75227,75228,75229, 
            75230, 75231, 75232, 75233, 75234, 75235, 75236, 75237, 75238, 75240, 75241, 75242, 75243,
            75244, 75245, 75246, 75247, 75248, 75249, 75250, 75251, 75252, 75253, 75254, 75258, 75260, 
            75261, 75262, 75263, 75264, 75265, 75266, 75267, 75270, 75275, 75277, 75283, 75284, 75285, 
            75286, 75287,75301, 75303, 75310, 75312, 75313,75315,75320,75323,75326,75334, 75366, 75339, 
            75340, 75342, 75343, 75344, 75354, 75355, 75356, 75357, 75358, 75359, 75360, 75367, 75368, 
            75370, 75371, 75372, 75373, 75374, 75376, 75378, 75379, 75380, 75381, 75382, 75387, 75389, 
            75390, 75391, 75392, 75393, 75394]}

In [259]:
inscope_zips= pd.DataFrame(data = zip_codes)

In [260]:
inscope_zips.head()

   zip_code
0     75201
1     75202
2     75203
3     75204
4     75205

In [261]:
dallas_zips= pd.merge(inscope_zips, zip_df, how= 'inner', on= 'zip_code')

In [262]:
dallas_zips.head()

,zip_code,state,county,tract,geoid,poppt,hupt,areapt,arealandpt,zpop,...,trarea,trarealand,zpoppct,zhupct,zareapct,zarealandpct,trpoppct,trhupct,trareapct,trarealandpct
0,75201,48,113,500,48113000500,142,97,46417,46417,9409,...,1495995,1495995,1.51,1.40,1.24,1.24,2.56,2.62,3.10,3.10
1,75201,48,113,1701,48113001701,75,54,612785,612785,9409,...,612785,612785,0.80,0.78,16.38,16.38,100.00,100.00,100.00,100.00
2,75201,48,113,1703,48113001703,41,55,25265,25265,9409,...,676078,676078,0.44,0.79,0.68,0.68,1.30,2.27,3.74,3.74
3,75201,48,113,1704,48113001704,350,323,205444,205444,9409,...,329627,329627,3.72,4.66,5.49,5.49,25.11,28.28,62.33,62.33
4,75201,48,113,1800,48113001800,792,527,356409,356409,9409,...,754462,754462,8.42,7.61,9.53,9.53,22.15,18.48,47.24,47.24

In [263]:
# Dropping all data except zipcode and tract number
dallas_zips= dallas_zips[['zip_code', 'tract']]

In [264]:
# Sanity check: Did it really drop everything else
dallas_zips

     zip_code  tract
0       75201    500
1       75201   1701
2       75201   1703
3       75201   1704
4       75201   1800
5       75201   1900
6       75201   2100
7       75201   3101
8       75201  20400
9       75202   1900
10      75202   2100
11      75202   3101
12      75202  20400
13      75203   2000
14      75203   4100
15      75203   4201
16      75203   4700
17      75203   4800
18      75203   4900
19      75203   5000
20      75203   5400
21      75203   5500
22      75203   8603
23      75203   8900
24      75204    606
25      75204    701
26      75204    702
27      75204    800
28      75204    900
29      75204   1503
..        ...    ...
444     75254  13606
445     75254  13607
446     75254  13608
447     75254  13609
448     75254  13610
449     75254  13615
450     75254  13616
451     75254  13620
452     75254  13621
453     75254  13622
454     75254  13623
455     75254  13624
456     75254  13625
457     75254  13626
458     75270   3101
459     75287  31704
460     75287  31706
461     75287  31711
462     75287  31712
463     75287  31713
464     75287  31714
465     75287  13727
466     75287  21616
467     75287  21632
468     75287  21634
469     75287  21635
470     75287  21636
471     75287  21637
472     75287  21638
473     75390  10000

[474 rows x 2 columns]

## 7. EDA and Other Crap!
[Return to outline](#Working-Project-Outline)

Really need to do the following things here:
- merge all dfs into one dataframe- organized by year
- assign tract a zipcode
- drop any tracts outside of our scope
- do some pretty visualizations to see whats up with these stats over time

In [383]:
# Starting to merge our subdataframes together
census_df = pd.concat([df1, df2, df3, df4, df5])

In [275]:
# Sanity check; Does our new df look like we want it to (26 columns and 2,116 rows)?
census_df

,id,id2,geography,total_pop,male,%_male,female,%_female,median_age,18_&_over,...,%_asian,%_hispanic,pop_over_16,%_pop_over_16,%_employed,%_unemployed,mean_household_income,%_families_poverty,%_all_people_poverty,year
0,1400000US48113000100,48113000100,"Census Tract 1, Dallas County, Texas",3923,1974,50.3,1949,49.7,39.7,80.8,...,0.3,11.2,3234,3234,71.8,3.6,162983,4.4,6.8,2014
1,1400000US48113000201,48113000201,"Census Tract 2.01, Dallas County, Texas",2927,1396,47.7,1531,52.3,36.6,77.1,...,0.3,14.4,2288,2288,70.2,1.0,130061,4.1,5.1,2014
2,1400000US48113000202,48113000202,"Census Tract 2.02, Dallas County, Texas",3465,1762,50.9,1703,49.1,35.3,83.7,...,2.0,15.0,2926,2926,84.3,4.1,120322,1.6,2.9,2014
3,1400000US48113000300,48113000300,"Census Tract 3, Dallas County, Texas",4243,2415,56.9,1828,43.1,32.1,87.5,...,0.9,10.6,3721,3721,80.2,3.4,130318,2.7,8.3,2014
4,1400000US48113000401,48113000401,"Census Tract 4.01, Dallas County, Texas",5816,3281,56.4,2535,43.6,32.3,80.0,...,13.4,47.0,4724,4724,53.9,3.2,56284,23.6,35.8,2014
5,1400000US48113000404,48113000404,"Census Tract 4.04, Dallas County, Texas",3630,2138,58.9,1492,41.1,37.8,85.2,...,11.3,49.1,3206,3206,67.3,3.3,64360,13.6,15.0,2014
6,1400000US48113000405,48113000405,"Census Tract 4.05, Dallas County, Texas",2222,1306,58.8,916,41.2,32.0,81.1,...,13.3,41.0,1817,1817,74.5,4.3,40875,24.9,33.6,2014
7,1400000US48113000406,48113000406,"Census Tract 4.06, Dallas County, Texas",7824,4232,54.1,3592,45.9,29.9,73.3,...,7.4,72.6,5922,5922,62.0,4.5,53948,16.6,23.1,2014
8,1400000US48113000500,48113000500,"Census Tract 5, Dallas County, Texas",4441,2718,61.2,1723,38.8,41.6,93.7,...,3.4,41.9,4160,4160,78.8,3.7,90279,22.4,17.9,2014
9,1400000US48113000601,48113000601,"Census Tract 6.01, Dallas County, Texas",6450,3553,55.1,2897,44.9,30.8,76.7,...,3.1,53.7,5123,5123,68.6,4.8,69227,20.8,27.9,2014
10,1400000US48113000603,48113000603,"Census Tract 6.03, Dallas County, Texas",4033,2065,51.2,1968,48.8,37.3,94.0,...,7.3,18.1,3809,3809,87.9,0.4,125722,0.0,6.0,2014
11,1400000US48113000605,48113000605,"Census Tract 6.05, Dallas County, Texas",2250,1136,50.5,1114,49.5,38.4,96.9,...,6.8,18.0,2181,2181,80.2,3.1,116783,8.7,11.9,2014
12,1400000US48113000606,48113000606,"Census Tract 6.06, Dallas County, Texas",3024,1636,54.1,1388,45.9,55.1,98.1,...,2.9,6.9,2966,2966,69.3,4.1,139880,3.2,3.8,2014
13,1400000US48113000701,48113000701,"Census Tract 7.01, Dallas County, Texas",4559,2175,47.7,2384,52.3,30.8,94.8,...,9.0,9.9,4340,4340,87.9,0.9,122778,4.5,7.3,2014
14,1400000US48113000702,48113000702,"Census Tract 7.02, Dallas County, Texas",2790,1487,53.3,1303,46.7,31.7,93.7,...,7.4,13.8,2615,2615,81.2,3.3,96378,0.0,6.5,2014
15,1400000US48113000800,48113000800,"Census Tract 8, Dallas County, Texas",6656,3833,57.6,2823,42.4,29.1,80.9,...,2.7,56.5,5515,5515,70.6,5.6,56707,19.0,22.2,2014
16,1400000US48113000900,48113000900,"Census Tract 9, Dallas County, Texas",4225,2229,52.8,1996,47.2,30.4,85.4,...,2.4,51.0,3675,3675,72.5,6.0,54004,53.9,39.6,2014
17,1400000US48113001001,48113001001,"Census Tract 10.01, Dallas County, Texas",1662,913,54.9,749,45.1,38.8,87.1,...,0.0,17.5,1461,1461,69.2,0.7,114335,0.0,4.6,2014
18,1400000US48113001002,48113001002,"Census Tract 10.02, Dallas County, Texas",2112,947,44.8,1165,55.2,30.1,85.3,...,4.5,41.2,1829,1829,78.1,2.1,76658,4.9,9.0,2014
19,1400000US48113001101,48113001101,"Census Tract 11.01, Dallas County, Texas",3453,1647,47.7,1806,52.3,32.0,88.8,...,0.3,29.9,3095,3095,81.0,5.1,92545,13.5,14.4,2014
20,1400000US48113001102,48113001102,"Census Tract 11.02, Dallas County, Texas",2541,1254,49.4,1287,50.6,34.3,82.0,...,0.0,9.1,2084,2084,80.9,4.6,141117,0.0,0.8,2014
21,1400000US48113001202,48113001202,"Census Tract 12.02, Dallas County, Texas",3468,1742,50.2,1726,49.8,30.0,77.9,...,0.5,34.5,2732,2732,79.8,3.0,74486,23.0,20.7,2014
22,1400000US48113001203,48113001203,"Census Tract 12.03, Dallas County, Texas",1599,814,50.9,785,49.1,36.7,79.0,...,1.7,65.4,1321,1321,67.8,4.4,78562,19.2,16.9,2014
23,1400000US48113001204,48113001204,"Census Tract 12.04, Dallas County, Texas",3069,1494,48.7,1575,51.3,25.4,68.4,...,0.0,94.4,2254,2254,45.9,8.9,47814,32.4,27.5,2014
24,1400000US48113001301,48113001301,"Census Tract 13.01, Dallas County, Texas",2393,1210,50.6,1183,49.4,37.7,81.5,...,2.6,16.0,1964,1964,60.0,3.2,70719,8.3,14.6,2014
25,1400000US48113001302,48113001302,"Census Tract 13.02, Dallas County, Texas",2249,1368,60.8,881,39.2,33.5,75.5,...,1.7,49.6,1720,1720,67.6,5.9,65592,21.0,17.0,2014
26,1400000US48113001400,48113001400,"Census Tract 14, Dallas County, Texas",3771,2123,56.3,1648,43.7,31.6,80.9,...,5.3,43.6,3089,3089,64.6,8.2,63785,23.5,26.6,2014
27,1400000US48113001502,48113001502,"Census Tract 15.02, Dallas County, Texas",3076,1661,54.0,1415,46.0,31.2,78.3,...,1.1,59.2,2446,2446,72.6,4.9,57759,28.6,28.9,2014
28,1400000US48113001503,48113001503,"Census Tract 15.03, Dallas County, Texas",3291,1917,58.2,1374,41.8,31.8,75.7,...,4.0,67.1,2564,2564,61.0,8.5,33962,56.7,56.8,2014
29,1400000US48113001504,48113001504,"Census Tract 15.04, Dallas County, Texas",2570,1464,57.0,1106,43.0,34.4,85.4,...,6.6,35.3,2240,2240,66.7,7.6,46034,22.8,31.2,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,1400000US48113019100,48113019100,"Census Tract 191, Dallas County, Texas",6222,3089,49.6,3133,50.4,33.7,78.8,...,23.7,14.4,5019,5019,68.1,3.1,74960,9.1,14.9,2017
500,1400000US48113019202,48113019202,"Census Tract 192.02, Dallas County, Texas",5515,2710,49.1,2805,50.9,31.5,67.7,...,5.4,37.4,3877,3877,66.8,4.0,71855,22.3,27.2,2017
501,1400000US48113019203,48113019203,"Census Tract 192.03, Dallas County, Texas",3781,1749,46.3,2032,53.7,43.7,79.1,...,4.6,5.6,3127,3127,60.4,1.3,101910,4.8,6.7,2017
502,1400000US48113019204,48113019204,"Census Tract 192.04, Dallas County, Texas",9901,5011,50.6,4890,49.4,29.6,69.0,...,2.2,53.2,7375,7375,71.9,4.9,79545,11.4,14.2,2017
503,1400000US48113019205,48113019205,"Census Tract 192.05, Dallas County, Texas",3757,1693,45.1,2064,54.9,44.9,77.4,...,3.9,3.0,2981,2981,63.7,0.7,124611,1.0,2.6,2017
504,1400000US48113019206,48113019206,"Census Tract 192.06, Dallas County, Texas",6521,2999,46.0,3522,54.0,30.5,86.9,...,12.6,20.0,5743,5743,52.0,3.6,63451,2.6,23.1,2017
505,1400000US48113019208,48113019208,"Census Tract 192.08, Dallas County, Texas",6809,3479,51.1,3330,48.9,24.9,62.5,...,9.9,65.3,4492,4492,73.5,5.9,46472,24.1,24.9,2017
506,1400000US48113019210,48113019210,"Census Tract 192.10, Dallas County, Texas",4114,2136,51.9,1978,48.1,44.1,76.0,...,3.7,3.2,3194,3194,60.1,3.2,169735,2.7,3.3,2017
507,1400000US48113019211,48113019211,"Census Tract 192.11, Dallas County, Texas",5644,2808,49.8,2836,50.2,42.8,74.6,...,7.0,24.5,4381,4381,61.7,2.2,65175,1.6,8.2,2017
508,1400000US48113019212,48113019212,"Census Tract 192.12, Dallas County, Texas",4278,2371,55.4,1907,44.6,22.2,55.8,...,0.0,93.4,2566,2566,74.8,11.2,33056,45.1,44.9,2017
509,1400000US48113019213,48113019213,"Census Tract 192.13, Dallas County, Texas",3615,1976,54.7,1639,45.3,31.9,73.0,...,4.0,59.7,2695,2695,54.0,4.7,29097,39.5,39.1,2017
510,1400000US48113019301,48113019301,"Census Tract 193.01, Dallas County, Texas",3106,1449,46.7,1657,53.3,40.8,68.4,...,2.1,3.4,2227,2227,65.3,2.9,350834,1.3,1.9,2017
511,1400000US48113019302,48113019302,"Census Tract 193.02, Dallas County, Texas",5375,2641,49.1,2734,50.9,20.3,82.9,...,7.8,11.3,4604,4604,45.6,1.9,235718,2.7,10.3,2017
512,1400000US48113019400,48113019400,"Census Tract 194, Dallas County, Texas",4251,1935,45.5,2316,54.5,38.3,69.5,...,7.7,3.1,3154,3154,61.2,0.8,300720,2.7,6.5,2017
513,1400000US48113019501,48113019501,"Census Tract 195.01, Dallas County, Texas",7544,3426,45.4,4118,54.6,38.2,62.5,...,6.2,4.1,4959,4959,57.1,1.8,368434,1.5,1.2,2017
514,1400000US48113019502,48113019502,"Census Tract 195.02, Dallas County, Texas",4407,1984,45.0,2423,55.0,40.8,69.3,...,2.3,5.5,3252,3252,62.5,1.8,236404,2.6,3.4,2017
515,1400000US48113019600,48113019600,"Census Tract 196, Dallas County, Texas",2156,985,45.7,1171,54.3,48.7,76.0,...,6.5,3.4,1699,1699,56.4,1.8,330701,0.8,2.0,2017
516,1400000US48113019700,48113019700,"Census Tract 197, Dallas County, Texas",1838,881,47.9,957,52.1,51.3,76.3,...,4.5,1.5,1438,1438,53.0,1.0,497033,3.0,7.2,2017
517,1400000US48113019800,48113019800,"Census Tract 198, Dallas County, Texas",5077,2504,49.3,2573,50.7,44.1,71.2,...,1.8,4.7,3695,3695,59.7,4.0,319016,0.7,2.1,2017
518,1400000US48113019900,48113019900,"Census Tract 199, Dallas County, Texas",4273,2196,51.4,2077,48.6,32.3,70.4,...,0.5,92.3,3084,3084,62.4,4.3,52507,13.0,14.1,2017
519,1400000US48113020000,48113020000,"Census Tract 200, Dallas County, Texas",4788,2534,52.9,2254,47.1,39.1,66.5,...,32.4,10.8,3428,3428,73.9,3.5,178191,0.0,0.1,2017
520,1400000US48113020100,48113020100,"Census Tract 201, Dallas County, Texas",2384,1164,48.8,1220,51.2,34.6,72.5,...,5.4,65.7,1776,1776,60.0,7.9,63874,19.5,19.7,2017
521,1400000US48113020200,48113020200,"Census Tract 202, Dallas County, Texas",3850,1856,48.2,1994,51.8,37.6,80.0,...,0.0,19.4,3127,3127,45.3,6.0,36197,29.0,34.2,2017
522,1400000US48113020300,48113020300,"Census Tract 203, Dallas County, Texas",2290,942,41.1,1348,58.9,44.5,85.4,...,0.0,6.7,1974,1974,45.9,1.6,32711,20.4,33.9,2017
523,1400000US48113020400,48113020400,"Census Tract 204, Dallas County, Texas",7504,4013,53.5,3491,46.5,35.8,96.0,...,2.0,25.9,7203,7203,69.0,4.2,84713,8.4,32.1,2017
524,1400000US48113020500,48113020500,"Census Tract 205, Dallas County, Texas",5672,2245,39.6,3427,60.4,22.8,57.3,...,5.4,24.8,3557,3557,40.0,8.9,27534,53.3,57.7,2017
525,1400000US48113020600,48113020600,"Census Tract 206, Dallas County, Texas",2217,1028,46.4,1189,53.6,51.4,80.2,...,2.7,7.8,1933,1933,47.9,1.1,466855,0.9,2.2,2017
526,1400000US48113020700,48113020700,"Census Tract 207, Dallas County, Texas",4455,1746,39.2,2709,60.8,49.6,88.8,...,6.9,22.6,3992,3992,70.8,2.3,81709,4.9,8.5,2017
527,1400000US48113980000,48113980000,"Census Tract 9800, Dallas County, Texas",0,0,-,0,-,-,-,...,-,-,0,0,-,-,-,-,-,2017
528,1400000US48113980100,48113980100,"Census Tract 9801, Dallas County, Texas",0,0,-,0,-,-,-,...,-,-,0,0,-,-,-,-,-,2017

In [384]:
new = census_df['id'].str.split("481130", n = 1, expand = True) 
census_df['id']= new[0]
census_df['tract']= new[1]

In [281]:
census_df

,id,id2,geography,total_pop,male,%_male,female,%_female,median_age,18_&_over,...,%_hispanic,pop_over_16,%_pop_over_16,%_employed,%_unemployed,mean_household_income,%_families_poverty,%_all_people_poverty,year,tract
0,1400000US,48113000100,"Census Tract 1, Dallas County, Texas",3923,1974,50.3,1949,49.7,39.7,80.8,...,11.2,3234,3234,71.8,3.6,162983,4.4,6.8,2014,00100
1,1400000US,48113000201,"Census Tract 2.01, Dallas County, Texas",2927,1396,47.7,1531,52.3,36.6,77.1,...,14.4,2288,2288,70.2,1.0,130061,4.1,5.1,2014,00201
2,1400000US,48113000202,"Census Tract 2.02, Dallas County, Texas",3465,1762,50.9,1703,49.1,35.3,83.7,...,15.0,2926,2926,84.3,4.1,120322,1.6,2.9,2014,00202
3,1400000US,48113000300,"Census Tract 3, Dallas County, Texas",4243,2415,56.9,1828,43.1,32.1,87.5,...,10.6,3721,3721,80.2,3.4,130318,2.7,8.3,2014,00300
4,1400000US,48113000401,"Census Tract 4.01, Dallas County, Texas",5816,3281,56.4,2535,43.6,32.3,80.0,...,47.0,4724,4724,53.9,3.2,56284,23.6,35.8,2014,00401
5,1400000US,48113000404,"Census Tract 4.04, Dallas County, Texas",3630,2138,58.9,1492,41.1,37.8,85.2,...,49.1,3206,3206,67.3,3.3,64360,13.6,15.0,2014,00404
6,1400000US,48113000405,"Census Tract 4.05, Dallas County, Texas",2222,1306,58.8,916,41.2,32.0,81.1,...,41.0,1817,1817,74.5,4.3,40875,24.9,33.6,2014,00405
7,1400000US,48113000406,"Census Tract 4.06, Dallas County, Texas",7824,4232,54.1,3592,45.9,29.9,73.3,...,72.6,5922,5922,62.0,4.5,53948,16.6,23.1,2014,00406
8,1400000US,48113000500,"Census Tract 5, Dallas County, Texas",4441,2718,61.2,1723,38.8,41.6,93.7,...,41.9,4160,4160,78.8,3.7,90279,22.4,17.9,2014,00500
9,1400000US,48113000601,"Census Tract 6.01, Dallas County, Texas",6450,3553,55.1,2897,44.9,30.8,76.7,...,53.7,5123,5123,68.6,4.8,69227,20.8,27.9,2014,00601
10,1400000US,48113000603,"Census Tract 6.03, Dallas County, Texas",4033,2065,51.2,1968,48.8,37.3,94.0,...,18.1,3809,3809,87.9,0.4,125722,0.0,6.0,2014,00603
11,1400000US,48113000605,"Census Tract 6.05, Dallas County, Texas",2250,1136,50.5,1114,49.5,38.4,96.9,...,18.0,2181,2181,80.2,3.1,116783,8.7,11.9,2014,00605
12,1400000US,48113000606,"Census Tract 6.06, Dallas County, Texas",3024,1636,54.1,1388,45.9,55.1,98.1,...,6.9,2966,2966,69.3,4.1,139880,3.2,3.8,2014,00606
13,1400000US,48113000701,"Census Tract 7.01, Dallas County, Texas",4559,2175,47.7,2384,52.3,30.8,94.8,...,9.9,4340,4340,87.9,0.9,122778,4.5,7.3,2014,00701
14,1400000US,48113000702,"Census Tract 7.02, Dallas County, Texas",2790,1487,53.3,1303,46.7,31.7,93.7,...,13.8,2615,2615,81.2,3.3,96378,0.0,6.5,2014,00702
15,1400000US,48113000800,"Census Tract 8, Dallas County, Texas",6656,3833,57.6,2823,42.4,29.1,80.9,...,56.5,5515,5515,70.6,5.6,56707,19.0,22.2,2014,00800
16,1400000US,48113000900,"Census Tract 9, Dallas County, Texas",4225,2229,52.8,1996,47.2,30.4,85.4,...,51.0,3675,3675,72.5,6.0,54004,53.9,39.6,2014,00900
17,1400000US,48113001001,"Census Tract 10.01, Dallas County, Texas",1662,913,54.9,749,45.1,38.8,87.1,...,17.5,1461,1461,69.2,0.7,114335,0.0,4.6,2014,01001
18,1400000US,48113001002,"Census Tract 10.02, Dallas County, Texas",2112,947,44.8,1165,55.2,30.1,85.3,...,41.2,1829,1829,78.1,2.1,76658,4.9,9.0,2014,01002
19,1400000US,48113001101,"Census Tract 11.01, Dallas County, Texas",3453,1647,47.7,1806,52.3,32.0,88.8,...,29.9,3095,3095,81.0,5.1,92545,13.5,14.4,2014,01101
20,1400000US,48113001102,"Census Tract 11.02, Dallas County, Texas",2541,1254,49.4,1287,50.6,34.3,82.0,...,9.1,2084,2084,80.9,4.6,141117,0.0,0.8,2014,01102
21,1400000US,48113001202,"Census Tract 12.02, Dallas County, Texas",3468,1742,50.2,1726,49.8,30.0,77.9,...,34.5,2732,2732,79.8,3.0,74486,23.0,20.7,2014,01202
22,1400000US,48113001203,"Census Tract 12.03, Dallas County, Texas",1599,814,50.9,785,49.1,36.7,79.0,...,65.4,1321,1321,67.8,4.4,78562,19.2,16.9,2014,01203
23,1400000US,48113001204,"Census Tract 12.04, Dallas County, Texas",3069,1494,48.7,1575,51.3,25.4,68.4,...,94.4,2254,2254,45.9,8.9,47814,32.4,27.5,2014,01204
24,1400000US,48113001301,"Census Tract 13.01, Dallas County, Texas",2393,1210,50.6,1183,49.4,37.7,81.5,...,16.0,1964,1964,60.0,3.2,70719,8.3,14.6,2014,01301
25,1400000US,48113001302,"Census Tract 13.02, Dallas County, Texas",2249,1368,60.8,881,39.2,33.5,75.5,...,49.6,1720,1720,67.6,5.9,65592,21.0,17.0,2014,01302
26,1400000US,48113001400,"Census Tract 14, Dallas County, Texas",3771,2123,56.3,1648,43.7,31.6,80.9,...,43.6,3089,3089,64.6,8.2,63785,23.5,26.6,2014,01400
27,1400000US,48113001502,"Census Tract 15.02, Dallas County, Texas",3076,1661,54.0,1415,46.0,31.2,78.3,...,59.2,2446,2446,72.6,4.9,57759,28.6,28.9,2014,01502
28,1400000US,48113001503,"Census Tract 15.03, Dallas County, Texas",3291,1917,58.2,1374,41.8,31.8,75.7,...,67.1,2564,2564,61.0,8.5,33962,56.7,56.8,2014,01503
29,1400000US,48113001504,"Census Tract 15.04, Dallas County, Texas",2570,1464,57.0,1106,43.0,34.4,85.4,...,35.3,2240,2240,66.7,7.6,46034,22.8,31.2,2014,01504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,1400000US,48113019100,"Census Tract 191, Dallas County, Texas",6222,3089,49.6,3133,50.4,33.7,78.8,...,14.4,5019,5019,68.1,3.1,74960,9.1,14.9,2017,19100
500,1400000US,48113019202,"Census Tract 192.02, Dallas County, Texas",5515,2710,49.1,2805,50.9,31.5,67.7,...,37.4,3877,3877,66.8,4.0,71855,22.3,27.2,2017,19202
501,1400000US,48113019203,"Census Tract 192.03, Dallas County, Texas",3781,1749,46.3,2032,53.7,43.7,79.1,...,5.6,3127,3127,60.4,1.3,101910,4.8,6.7,2017,19203
502,1400000US,48113019204,"Census Tract 192.04, Dallas County, Texas",9901,5011,50.6,4890,49.4,29.6,69.0,...,53.2,7375,7375,71.9,4.9,79545,11.4,14.2,2017,19204
503,1400000US,48113019205,"Census Tract 192.05, Dallas County, Texas",3757,1693,45.1,2064,54.9,44.9,77.4,...,3.0,2981,2981,63.7,0.7,124611,1.0,2.6,2017,19205
504,1400000US,48113019206,"Census Tract 192.06, Dallas County, Texas",6521,2999,46.0,3522,54.0,30.5,86.9,...,20.0,5743,5743,52.0,3.6,63451,2.6,23.1,2017,19206
505,1400000US,48113019208,"Census Tract 192.08, Dallas County, Texas",6809,3479,51.1,3330,48.9,24.9,62.5,...,65.3,4492,4492,73.5,5.9,46472,24.1,24.9,2017,19208
506,1400000US,48113019210,"Census Tract 192.10, Dallas County, Texas",4114,2136,51.9,1978,48.1,44.1,76.0,...,3.2,3194,3194,60.1,3.2,169735,2.7,3.3,2017,19210
507,1400000US,48113019211,"Census Tract 192.11, Dallas County, Texas",5644,2808,49.8,2836,50.2,42.8,74.6,...,24.5,4381,4381,61.7,2.2,65175,1.6,8.2,2017,19211
508,1400000US,48113019212,"Census Tract 192.12, Dallas County, Texas",4278,2371,55.4,1907,44.6,22.2,55.8,...,93.4,2566,2566,74.8,11.2,33056,45.1,44.9,2017,19212
509,1400000US,48113019213,"Census Tract 192.13, Dallas County, Texas",3615,1976,54.7,1639,45.3,31.9,73.0,...,59.7,2695,2695,54.0,4.7,29097,39.5,39.1,2017,19213
510,1400000US,48113019301,"Census Tract 193.01, Dallas County, Texas",3106,1449,46.7,1657,53.3,40.8,68.4,...,3.4,2227,2227,65.3,2.9,350834,1.3,1.9,2017,19301
511,1400000US,48113019302,"Census Tract 193.02, Dallas County, Texas",5375,2641,49.1,2734,50.9,20.3,82.9,...,11.3,4604,4604,45.6,1.9,235718,2.7,10.3,2017,19302
512,1400000US,48113019400,"Census Tract 194, Dallas County, Texas",4251,1935,45.5,2316,54.5,38.3,69.5,...,3.1,3154,3154,61.2,0.8,300720,2.7,6.5,2017,19400
513,1400000US,48113019501,"Census Tract 195.01, Dallas County, Texas",7544,3426,45.4,4118,54.6,38.2,62.5,...,4.1,4959,4959,57.1,1.8,368434,1.5,1.2,2017,19501
514,1400000US,48113019502,"Census Tract 195.02, Dallas County, Texas",4407,1984,45.0,2423,55.0,40.8,69.3,...,5.5,3252,3252,62.5,1.8,236404,2.6,3.4,2017,19502
515,1400000US,48113019600,"Census Tract 196, Dallas County, Texas",2156,985,45.7,1171,54.3,48.7,76.0,...,3.4,1699,1699,56.4,1.8,330701,0.8,2.0,2017,19600
516,1400000US,48113019700,"Census Tract 197, Dallas County, Texas",1838,881,47.9,957,52.1,51.3,76.3,...,1.5,1438,1438,53.0,1.0,497033,3.0,7.2,2017,19700
517,1400000US,48113019800,"Census Tract 198, Dallas County, Texas",5077,2504,49.3,2573,50.7,44.1,71.2,...,4.7,3695,3695,59.7,4.0,319016,0.7,2.1,2017,19800
518,1400000US,48113019900,"Census Tract 199, Dallas County, Texas",4273,2196,51.4,2077,48.6,32.3,70.4,...,92.3,3084,3084,62.4,4.3,52507,13.0,14.1,2017,19900
519,1400000US,48113020000,"Census Tract 200, Dallas County, Texas",4788,2534,52.9,2254,47.1,39.1,66.5,...,10.8,3428,3428,73.9,3.5,178191,0.0,0.1,2017,20000
520,1400000US,48113020100,"Census Tract 201, Dallas County, Texas",2384,1164,48.8,1220,51.2,34.6,72.5,...,65.7,1776,1776,60.0,7.9,63874,19.5,19.7,2017,20100
521,1400000US,48113020200,"Census Tract 202, Dallas County, Texas",3850,1856,48.2,1994,51.8,37.6,80.0,...,19.4,3127,3127,45.3,6.0,36197,29.0,34.2,2017,20200
522,1400000US,48113020300,"Census Tract 203, Dallas County, Texas",2290,942,41.1,1348,58.9,44.5,85.4,...,6.7,1974,1974,45.9,1.6,32711,20.4,33.9,2017,20300
523,1400000US,48113020400,"Census Tract 204, Dallas County, Texas",7504,4013,53.5,3491,46.5,35.8,96.0,...,25.9,7203,7203,69.0,4.2,84713,8.4,32.1,2017,20400
524,1400000US,48113020500,"Census Tract 205, Dallas County, Texas",5672,2245,39.6,3427,60.4,22.8,57.3,...,24.8,3557,3557,40.0,8.9,27534,53.3,57.7,2017,20500
525,1400000US,48113020600,"Census Tract 206, Dallas County, Texas",2217,1028,46.4,1189,53.6,51.4,80.2,...,7.8,1933,1933,47.9,1.1,466855,0.9,2.2,2017,20600
526,1400000US,48113020700,"Census Tract 207, Dallas County, Texas",4455,1746,39.2,2709,60.8,49.6,88.8,...,22.6,3992,3992,70.8,2.3,81709,4.9,8.5,2017,20700
527,1400000US48113980000,48113980000,"Census Tract 9800, Dallas County, Texas",0,0,-,0,-,-,-,...,-,0,0,-,-,-,-,-,2017,None
528,1400000US48113980100,48113980100,"Census Tract 9801, Dallas County, Texas",0,0,-,0,-,-,-,...,-,0,0,-,-,-,-,-,2017,None

In [385]:
# Need to get rid of leading zeros in tract so we can merge tract and zipcode together
census_df['tract'] = census_df['tract'].str.lstrip('0')

In [300]:
census_df

,id,id2,geography,total_pop,male,%_male,female,%_female,median_age,18_&_over,...,%_hispanic,pop_over_16,%_pop_over_16,%_employed,%_unemployed,mean_household_income,%_families_poverty,%_all_people_poverty,year,tract
0,1400000US,48113000100,"Census Tract 1, Dallas County, Texas",3923,1974,50.3,1949,49.7,39.7,80.8,...,11.2,3234,3234,71.8,3.6,162983,4.4,6.8,2014,100
1,1400000US,48113000201,"Census Tract 2.01, Dallas County, Texas",2927,1396,47.7,1531,52.3,36.6,77.1,...,14.4,2288,2288,70.2,1.0,130061,4.1,5.1,2014,201
2,1400000US,48113000202,"Census Tract 2.02, Dallas County, Texas",3465,1762,50.9,1703,49.1,35.3,83.7,...,15.0,2926,2926,84.3,4.1,120322,1.6,2.9,2014,202
3,1400000US,48113000300,"Census Tract 3, Dallas County, Texas",4243,2415,56.9,1828,43.1,32.1,87.5,...,10.6,3721,3721,80.2,3.4,130318,2.7,8.3,2014,300
4,1400000US,48113000401,"Census Tract 4.01, Dallas County, Texas",5816,3281,56.4,2535,43.6,32.3,80.0,...,47.0,4724,4724,53.9,3.2,56284,23.6,35.8,2014,401
5,1400000US,48113000404,"Census Tract 4.04, Dallas County, Texas",3630,2138,58.9,1492,41.1,37.8,85.2,...,49.1,3206,3206,67.3,3.3,64360,13.6,15.0,2014,404
6,1400000US,48113000405,"Census Tract 4.05, Dallas County, Texas",2222,1306,58.8,916,41.2,32.0,81.1,...,41.0,1817,1817,74.5,4.3,40875,24.9,33.6,2014,405
7,1400000US,48113000406,"Census Tract 4.06, Dallas County, Texas",7824,4232,54.1,3592,45.9,29.9,73.3,...,72.6,5922,5922,62.0,4.5,53948,16.6,23.1,2014,406
8,1400000US,48113000500,"Census Tract 5, Dallas County, Texas",4441,2718,61.2,1723,38.8,41.6,93.7,...,41.9,4160,4160,78.8,3.7,90279,22.4,17.9,2014,500
9,1400000US,48113000601,"Census Tract 6.01, Dallas County, Texas",6450,3553,55.1,2897,44.9,30.8,76.7,...,53.7,5123,5123,68.6,4.8,69227,20.8,27.9,2014,601
10,1400000US,48113000603,"Census Tract 6.03, Dallas County, Texas",4033,2065,51.2,1968,48.8,37.3,94.0,...,18.1,3809,3809,87.9,0.4,125722,0.0,6.0,2014,603
11,1400000US,48113000605,"Census Tract 6.05, Dallas County, Texas",2250,1136,50.5,1114,49.5,38.4,96.9,...,18.0,2181,2181,80.2,3.1,116783,8.7,11.9,2014,605
12,1400000US,48113000606,"Census Tract 6.06, Dallas County, Texas",3024,1636,54.1,1388,45.9,55.1,98.1,...,6.9,2966,2966,69.3,4.1,139880,3.2,3.8,2014,606
13,1400000US,48113000701,"Census Tract 7.01, Dallas County, Texas",4559,2175,47.7,2384,52.3,30.8,94.8,...,9.9,4340,4340,87.9,0.9,122778,4.5,7.3,2014,701
14,1400000US,48113000702,"Census Tract 7.02, Dallas County, Texas",2790,1487,53.3,1303,46.7,31.7,93.7,...,13.8,2615,2615,81.2,3.3,96378,0.0,6.5,2014,702
15,1400000US,48113000800,"Census Tract 8, Dallas County, Texas",6656,3833,57.6,2823,42.4,29.1,80.9,...,56.5,5515,5515,70.6,5.6,56707,19.0,22.2,2014,800
16,1400000US,48113000900,"Census Tract 9, Dallas County, Texas",4225,2229,52.8,1996,47.2,30.4,85.4,...,51.0,3675,3675,72.5,6.0,54004,53.9,39.6,2014,900
17,1400000US,48113001001,"Census Tract 10.01, Dallas County, Texas",1662,913,54.9,749,45.1,38.8,87.1,...,17.5,1461,1461,69.2,0.7,114335,0.0,4.6,2014,1001
18,1400000US,48113001002,"Census Tract 10.02, Dallas County, Texas",2112,947,44.8,1165,55.2,30.1,85.3,...,41.2,1829,1829,78.1,2.1,76658,4.9,9.0,2014,1002
19,1400000US,48113001101,"Census Tract 11.01, Dallas County, Texas",3453,1647,47.7,1806,52.3,32.0,88.8,...,29.9,3095,3095,81.0,5.1,92545,13.5,14.4,2014,1101
20,1400000US,48113001102,"Census Tract 11.02, Dallas County, Texas",2541,1254,49.4,1287,50.6,34.3,82.0,...,9.1,2084,2084,80.9,4.6,141117,0.0,0.8,2014,1102
21,1400000US,48113001202,"Census Tract 12.02, Dallas County, Texas",3468,1742,50.2,1726,49.8,30.0,77.9,...,34.5,2732,2732,79.8,3.0,74486,23.0,20.7,2014,1202
22,1400000US,48113001203,"Census Tract 12.03, Dallas County, Texas",1599,814,50.9,785,49.1,36.7,79.0,...,65.4,1321,1321,67.8,4.4,78562,19.2,16.9,2014,1203
23,1400000US,48113001204,"Census Tract 12.04, Dallas County, Texas",3069,1494,48.7,1575,51.3,25.4,68.4,...,94.4,2254,2254,45.9,8.9,47814,32.4,27.5,2014,1204
24,1400000US,48113001301,"Census Tract 13.01, Dallas County, Texas",2393,1210,50.6,1183,49.4,37.7,81.5,...,16.0,1964,1964,60.0,3.2,70719,8.3,14.6,2014,1301
25,1400000US,48113001302,"Census Tract 13.02, Dallas County, Texas",2249,1368,60.8,881,39.2,33.5,75.5,...,49.6,1720,1720,67.6,5.9,65592,21.0,17.0,2014,1302
26,1400000US,48113001400,"Census Tract 14, Dallas County, Texas",3771,2123,56.3,1648,43.7,31.6,80.9,...,43.6,3089,3089,64.6,8.2,63785,23.5,26.6,2014,1400
27,1400000US,48113001502,"Census Tract 15.02, Dallas County, Texas",3076,1661,54.0,1415,46.0,31.2,78.3,...,59.2,2446,2446,72.6,4.9,57759,28.6,28.9,2014,1502
28,1400000US,48113001503,"Census Tract 15.03, Dallas County, Texas",3291,1917,58.2,1374,41.8,31.8,75.7,...,67.1,2564,2564,61.0,8.5,33962,56.7,56.8,2014,1503
29,1400000US,48113001504,"Census Tract 15.04, Dallas County, Texas",2570,1464,57.0,1106,43.0,34.4,85.4,...,35.3,2240,2240,66.7,7.6,46034,22.8,31.2,2014,1504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,1400000US,48113019100,"Census Tract 191, Dallas County, Texas",6222,3089,49.6,3133,50.4,33.7,78.8,...,14.4,5019,5019,68.1,3.1,74960,9.1,14.9,2017,19100
500,1400000US,48113019202,"Census Tract 192.02, Dallas County, Texas",5515,2710,49.1,2805,50.9,31.5,67.7,...,37.4,3877,3877,66.8,4.0,71855,22.3,27.2,2017,19202
501,1400000US,48113019203,"Census Tract 192.03, Dallas County, Texas",3781,1749,46.3,2032,53.7,43.7,79.1,...,5.6,3127,3127,60.4,1.3,101910,4.8,6.7,2017,19203
502,1400000US,48113019204,"Census Tract 192.04, Dallas County, Texas",9901,5011,50.6,4890,49.4,29.6,69.0,...,53.2,7375,7375,71.9,4.9,79545,11.4,14.2,2017,19204
503,1400000US,48113019205,"Census Tract 192.05, Dallas County, Texas",3757,1693,45.1,2064,54.9,44.9,77.4,...,3.0,2981,2981,63.7,0.7,124611,1.0,2.6,2017,19205
504,1400000US,48113019206,"Census Tract 192.06, Dallas County, Texas",6521,2999,46.0,3522,54.0,30.5,86.9,...,20.0,5743,5743,52.0,3.6,63451,2.6,23.1,2017,19206
505,1400000US,48113019208,"Census Tract 192.08, Dallas County, Texas",6809,3479,51.1,3330,48.9,24.9,62.5,...,65.3,4492,4492,73.5,5.9,46472,24.1,24.9,2017,19208
506,1400000US,48113019210,"Census Tract 192.10, Dallas County, Texas",4114,2136,51.9,1978,48.1,44.1,76.0,...,3.2,3194,3194,60.1,3.2,169735,2.7,3.3,2017,19210
507,1400000US,48113019211,"Census Tract 192.11, Dallas County, Texas",5644,2808,49.8,2836,50.2,42.8,74.6,...,24.5,4381,4381,61.7,2.2,65175,1.6,8.2,2017,19211
508,1400000US,48113019212,"Census Tract 192.12, Dallas County, Texas",4278,2371,55.4,1907,44.6,22.2,55.8,...,93.4,2566,2566,74.8,11.2,33056,45.1,44.9,2017,19212
509,1400000US,48113019213,"Census Tract 192.13, Dallas County, Texas",3615,1976,54.7,1639,45.3,31.9,73.0,...,59.7,2695,2695,54.0,4.7,29097,39.5,39.1,2017,19213
510,1400000US,48113019301,"Census Tract 193.01, Dallas County, Texas",3106,1449,46.7,1657,53.3,40.8,68.4,...,3.4,2227,2227,65.3,2.9,350834,1.3,1.9,2017,19301
511,1400000US,48113019302,"Census Tract 193.02, Dallas County, Texas",5375,2641,49.1,2734,50.9,20.3,82.9,...,11.3,4604,4604,45.6,1.9,235718,2.7,10.3,2017,19302
512,1400000US,48113019400,"Census Tract 194, Dallas County, Texas",4251,1935,45.5,2316,54.5,38.3,69.5,...,3.1,3154,3154,61.2,0.8,300720,2.7,6.5,2017,19400
513,1400000US,48113019501,"Census Tract 195.01, Dallas County, Texas",7544,3426,45.4,4118,54.6,38.2,62.5,...,4.1,4959,4959,57.1,1.8,368434,1.5,1.2,2017,19501
514,1400000US,48113019502,"Census Tract 195.02, Dallas County, Texas",4407,1984,45.0,2423,55.0,40.8,69.3,...,5.5,3252,3252,62.5,1.8,236404,2.6,3.4,2017,19502
515,1400000US,48113019600,"Census Tract 196, Dallas County, Texas",2156,985,45.7,1171,54.3,48.7,76.0,...,3.4,1699,1699,56.4,1.8,330701,0.8,2.0,2017,19600
516,1400000US,48113019700,"Census Tract 197, Dallas County, Texas",1838,881,47.9,957,52.1,51.3,76.3,...,1.5,1438,1438,53.0,1.0,497033,3.0,7.2,2017,19700
517,1400000US,48113019800,"Census Tract 198, Dallas County, Texas",5077,2504,49.3,2573,50.7,44.1,71.2,...,4.7,3695,3695,59.7,4.0,319016,0.7,2.1,2017,19800
518,1400000US,48113019900,"Census Tract 199, Dallas County, Texas",4273,2196,51.4,2077,48.6,32.3,70.4,...,92.3,3084,3084,62.4,4.3,52507,13.0,14.1,2017,19900
519,1400000US,48113020000,"Census Tract 200, Dallas County, Texas",4788,2534,52.9,2254,47.1,39.1,66.5,...,10.8,3428,3428,73.9,3.5,178191,0.0,0.1,2017,20000
520,1400000US,48113020100,"Census Tract 201, Dallas County, Texas",2384,1164,48.8,1220,51.2,34.6,72.5,...,65.7,1776,1776,60.0,7.9,63874,19.5,19.7,2017,20100
521,1400000US,48113020200,"Census Tract 202, Dallas County, Texas",3850,1856,48.2,1994,51.8,37.6,80.0,...,19.4,3127,3127,45.3,6.0,36197,29.0,34.2,2017,20200
522,1400000US,48113020300,"Census Tract 203, Dallas County, Texas",2290,942,41.1,1348,58.9,44.5,85.4,...,6.7,1974,1974,45.9,1.6,32711,20.4,33.9,2017,20300
523,1400000US,48113020400,"Census Tract 204, Dallas County, Texas",7504,4013,53.5,3491,46.5,35.8,96.0,...,25.9,7203,7203,69.0,4.2,84713,8.4,32.1,2017,20400
524,1400000US,48113020500,"Census Tract 205, Dallas County, Texas",5672,2245,39.6,3427,60.4,22.8,57.3,...,24.8,3557,3557,40.0,8.9,27534,53.3,57.7,2017,20500
525,1400000US,48113020600,"Census Tract 206, Dallas County, Texas",2217,1028,46.4,1189,53.6,51.4,80.2,...,7.8,1933,1933,47.9,1.1,466855,0.9,2.2,2017,20600
526,1400000US,48113020700,"Census Tract 207, Dallas County, Texas",4455,1746,39.2,2709,60.8,49.6,88.8,...,22.6,3992,3992,70.8,2.3,81709,4.9,8.5,2017,20700
527,1400000US48113980000,48113980000,"Census Tract 9800, Dallas County, Texas",0,0,-,0,-,-,-,...,-,0,0,-,-,-,-,-,2017,None
528,1400000US48113980100,48113980100,"Census Tract 9801, Dallas County, Texas",0,0,-,0,-,-,-,...,-,0,0,-,-,-,-,-,2017,None

In [386]:
census_df['tract']= pd.to_numeric(census_df['tract'])

In [387]:
census_df= census_df.dropna()

In [388]:
# Trying out a mock dataframe for my merge first
census_df= census_df.join(dallas_zips.set_index('tract'),on= 'tract', how = 'left')

In [389]:
census_df

,id,id2,geography,total_pop,male,%_male,female,%_female,median_age,18_&_over,...,pop_over_16,%_pop_over_16,%_employed,%_unemployed,mean_household_income,%_families_poverty,%_all_people_poverty,year,tract,zip_code
0,1400000US,48113000100,"Census Tract 1, Dallas County, Texas",3923,1974,50.3,1949,49.7,39.7,80.8,...,3234,3234,71.8,3.6,162983,4.4,6.8,2014,100.0,75214.0
1,1400000US,48113000201,"Census Tract 2.01, Dallas County, Texas",2927,1396,47.7,1531,52.3,36.6,77.1,...,2288,2288,70.2,1.0,130061,4.1,5.1,2014,201.0,75206.0
1,1400000US,48113000201,"Census Tract 2.01, Dallas County, Texas",2927,1396,47.7,1531,52.3,36.6,77.1,...,2288,2288,70.2,1.0,130061,4.1,5.1,2014,201.0,75214.0
2,1400000US,48113000202,"Census Tract 2.02, Dallas County, Texas",3465,1762,50.9,1703,49.1,35.3,83.7,...,2926,2926,84.3,4.1,120322,1.6,2.9,2014,202.0,75206.0
3,1400000US,48113000300,"Census Tract 3, Dallas County, Texas",4243,2415,56.9,1828,43.1,32.1,87.5,...,3721,3721,80.2,3.4,130318,2.7,8.3,2014,300.0,75205.0
3,1400000US,48113000300,"Census Tract 3, Dallas County, Texas",4243,2415,56.9,1828,43.1,32.1,87.5,...,3721,3721,80.2,3.4,130318,2.7,8.3,2014,300.0,75206.0
4,1400000US,48113000401,"Census Tract 4.01, Dallas County, Texas",5816,3281,56.4,2535,43.6,32.3,80.0,...,4724,4724,53.9,3.2,56284,23.6,35.8,2014,401.0,75219.0
4,1400000US,48113000401,"Census Tract 4.01, Dallas County, Texas",5816,3281,56.4,2535,43.6,32.3,80.0,...,4724,4724,53.9,3.2,56284,23.6,35.8,2014,401.0,75235.0
5,1400000US,48113000404,"Census Tract 4.04, Dallas County, Texas",3630,2138,58.9,1492,41.1,37.8,85.2,...,3206,3206,67.3,3.3,64360,13.6,15.0,2014,404.0,75219.0
5,1400000US,48113000404,"Census Tract 4.04, Dallas County, Texas",3630,2138,58.9,1492,41.1,37.8,85.2,...,3206,3206,67.3,3.3,64360,13.6,15.0,2014,404.0,75235.0
6,1400000US,48113000405,"Census Tract 4.05, Dallas County, Texas",2222,1306,58.8,916,41.2,32.0,81.1,...,1817,1817,74.5,4.3,40875,24.9,33.6,2014,405.0,75219.0
7,1400000US,48113000406,"Census Tract 4.06, Dallas County, Texas",7824,4232,54.1,3592,45.9,29.9,73.3,...,5922,5922,62.0,4.5,53948,16.6,23.1,2014,406.0,75209.0
7,1400000US,48113000406,"Census Tract 4.06, Dallas County, Texas",7824,4232,54.1,3592,45.9,29.9,73.3,...,5922,5922,62.0,4.5,53948,16.6,23.1,2014,406.0,75220.0
7,1400000US,48113000406,"Census Tract 4.06, Dallas County, Texas",7824,4232,54.1,3592,45.9,29.9,73.3,...,5922,5922,62.0,4.5,53948,16.6,23.1,2014,406.0,75235.0
8,1400000US,48113000500,"Census Tract 5, Dallas County, Texas",4441,2718,61.2,1723,38.8,41.6,93.7,...,4160,4160,78.8,3.7,90279,22.4,17.9,2014,500.0,75201.0
8,1400000US,48113000500,"Census Tract 5, Dallas County, Texas",4441,2718,61.2,1723,38.8,41.6,93.7,...,4160,4160,78.8,3.7,90279,22.4,17.9,2014,500.0,75219.0
9,1400000US,48113000601,"Census Tract 6.01, Dallas County, Texas",6450,3553,55.1,2897,44.9,30.8,76.7,...,5123,5123,68.6,4.8,69227,20.8,27.9,2014,601.0,75209.0
9,1400000US,48113000601,"Census Tract 6.01, Dallas County, Texas",6450,3553,55.1,2897,44.9,30.8,76.7,...,5123,5123,68.6,4.8,69227,20.8,27.9,2014,601.0,75219.0
9,1400000US,48113000601,"Census Tract 6.01, Dallas County, Texas",6450,3553,55.1,2897,44.9,30.8,76.7,...,5123,5123,68.6,4.8,69227,20.8,27.9,2014,601.0,75235.0
10,1400000US,48113000603,"Census Tract 6.03, Dallas County, Texas",4033,2065,51.2,1968,48.8,37.3,94.0,...,3809,3809,87.9,0.4,125722,0.0,6.0,2014,603.0,75219.0
11,1400000US,48113000605,"Census Tract 6.05, Dallas County, Texas",2250,1136,50.5,1114,49.5,38.4,96.9,...,2181,2181,80.2,3.1,116783,8.7,11.9,2014,605.0,75219.0
12,1400000US,48113000606,"Census Tract 6.06, Dallas County, Texas",3024,1636,54.1,1388,45.9,55.1,98.1,...,2966,2966,69.3,4.1,139880,3.2,3.8,2014,606.0,75204.0
12,1400000US,48113000606,"Census Tract 6.06, Dallas County, Texas",3024,1636,54.1,1388,45.9,55.1,98.1,...,2966,2966,69.3,4.1,139880,3.2,3.8,2014,606.0,75205.0
12,1400000US,48113000606,"Census Tract 6.06, Dallas County, Texas",3024,1636,54.1,1388,45.9,55.1,98.1,...,2966,2966,69.3,4.1,139880,3.2,3.8,2014,606.0,75219.0
13,1400000US,48113000701,"Census Tract 7.01, Dallas County, Texas",4559,2175,47.7,2384,52.3,30.8,94.8,...,4340,4340,87.9,0.9,122778,4.5,7.3,2014,701.0,75204.0
14,1400000US,48113000702,"Census Tract 7.02, Dallas County, Texas",2790,1487,53.3,1303,46.7,31.7,93.7,...,2615,2615,81.2,3.3,96378,0.0,6.5,2014,702.0,75204.0
14,1400000US,48113000702,"Census Tract 7.02, Dallas County, Texas",2790,1487,53.3,1303,46.7,31.7,93.7,...,2615,2615,81.2,3.3,96378,0.0,6.5,2014,702.0,75205.0
15,1400000US,48113000800,"Census Tract 8, Dallas County, Texas",6656,3833,57.6,2823,42.4,29.1,80.9,...,5515,5515,70.6,5.6,56707,19.0,22.2,2014,800.0,75204.0
16,1400000US,48113000900,"Census Tract 9, Dallas County, Texas",4225,2229,52.8,1996,47.2,30.4,85.4,...,3675,3675,72.5,6.0,54004,53.9,39.6,2014,900.0,75204.0
16,1400000US,48113000900,"Census Tract 9, Dallas County, Texas",4225,2229,52.8,1996,47.2,30.4,85.4,...,3675,3675,72.5,6.0,54004,53.9,39.6,2014,900.0,75206.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,1400000US,48113019302,"Census Tract 193.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,4604,65,2,235718,35,26,2017,19302.0,75206.0
511,1400000US,48113019302,"Census Tract 193.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,4604,65,2,235718,35,26,2017,19302.0,75225.0
512,1400000US,48113019400,"Census Tract 194, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,3154,65,2,300720,35,26,2017,19400.0,75205.0
512,1400000US,48113019400,"Census Tract 194, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,3154,65,2,300720,35,26,2017,19400.0,75225.0
513,1400000US,48113019501,"Census Tract 195.01, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,4959,65,2,368434,35,26,2017,19501.0,75225.0
514,1400000US,48113019502,"Census Tract 195.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,3252,65,2,236404,35,26,2017,19502.0,75205.0
514,1400000US,48113019502,"Census Tract 195.02, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,3252,65,2,236404,35,26,2017,19502.0,75225.0
515,1400000US,48113019600,"Census Tract 196, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,1699,65,2,330701,35,26,2017,19600.0,75205.0
516,1400000US,48113019700,"Census Tract 197, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,1438,65,2,497033,35,26,2017,19700.0,75205.0
517,1400000US,48113019800,"Census Tract 198, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,3695,65,2,319016,35,26,2017,19800.0,75205.0
517,1400000US,48113019800,"Census Tract 198, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,3695,65,2,319016,35,26,2017,19800.0,75209.0
517,1400000US,48113019800,"Census Tract 198, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,3695,65,2,319016,35,26,2017,19800.0,75219.0
518,1400000US,48113019900,"Census Tract 199, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,3084,65,2,52507,35,26,2017,19900.0,75211.0
519,1400000US,48113020000,"Census Tract 200, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,3428,65,2,178191,35,26,2017,20000.0,NaN
520,1400000US,48113020100,"Census Tract 201, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,1776,65,2,63874,35,26,2017,20100.0,NaN
521,1400000US,48113020200,"Census Tract 202, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,3127,65,2,36197,35,26,2017,20200.0,75216.0
521,1400000US,48113020200,"Census Tract 202, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,3127,65,2,36197,35,26,2017,20200.0,75241.0
522,1400000US,48113020300,"Census Tract 203, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,1974,65,2,32711,35,26,2017,20300.0,75210.0
522,1400000US,48113020300,"Census Tract 203, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,1974,65,2,32711,35,26,2017,20300.0,75215.0
522,1400000US,48113020300,"Census Tract 203, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,1974,65,2,32711,35,26,2017,20300.0,75226.0
523,1400000US,48113020400,"Census Tract 204, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,7203,65,2,84713,35,26,2017,20400.0,75201.0
523,1400000US,48113020400,"Census Tract 204, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,7203,65,2,84713,35,26,2017,20400.0,75202.0
523,1400000US,48113020400,"Census Tract 204, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,7203,65,2,84713,35,26,2017,20400.0,75207.0
523,1400000US,48113020400,"Census Tract 204, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,7203,65,2,84713,35,26,2017,20400.0,75215.0
523,1400000US,48113020400,"Census Tract 204, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,7203,65,2,84713,35,26,2017,20400.0,75226.0
524,1400000US,48113020500,"Census Tract 205, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,3557,65,2,27534,35,26,2017,20500.0,75212.0
525,1400000US,48113020600,"Census Tract 206, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,1933,65,2,466855,35,26,2017,20600.0,75220.0
525,1400000US,48113020600,"Census Tract 206, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,1933,65,2,466855,35,26,2017,20600.0,75225.0
525,1400000US,48113020600,"Census Tract 206, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,1933,65,2,466855,35,26,2017,20600.0,75229.0
526,1400000US,48113020700,"Census Tract 207, Dallas County, Texas",2637772,1301856,49,1335916,50,33,73,...,2022625,3992,65,2,81709,35,26,2017,20700.0,NaN

In [390]:
# Getting rid of census tracts that are outside of the city of Dallas limits
census_df= census_df.dropna()

## 8. Export Results to CSV
[Return to outline](#Working-Project-Outline)

In [391]:
# Exporting the final product!
census_df.to_csv('census_final.csv')

[Return to outline](#Working-Project-Outline)